openapi: 3.1.0
info:
  title: 'WellnessLiving public API'
  version: 1.1.20260605120600
  description: |
    WellnessLiving API is a RESTful way to access and manage your business data.
    Last updated at: 2026-06-05 12:06:00
servers:
  - url: https://us.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the United States data center'
  - url: https://au.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the Australia data center'
paths:
  '/Studio/Stand/Stand.json':
    delete:
      summary: ''
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
    get:
      summary: ''
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_stand_data:
                        type: [array, string, "null"]
                        description: 'Information about entities necessary for the functioning of the stand. Structure of an array is identical to the <var>z_stand_data</var> field of the {@link \Studio\Stand\StandSql} table. `string` if it needs to set an empty value. `null` will not change.'
                      id_stand_status:
                        type: [number, "null"]
                        description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
      tags:
        - Stand-Stand
    post:
      summary: 'Registers a new stand and generates a URL for its creation.'
      parameters:
        - name: k_microservice_primary
          in: query
          description: 'Primary microservice for the stand. Primary key in the {@link MicroserviceSql} table. The main microservice from which the stand is created; other microservices can be added if they are compatible with the primary one, see {@link StandApi::$json_stand_environment}. `null` if value is not defined. If the information is not provided as a request parameter, the stand will not be created.'
          schema:
            type: [string, "null"]
        - name: k_task
          in: query
          description: 'Task key within which a stand should be created. Primary key in the {@link \StudioTaskSql} table. `null` if not defined, in this case the stand name must be specified manually in {@link StandApi::$s_stand}.'
          schema:
            type: [string, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. Structure of an array is identical to the <var>z_stand_data</var> field of the {@link \Studio\Stand\StandSql} table. `string` if it needs to set an empty value. `null` will not change.'
                json_stand_environment:
                  type: [string, "null"]
                  description: 'A microservice environment for create stand. Each element of the array contains <dl> <dt>string <var>k_microservice</var></dt> <dd>Microservice key. Primary key in {@link MicroserviceSql} table.</dd> <dt>string <var>s_environment</var></dt> <dd>Environment name. See {@link MicroserviceSql}.`json_path`.</dd> </dl> `null` if the value is not defined. If the information is not provided as a request parameter, the stand will not be created.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_redirect:
                        type: string
                        description: 'Link to redirect for stand creation.'
      tags:
        - Stand-Stand
    put:
      summary: ''
      parameters:
        - name: id_stand_status
          in: query
          description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
          schema:
            type: [number, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. Structure of an array is identical to the <var>z_stand_data</var> field of the {@link \Studio\Stand\StandSql} table. `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
  '/Core/Request/Example.json':
    get:
      summary: 'Returns the example result for debugging.'
      parameters:
        - name: i_argument
          in: query
          description: 'Example argument.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      i_result:
                        type: number
                        format: int32
                        description: 'Example result.'
                      s_log:
                        type: string
                        description: 'Key of the log record written by the API controller.'
      tags:
        - Request-Example
  '/Core/Geo/Combobox.json':
    get:
      summary: 'Returns a list of cities to show in combobox list.'
      parameters:
        - name: id_locale
          in: query
          description: 'The locale ID used as a filter. The locale is generally a country. One of the {@link LocaleSid} constants. This will be `0` if all locations are searched.'
          schema:
            type: number
            format: int32
        - name: s_value
          in: query
          description: 'The city name (or a fragment of the city name) used for the search.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'A list of items to show in the combobox list. Each element of the array is a city matching the string with the following structure: <dl> <dt>string <var>s_value</var></dt> <dd>The human-readable name of the city, including the state/province and country.</dd> <dt>string <var>s_key</var></dt> <dd>The <var>k_city</var> value for the city.</dd> </dl>'
      tags:
        - Geo-Combobox
  '/Core/Sid/CoreSid.json':
    get:
      summary: 'Returns the list of all items for the given Sid class.'
      parameters:
        - name: s_class_name
          in: query
          description: 'Name of the Sid class to get list from. Should be a fully qualified class name and class should be a child of {@link CoreSid}.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'List of items. Keys are IDs, values are arrays with additional information: <dl> <dt>int <var>sid</var></dt> <dd>String ID.</dd> <dt>string <var>text_title</var></dt> <dd>Title of the ID.</dd> </dl>'
      tags:
        - Sid-CoreSid
  '/Core/WebSocket/Subscribe.json':
    post:
      summary: 'Checks whether a listener can subscribe to specified channel. Subscribes in a case of positive result.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_key:
                  type: array
                  description: 'Keys of the channel. Key is name of a key field in a channel controller. Value is its value. Subscriber will only receive notifications about events in which all these values equal values specified here.'
                cid_channel:
                  type: number
                  format: int32
                  description: 'Channel controller CID.'
                s_password:
                  type: string
                  description: 'Subscriber password.'
                s_token:
                  type: string
                  description: 'Request token. This token is only used for asynchronous functions, and identifies a specific request.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_message_broadcast:
                        type: array
                        description: 'All messages in queue. Key is a message key. Value is message data. When a client is initially subscribed for a WebSocket channel, entire message queue is sent to the client. This is needed to send message that were generated before a client has subscribed.'
      tags:
        - WebSocket-Subscribe
  '/Core/Captcha/CaptchaRequire.json':
    get:
      summary: 'Checks if a CAPTCHA is required for the given captcha type.'
      parameters:
        - name: a_arguments
          in: query
          description: 'Arguments for creating CAPTCHA object.'
          schema:
            type: array
        - name: cid_captcha
          in: query
          description: 'The CID of the CAPTCHA.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_enable_v3:
                        type: boolean
                        description: '`true` if enabled V3 captcha enabled. `false` if only V2 captcha enable.'
                      is_require:
                        type: boolean
                        description: 'This will be `true` if a CAPTCHA is required. Otherwise, this will be `false`.'
      tags:
        - Captcha-CaptchaRequire
  '/Core/Google/GoogleCaptcha.json':
    put:
      summary: 'Saves the user CAPTCHA token for the current session.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_version:
                  type: number
                  format: int32
                  description: 'Captcha version ID.'
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Google-GoogleCaptcha
  '/Social/Microsoft/Login.json':
    delete:
      summary: 'Removes the association between a website client and a Microsoft account.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
    get:
      summary: 'Collects data for the Microsoft login button.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_exists:
                        type: boolean
                        description: 'If `true`, the user has a bound Microsoft account. Otherwise, this will be `false`.'
                      url_login:
                        type: string
                        description: 'The Microsoft OAuth 2.0 authorization link.'
      tags:
        - Microsoft-Login
    post:
      summary: 'Signs a user in with Microsoft.'
      parameters:
        - name: is_external
          in: query
          description: 'If authorization is performed in a third-party application, set this flag in case of authorization errors.'
          schema:
            type: boolean
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_code:
                  type: string
                  description: 'The authorization code that the app requested.'
                s_state:
                  type: string
                  description: 'If a state parameter is included in the request, the same value should appear in the response. The app should verify that the state values in the request and response are identical.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
  '/Wl/Visit/VisitStatus.json':
    get:
      summary: 'Gets visit status.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: k_timezone
          in: query
          description: 'The time zone key. `null` if not set then use default timezone client. <i>See {@link ProfileTimezone::createInBusiness()}.</i>'
          schema:
            type: ["null", string]
        - name: k_visit
          in: query
          description: 'The visit key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_cancel:
                        type: array
                        description: 'Information about whether the given user can cancel an online booking and what consequences the cancellation would have: <dl> <dt> array|null `a_penalty` </dt> <dd> <dl> <dt>bool `is_flat`</dt> <dd>`true` in a case of flat penalty type; `false` in a case of percentage penalty type.</dd> <dt>string `k_currency`</dt> <dd>Currency <i>primary key in {@link \RsCurrencySql} table</i>.</dd> <dt>string `m_amount`</dt> <dd>Penalty amount.</dd> </dl> `null` if penalty must be not applied. </dd> <dt> bool `can_cancel` </dt> <dd> `true` if the booking can be canceled online by the specified user, `false` otherwise. </dd> <dt> bool `is_flag` </dt> <dd> `true` if the client''s account will be flagged instead of charging a monetary fee, `false` otherwise. </dd> <dt> bool `is_late` </dt> <dd> `true` if the cancellation would be considered a late cancel, `false` otherwise. </dd> <dt> bool `is_refund` </dt> <dd> `true` if the visit credit (from the purchase option used to book) will be returned to the user''s profile after cancellation, `false` otherwise. </dd> </dl>'
                      a_resource:
                        type: [array, "null"]
                        description: 'An array of service resources. The key refers to the `k_resource_type`. <i>See {@link \RsResourceTypeSql}.</i> The value is an array with the following key: `k_resource`. <i>See {@link \RsResourceSql}</i>. The array element contains a nested array with `i_index` and `i_quantity`. <i>See {@link \RsResourceBusySql}</i>. This will be empty if not set yet.'
                      a_resource_alias:
                        type: [array, "null"]
                        description: 'An array of service resources. Contains an extended data set, as well as a different format than {@link VisitStatusApi::$a_resource}. Each element contains the following set of data: <dl> <dt>string <var>k_resource</var></dt> <dd>Resource <i>primary key in {@link \RsResourceSql} table</i>.</dd> <dt>string <var>k_resource_type</var></dt> <dd>Resource type <i>primary key in {@link \RsResourceTypeSql} table</i>.</dd> <dt>int <var>i_index</var></dt> <dd>Index of the resource on the layout.</dd> <dt>int <var>i_quantity</var></dt> <dd>Quantity of the resource on the layout.</dd> <dt>string <var>text_alias</var></dt> <dd>Resource''s custom name (alias) on the layout.</dd> <dt>string <var>text_title</var></dt> <dd>Resource''s title.</dd> </dl>'
                      a_staff:
                        type: array
                        description: 'The list of keys of staff members that conduct the class.'
                      a_uid_staff:
                        type: array
                        description: 'The list of user IDs of staff members that conduct the class.'
                      dt_date:
                        type: string
                        description: 'The visit date and time in UTC and in MySQL format.'
                      dtl_date:
                        type: string
                        description: 'The visit date in the location''s time zone and in MySQL format.'
                      i_duration:
                        type: number
                        format: int32
                        description: 'The service duration (in minutes).'
                      i_wait_spot:
                        type: number
                        format: int32
                        description: 'The client''s place in a waiting list.'
                      id_mode:
                        type: number
                        format: int32
                        description: 'The source of the visit or the visit change. One of the {@link ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                      id_visit:
                        type: number
                        format: int32
                        description: 'The status of the visit. One of the {@link VisitSid} constants.'
                      is_event:
                        type: boolean
                        description: 'Determines whether the visit is from an event.'
                      is_request:
                        type: boolean
                        description: 'Whether this visit is requested and requires staff confirmation. * `true` - visit is requested. * `false` - visit is confirmed or denied or this is a system request.'
                      k_class:
                        type: string
                        description: 'The class key.'
                      k_class_period:
                        type: string
                        description: 'The class period key.'
                      k_location:
                        type: string
                        description: 'The key of the location where visit provides.'
                      k_service:
                        type: [string, "null"]
                        description: 'The service key. If ''null'', the visit isn''t from an appointment.'
                      k_staff:
                        type: [string, "null"]
                        description: 'The key of the staff providing the appointment. If `null`, the visit isn''t from an appointment (for example, the visit is from an asset).'
                      s_calendar_file_content:
                        type: string
                        description: 'The .ics file for adding the service to a phone calendar.'
                      text_abbr_timezone:
                        type: string
                        description: 'The text abbreviation of the time zone.'
                      text_location:
                        type: string
                        description: 'The full address of the location for the visit (not the name of the location).'
                      text_staff:
                        type: string
                        description: 'The full name of the staff member who conducts this visit. If there are several staff members conducting the visit, their names will all be listed and separated by commas.'
                      text_title:
                        type: string
                        description: 'The service title.'
                      uid:
                        type: [string, "null"]
                        description: 'User key who made a visit. `null` for a guest visit.'
                      uid_staff:
                        type: [string, "null"]
                        description: 'The ID of the user who is the staff providing the appointment. If `null`, the visit isn''t from an appointment (for example, the visit is from an asset).'
                      url_book_referral:
                        type: [string, "null"]
                        description: 'The direct link to start class/event booking on the WellnessLiving website. `null` for appointments/events/gym visits.'
                      url_book_referral_short:
                        type: [string, "null"]
                        description: 'The shortened direct link to start class/event booking on the WellnessLiving website. `null` for appointments/events/gym visits.'
                      url_virtual_service:
                        type: string
                        description: 'URL of virtual service. Empty if the visit is not virtual.'
      tags:
        - Visit-VisitStatus
    post:
      summary: 'Changes visit status.'
      parameters:
        - name: is_charge_fee
          in: query
          description: 'The staff decision to charge (or not charge) a penalty when a client meets late cancel/no-show requirements. If `true`, a late cancel fee should be charged. Otherwise, this will be `false`.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: k_mail_pattern_live
          in: query
          description: 'The email pattern key. If `null`, the live email pattern shouldn''t be used.'
          schema:
            type: [string, "null"]
        - name: k_visit
          in: query
          description: 'The visit key.'
          schema:
            type: string
        - name: text_reason
          in: query
          description: 'The reason the visit was canceled.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_mode:
                  type: number
                  format: int32
                  description: 'The source of the visit or the visit change. One of the {@link ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                id_visit:
                  type: number
                  format: int32
                  description: 'The status of the visit. One of the {@link VisitSid} constants.'
                id_visit_from:
                  type: [number, "null"]
                  description: 'The status of the visit from which the transition is made. One of the {@link VisitSid} constants. If the visit status is passed, it will be used to check with the actual status in the database. If `null`, the visit hasn''t yet passed. If the status of this parameter is out of date, the API call will refresh it.'
                is_mail:
                  type: boolean
                  description: 'Whether to send email notification. `true` - email notification will be sent. `false` - email notification will not be sent.'
                is_push:
                  type: boolean
                  description: 'Whether to send push notification. `true` - push notification will be sent. `false` - push notification will not be sent.'
                is_sms:
                  type: boolean
                  description: 'Whether to send sms notification. `true` - sms notification will be sent. `false` - sms notification will not be sent.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
                  - type: object
                    description: 'Error response.'
                    properties:
                      id_visit_from:
                        type: [number, "null"]
                        description: 'The status of the visit from which the transition is made. One of the {@link VisitSid} constants. If the visit status is passed, it will be used to check with the actual status in the database. If `null`, the visit hasn''t yet passed. If the status of this parameter is out of date, the API call will refresh it.'
      tags:
        - Visit-VisitStatus
  '/Wl/Event/EventCancelWhole.json':
    post:
      summary: 'Cancels book of event {@link EventCancelWholeApi::$k_class}.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'Key of the business in which the class resides.'
                k_class:
                  type: string
                  description: 'An event key.'
                uid:
                  type: string
                  description: 'A user key.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventCancelWhole
  '/Wl/Event/EventList.json':
    get:
      summary: 'Returns the list of events matching the specified filter parameters.'
      parameters:
        - name: a_class_filter
          in: query
          description: 'List of class keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_day
          in: query
          description: 'List of day the week applied by filter {@link \ADateWeekSid}.'
          schema:
            type: [array, "null"]
        - name: a_enrollment_block_filter
          in: query
          description: 'List of enrollment blocks keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_location
          in: query
          description: 'List of location keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_staff
          in: query
          description: 'List of staff keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_time
          in: query
          description: 'List of time day applied by filter {@link \RsScheduleTimeSid}.'
          schema:
            type: [array, "null"]
        - name: a_virtual
          in: query
          description: 'List of IDs to include/exclude virtual events. If the only ID is {@link YesNoSid::YES}, only virtual events are included. If the only ID is {@link YesNoSid::NO}, only in-person events are included. Otherwise, no filtering is done.'
          schema:
            type: [array, "null"]
        - name: dl_end
          in: query
          description: 'The end date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no end date.'
          schema:
            type: [string, "null"]
        - name: dl_start
          in: query
          description: 'The start date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no start date.'
          schema:
            type: [string, "null"]
        - name: id_flag
          in: query
          description: 'Defines how the event availability flag filter should be applied. One of {@link \AFlagSid} constants. * {@link \AFlagSid::ON} to show only available events. * {@link \AFlagSid::OFF} to show only unavailable events. * {@link \AFlagSid::ALL} to show all events (available and unavailable).'
          schema:
            type: number
            format: int32
        - name: is_backend
          in: query
          description: 'Determines whether the endpoint is used for backend mode.'
          schema:
            type: boolean
        - name: is_ignore_requirement
          in: query
          description: '`true` to show even event restricted by booking policies; `false` to show available events only.'
          schema:
            type: boolean
        - name: is_tab_all
          in: query
          description: 'Determines whether you need to retrieve a list of event sessions regardless of the tab specified in {@link EventListApi::$k_class_tab}. * <tt>true</tt> - retrieves a list regardless of the specified tab. * <tt>false</tt> - retrieves a list only for the specific tab.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The event business key to retrieve a list of all event sessions in business. `null` to retrieve events from {@link EventListApi::$k_location}.'
          schema:
            type: [string, "null"]
        - name: k_class
          in: query
          description: 'The event class key to retrieve a list of all event sessions of a specific class. `null` to retrieve a list of event sessions of all classes.'
          schema:
            type: [string, "null"]
        - name: k_class_tab
          in: query
          description: 'The class tab key to retrieve a list of event sessions from a specific tab only. An empty value to retrieve a list of event sessions that don''t belong to any tab. Will be ignored in next cases: * {@link EventListApi::$k_skin} specified. * {@link EventListApi::$is_tab_all} is <tt>true</tt>.'
          schema:
            type: string
        - name: k_location
          in: query
          description: 'The event location key to retrieve a list of all event sessions in a specific location. Required if {@link EventListApi::$k_business} isn''t specified. `null` if you need to retrieve a list of event sessions in all locations of {@link EventListApi::$k_business}.'
          schema:
            type: [string, "null"]
        - name: k_skin
          in: query
          description: 'The skin key if an event list is used for widget mode. {@link EventListApi::$k_class_tab} will be ignored for widget mode.'
          schema:
            type: string
        - name: text_search
          in: query
          description: 'Search string to filter events by name.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The user key. Required to apply specific user rules such as age restrictions.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_enrollment_block_list:
                        type: array
                        description: 'List of available enrollment blocks matching the requested parameters. Key is the enrollment block key. <i>Primary key in the {@link \RsEnrollmentBlockSql} table.</i> Value is the title of the first event found in that enrollment block.'
                      a_event_list:
                        type: array
                        description: 'A list of events corresponding to requested parameters. Each event will have the following keys: <dl> <dt>array `a_age_restriction`</dt> <dd> Information about age restrictions for this event. Has following structure: <dl> <dt>int|null `i_age_from`</dt> <dd> The minimum age for participation in the event. `null` if there''s no minimum age set or information isn''t available. </dd> <dt>int|null `i_age_to`</dt> <dd> The age limit for participation in the event. `null` if there''s no age limit set or information isn''t available. </dd> <dt>bool `is_age_public`</dt> <dd> `true` if age restrictions are public and available, `false` if they''re hidden. When restrictions are hidden and the current user isn''t a staff member, the age range will be empty. </dd> </dl> </dd> <dt>string[] `a_class_tab`</dt> <dd> The list of class tab keys that contain this event. <i>Each element is a primary key in the {@link \Wl\Classes\Tab\Sql\ClassTab\Sql} table.</i> </dd> <dt>array `a_logo`</dt> <dd> Information about the event''s logo. It will contain the following keys: <dl> <dt>int `i_height`</dt> <dd>The image height.</dd> <dt>int `i_height_src`</dt> <dd>The source image''s height.</dd> <dt>int `i_rotate`</dt> <dd>The angle which image was rotated compared to the original.</dd> <dt>int `i_width`</dt> <dd>The image width.</dd> <dt>int `i_width_src`</dt> <dd>The source image''s width.</dd> <dt>int `id_type_src`</dt> <dd>The image type ID. One of the {@link \Core\Drive\DriveTypeSid} constants.</dd> <dt>bool `is_resize`</dt> <dd>This will be `true` if the image has been resized. `false` otherwise.</dd> <dt>bool `is_old`</dt> <dd>This will be `true` if the image is old. `false` otherwise.</dd> <dt>string `s_url`</dt> <dd>The URL to the image.</dd> <dt>string `url-view`</dt> <dd>The URL to the image.</dd> <dt>string `url-thumbnail`</dt> <dd>The URL to the image''s thumbnail.</dd> </dl> </dd> <dt>array `a_schedule`</dt> <dd> Information about the event''s schedule. It is a list of instances, each instance will contain the following keys: <dl> <dt>int[] `a_day`</dt> <dd> Days of the week when the event is scheduled. Key and value are both the weekday number (1 = Monday, 7 = Sunday), matching {@link \ADateWeekSid} constants. <dl> <dt>int `{i_day}`</dt> <dd>Weekday number. Key equals value; both represent the day (1 = Monday ... 7 = Sunday).</dd> </dl> </dd> <dt>array `a_staff_member`</dt> <dd> Information about the staff member(s) conducting the event. This is a list of staff, each element is an array with the following keys: <dl> <dt>string `k_staff_member`</dt> <dd>The staff member key. <i>The primary key in the {@link \RsStaffBusinessSql} table.</i></dd> <dt>string `text_business_role`</dt> <dd>The name of the staff member''s business role.</dd> <dt>string `text_mail`</dt> <dd>The staff member''s email address.</dd> <dt>string `text_name_first`</dt> <dd>The staff member''s first name.</dd> <dt>string `text_name_full`</dt> <dd>The staff member''s full name.</dd> <dt>string `text_name_last`</dt> <dd>The staff member''s last name.</dd> <dt>string `uid`</dt> <dd>The staff member''s user key. <i>The primary key in the {@link \PassportLoginSql} table.</i></dd> </dl> </dd> <dt>string `dl_end`</dt> <dd>The ending date of the event series.</dd> <dt>string `dl_start`</dt> <dd>The starting date of the event series.</dd> <dt>bool `is_day`</dt> <dd>This will be `true` if the event starts and ends on the same day.</dd> <dt>string `k_class_period`</dt> <dd>The class period key. <i>The primary key in the {@link \RsClassPeriodSql} table.</i></dd> <dt>string `k_location`</dt> <dd>The location key. <i>The primary key in the {@link \RsLocationSql} table.</i></dd> <dt>string `text_location`</dt> <dd>The name of the location.</dd> <dt>string `text_time`</dt> <dd>The human readable version of the event time.</dd> </dl> </dd> <dt>array[] `a_search_tag`</dt> <dd> The list of search tags for this event. Each element: <dl> <dt>string `k_search_tag`</dt> <dd>Search tag key. <i>Primary key in the {@link \RsSearchTagSql} table.</i></dd> <dt>string `text_title`</dt> <dd>Name of the tag.</dd> </dl> </dd> <dt>bool `can_book`</dt> <dd> Whether event can be booked or not. `true` - there are no restrictions to book this event in general. `false` - for some reason event cannot be booked. The reason can be found in the following fields: `html_reason`, `id_reason`, `sid_reason`. This field can be used instead of `is_bookable` and covers a significant number of checks under its value. </dd> <dt>bool `can_cancel`</dt> <dd>Whether the current user can cancel already booked event.</dd> <dt>string `dl_early`</dt> <dd>The early cancel date</dd> <dt>string `dl_end`</dt> <dd>The ending date of the event.</dd> <dt>string `dl_start`</dt> <dd>The starting date of the event.</dd> <dt>string `dl_session`</dt> <dd>Local date of the closest session of the event.</dd> <dt>string `dtu_session`</dt> <dd>Date of the closest session of the event.</dd> <dt>int `i_session_all`</dt> <dd>Number of all sessions in the event.</dd> <dt>int `i_session_future`</dt> <dd>Number of all sessions in the future.</dd> <dt>int `i_session_past`</dt> <dd>Number of all sessions in the past.</dd> <dt>bool `is_age_restrict`</dt> <dd>`true` if the event is age restricted, `false` if the event is not.</dd> <dt>bool `is_age_restrict_only`</dt> <dd> `true` if this event booking is restricted and restricted because of client''s age only. `false` otherwise. </dd> <dt>bool `is_block`</dt> <dd>`true` if the event is a block event, `false` if the event is not.</dd> <dt>bool `is_bookable`</dt> <dd> Whether event is bookable. `true` - there are no restrictions to book this event in general. `false` - for some reason event cannot be booked. <b>Attention!!!</b> Historically, the value of this field may not cover all expected checks, and may be confusing to someone. It is properly used in combination with a number of other flags. If you need a flag that covers most of the checks please use `can_book` field. </dd> <dt>bool `is_book_for_guest`</dt> <dd> Allow clients to book on behalf of a guest. `true` if clients can book on behalf of a guest. `false` otherwise. </dd> <dt>bool `is_booked`</dt> <dd>`true` if the user has booked the event, `false` if the event is not.</dd> <dt>bool `is_closed`</dt> <dd>`true` if booking the event is closed, `false` if the event is not.</dd> <dt>bool `is_full`</dt> <dd>`true` if the event is full, `false` if the event is not.</dd> <dt>bool `is_online`</dt> <dd>`true` if the event is available online, `false` if the event is not.</dd> <dt>bool `is_online_private`</dt> <dd>`true` if the event is online and private, `false` if the event is not.</dd> <dt>bool `is_open`</dt> <dd>`true` if the event is open to be booked, `false` if the event is not.</dd> <dt>bool `is_prorate`</dt> <dd>`true` if the event is prorated, `false` if the event is not.</dd> <dt>bool `is_single_buy`</dt> <dd>`true` if the event sessions can be paid with single session, `false` single sessions disabled.</dd> <dt>bool `is_virtual`</dt> <dd>`true` if the event is only held virtually, `false` if the event is not.</dd> <dt>string `k_class`</dt> <dd>The class key. <i>The primary key in the {@link \RsClassSql} table.</i></dd> <dt>string `k_class_period`</dt> <dd>The class period key. <i>The primary key in the {@link \RsClassPeriodSql} table.</i></dd> <dt>string `k_enrollment_block`</dt> <dd>The enrollment block key. <i>The primary key in the {@link \RsEnrollmentBlockSql} table.</i></dd> <dt>string `k_location`</dt> <dd>The location key. <i>The primary key in the {@link \RsLocationSql} table.</i></dd> <dt>string `m_price_max`</dt> <dd>Maximum price per session in the event.</dd> <dt>string `m_price_min`</dt> <dd>Minimum price per session in the event.</dd> <dt>string `m_price_total`</dt> <dd>The total price of booking a session.</dd> <dt>string `m_price_total_early`</dt> <dd>The total price if booked early.</dd> <dt>string `text_age_restrict`</dt> <dd>The age description.</dd> <dt>string `text_title`</dt> <dd>The name of the event.</dd> <dt>string `url_book`</dt> <dd>The direct booking url.</dd> <dt>string `xml_description`</dt> <dd>The description of the event.</dd> </dl>'
      tags:
        - Event-EventList
    put:
      summary: 'Resets the event list cache for the specified business and user.'
      parameters:
        - name: k_business
          in: query
          description: 'The event business key to retrieve a list of all event sessions in business. `null` to retrieve events from {@link EventListApi::$k_location}.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key. Required to apply specific user rules such as age restrictions.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_cache_reset:
                  type: boolean
                  description: 'Model cache reset flag.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventList
  '/Wl/Holiday/Holiday.json':
    get:
      summary: 'Returns information about holiday day of business/locations.'
      parameters:
        - name: dl_work
          in: query
          description: 'The date working hours are required for. Set in the business''s timezone.'
          schema:
            type: string
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_location_holiday:
                        type: array
                        description: 'A list of the location''s closed day titles by location keys on the date {@link \Wl\Holiday\HolidayApi::$dl_work}. Keys are location keys. Values are holiday title strings.'
                      is_business_holiday:
                        type: boolean
                        description: '<tt>true</tt> if the business has a closed day on the date {@link \Wl\Holiday\HolidayApi::$dl_work}, <tt>false</tt> if otherwise.'
                      text_business_title:
                        type: string
                        description: 'The message used for the business''s closed day on the date {@link \Wl\Holiday\HolidayApi::$dl_work}.'
      tags:
        - Holiday-Holiday
  '/Wl/Holiday/BulkBusinessHoliday.json':
    get:
      summary: 'Returns all holiday records for all locations of the specified business.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_business_holidays:
                        type: array
                        description: 'An array consisting of the business''s closed day data for all locations by holiday keys {@link \Wl\Holiday\HolidayApi::$dl_work}. List of holidays.'
      tags:
        - Holiday-BulkBusinessHoliday
  '/Wl/Rank/Rank.json':
    get:
      summary: 'Gets belts list of a business.'
      parameters:
        - name: a_rank_category
          in: query
          description: 'Rank category keys. Used to filter belts by belt categories.'
          schema:
            type: array
        - name: k_business
          in: query
          description: 'Business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_rank_list:
                        type: array
                        description: 'A list of belts, keys, and information. Each element is an array with the following information: <dl> <dt>string <var>k_rank</var></dt> <dd>A belt key. <i>Primary key in {@link \RsRankSql} table.</i></dd> <dt>string <var>k_rank_category</var></dt> <dd>A belt category key. <i>Primary key in {@link \RsRankCategorySql} table.</i></dd> <dt>string <var>text_rank</var></dt> <dd>Belt title.</dd> <dt>string <var>text_rank_category</var></dt> <dd>Belt category title.</dd> </dl>'
      tags:
        - Rank-Rank
  '/Wl/Schedule/Cancel.json':
    get:
      summary: 'Cancels session for the client.'
      parameters:
        - name: dt_date
          in: query
          description: 'The date of the session in UTC.'
          schema:
            type: string
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
          schema:
            type: boolean
        - name: is_late_cancel
          in: query
          description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
          schema:
            type: boolean
        - name: k_appointment
          in: query
          description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
          schema:
            type: [string, "null"]
        - name: k_business
          in: query
          description: 'Key of the business within which the action is performed.'
          schema:
            type: string
        - name: k_class_period
          in: query
          description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
    post:
      summary: 'Cancels session for the client. This method is an alias for partners using the API or SDK.'
      parameters:
        - name: dt_date
          in: query
          description: 'The date of the session in UTC.'
          schema:
            type: string
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
          schema:
            type: boolean
        - name: is_late_cancel
          in: query
          description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
          schema:
            type: boolean
        - name: k_appointment
          in: query
          description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
          schema:
            type: [string, "null"]
        - name: k_business
          in: query
          description: 'Key of the business within which the action is performed.'
          schema:
            type: string
        - name: k_class_period
          in: query
          description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
  '/Wl/Schedule/ScheduleAvailableDate.json':
    get:
      summary: 'Finds the nearest class session that can be booked by the current user. Looks no further than {@link ScheduleAvailableDateApi::PERIOD_LIMIT} seconds ahead from the start date.'
      parameters:
        - name: a_class
          in: query
          description: 'Class keys to filter. Empty to search for all classes.'
          schema:
            type: array
        - name: a_day
          in: query
          description: 'IDs of week days from {@link \ADateWeekSid} class. Empty to search for all week days.'
          schema:
            type: array
        - name: a_event
          in: query
          description: 'Event keys to filter. Empty to search for all events.'
          schema:
            type: array
        - name: a_location
          in: query
          description: 'Location keys to filter. Empty to search in all locations.'
          schema:
            type: array
        - name: a_staff
          in: query
          description: 'Staff member keys to filter. Empty to search for all staff members.'
          schema:
            type: array
        - name: a_time
          in: query
          description: 'Time interval: <dl><dt>string `tl_end`</dt><dd>End time.</dd> <dt>string `tl_start`</dt><dd>Start time.</dd></dl> Empty to search for all time.'
          schema:
            type: array
        - name: dtu_start
          in: query
          description: 'The date/time to start from in UTC.'
          schema:
            type: string
        - name: id_class_tab
          in: query
          description: '"Book now" tab ID. One of {@link TabSid} constants.'
          schema:
            type: number
            format: int32
        - name: is_class
          in: query
          description: '`true` to include classes; `false` to exclude.'
          schema:
            type: boolean
        - name: is_event
          in: query
          description: '`true` to include events; `false` to exclude.'
          schema:
            type: boolean
        - name: is_virtual
          in: query
          description: '`true` to include only virtual classes; `false` to include only in-person; `null` to no filtering.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'Business key.'
          schema:
            type: string
        - name: k_timezone
          in: query
          description: 'Timezone key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      dl_next_available:
                        type: [string, "null"]
                        description: 'Nearest session date available for booking in user''s or business timezone. `null` if there is no suitable session found.'
      tags:
        - Schedule-ScheduleAvailableDate
  '/Wl/Collector/DebtList.json':
    get:
      summary: 'Returns a list of client debts for the specified business within the given date range.'
      parameters:
        - name: dl_end
          in: query
          description: 'Date before which debts should be returned. If set, this is the end of the date window. Only debts added before or on this date will be shown. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_start} has been specified, only debts added after the start date will be returned. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_start} is also `null`, this will return debts from the previous month.'
          schema:
            type: [string, "null"]
        - name: dl_start
          in: query
          description: 'Date since which debts should be returned. If set, this is the start of the date window. Only debts added on or after this date will be shown. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_end} has been specified will return debts added since the beginning of time. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_end} is also `null`, this will return debts from the previous month.'
          schema:
            type: [string, "null"]
        - name: is_request_debt
          in: query
          description: 'Defines whether new debts should be returned or only previously sent debts. If `true` then return new debts only. If `false` then return previously sent debts only.'
          schema:
            type: boolean
        - name: is_test
          in: query
          description: 'Defines whether debts for test or real business should be returned. If `true`, debts from test businesses will be returned. Otherwise, this will be `false` if only debts from real businesses will be returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key for which debts should be returned. Use `null` if debt payments from all businesses should be returned.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_debt:
                        type: array
                        description: 'A list of debts for the given business added within the previous month. Each value is an array with the next structure: <dl> <dt>string <var>dl_client_birth</var></dt> <dd>The birth date of the debtor client.</dd> <dt>string <var>dtu_client_since</var></dt> <dd>The date and time in UTC from which the debtor client is a member of the business.</dd> <dt>string <var>dtu_due</var></dt> <dd>The date and time in UTC of the last payment on the debtor client''s account.</dd> <dt>string <var>dtu_add</var></dt> <dd>The date and time in UTC when the client was added to the list of debtors.</dd> <dt>string <var>dtu_cease</var></dt> <dd>The date and time in UTC when the debt was fully ceased.</dd> <dt>int <var>id_currency</var></dt> <dd>The debt currency ID. One of {@link CurrencySid} constants.</dd> <dt>string <var>k_business</var></dt> <dd>The business key where the debt occurred.</dd> <dt>string <var>k_collector_debt</var></dt> <dd>The debt key, which should be used for debt payment.</dd> <dt>string <var>k_pay_transaction_debt</var></dt> <dd>The transaction key after which the debt occurred.</dd> <dt>string <var>k_pay_transaction_last</var></dt> <dd>The last transaction key on account after the debt occurred.</dd> <dt>string <var>m_amount_debt</var></dt> <dd>The initial amount of the debt.</dd> <dt>string <var>m_amount_paid</var></dt> <dd>The amount paid for debt.</dd> <dt>string <var>text_business_title</var></dt> <dd>The title of the business.</dd> <dt>string <var>text_client_name</var></dt> <dd>The full name of the debtor client.</dd> <dt>string <var>text_client_address</var></dt> <dd>The address of the debtor client.</dd> <dt>string <var>text_client_mail</var></dt> <dd>The email address of the debtor client.</dd> <dt>string <var>text_client_phone</var></dt> <dd>The phone number of the debtor client.</dd> <dt>string <var>text_client_zip</var></dt> <dd>The ZIP code of the debtor client.</dd> <dt>string <var>text_skip</var></dt> <dd>The notification message sent when the debt payment is missed.</dd> <dt>string <var>uid</var></dt> <dd>The user key of the debt owner.</dd> </dl>'
      tags:
        - Collector-DebtList
  '/Wl/Collector/DebtTransaction.json':
    get:
      summary: 'Returns a list of debt payment transactions for the specified business within the given date range.'
      parameters:
        - name: dl_end
          in: query
          description: 'If set, this is the end of the date window. Only debt payments added before or on this date will be shown. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_start} has been specified only debt payments added after the start date will be returned. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_start} is also `null`, this will return debt payments from the previous month.'
          schema:
            type: [string, "null"]
        - name: dl_start
          in: query
          description: 'If set, this is the start of the date window. Only debt payments added on or after this date will be shown. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_end} has been specified, this will return debt payments since the beginning of time. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_end} is also `null`, this will return debt payments from the previous month.'
          schema:
            type: [string, "null"]
        - name: is_test
          in: query
          description: 'If `true`, debt payments from test businesses will be returned. Otherwise, this will be `false` if only debt payments from real businesses will be returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key for which debt payments should be returned. Use `null` if debt payments from all businesses should be returned.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_transaction:
                        type: array
                        description: 'A list of debt payments for a given business added within the previous day. Each value is an array with next structure: <dl> <dt>string <var>dtu_pay</var></dt> <dd>The date and time in UTC of the payment transaction.</dd> <dt>string <var>m_pay_amount</var></dt> <dd>The amount of the payment''s transaction.</dd> <dt>int <var>id_pay_method</var></dt> <dd>The payment method ID that was used for the payment. One of {@link \RsPayMethodSid} constants.</dd> <dt>bool <var>is_pay_collections</var></dt> <dd>Defines whether the payment was performed via a third party service. `true` if the payment was performed via a third party service and this transaction is responsible for an account credit transaction for that payment. See {@link DebtPayApi}. `false` if the payment was performed within the Wellnessliving system. </dd> <dt>bool <var>is_debt_paid</var></dt> <dd> Defines whether the initial debt to which this related transaction is fully paid. `true` if the debt is fully paid. `false` if the debt is partially paid. </dd> <dt>string <var>text_client_name</var></dt> <dd>The full name of the debtor client for whom the payment transaction was performed.</dd> <dt>string <var>uid</var></dt> <dd>The UID of the debtor client for whom the payment transaction was performed.</dd> </dl>'
      tags:
        - Collector-DebtTransaction
  '/Wl/Collector/DebtPay.json':
    post:
      summary: 'Registers a debt payment made outside WellnessLiving and applies a credit to the client''s account balance.'
      parameters:
        - name: id_currency
          in: query
          description: 'The currency of the payment. One of {@link CurrencySid} constants. Important! The currency must coincide with currency of the debt that was sent to collections.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of the business from which the debt originates.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The key of the user with the debt.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_pay_method:
                  type: [number, "null"]
                  description: 'The payment method ID. One of {@link \RsPayMethodSid} constants. `null` if the payment method is unknown. In such cases, {@link \RsPayMethodSid::CASH} would be used.'
                k_collector_debt:
                  type: string
                  description: 'The debt key towards which the payment was performed.'
                m_amount:
                  type: string
                  description: 'The amount of money that''s been paid towards the debt.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_pay_transaction:
                        type: string
                        description: 'The transaction key generated to register the payment.'
      tags:
        - Collector-DebtPay
  '/Wl/Profile/ProfileCreate.json':
    post:
      summary: 'Creates a new client profile with the provided personal details in the specified business.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_intents:
                  type: array
                  description: 'List of intent identifiers. Each element is one of {@link \Wl\Login\Member\Intents\MemberIntentsSid} constants. Available only for leads added by CAASI agent.'
                dt_birthday:
                  type: string
                  description: 'Date of the user''s birthday in MySQL format.'
                id_gender:
                  type: number
                  format: int32
                  description: 'Gender ID. One of the {@link GenderSid} constants. `0` if not specified.'
                id_lead_source:
                  type: number
                  format: int32
                  description: 'Lead source ID. One of the {@link ModeSid} constants. `0` if not specified.'
                id_vaccination_status:
                  type: number
                  format: int32
                  description: 'Vaccination status ID. One of the {@link VaccinationStatusSid} constants. `0` if not specified.'
                is_lead:
                  type: boolean
                  description: '`true` means to add user to the legacy lead report. `false` means to not add user to the legacy lead report. Note, that this setting does not impact new Lead Management report, which will always include new user. Also lead capture marketing notification will never be triggered with this endpoint.'
                k_business:
                  type: string
                  description: 'The key of the business.'
                k_lead_source:
                  type: string
                  description: 'The key of the lead source. Empty string if not specified.'
                k_location_home:
                  type: string
                  description: 'The key of the home location.'
                text_address:
                  type: string
                  description: 'The address of the user.'
                text_firstname:
                  type: string
                  description: 'First name of the user.'
                text_lastname:
                  type: string
                  description: 'Last name of the user.'
                text_mail:
                  type: string
                  description: 'Email of the user. Required if {@link ProfileCreateApi::$text_phone} not provided.'
                text_phone:
                  type: string
                  description: 'Phone of the user. Required if {@link ProfileCreateApi::$text_mail} not provided.'
                text_phone_home:
                  type: string
                  description: 'Home phone of the user.'
                text_phone_work:
                  type: string
                  description: 'Work phone of the user.'
                uid_referrer:
                  type: string
                  description: 'Referrer user key. Empty string if not specified.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      uid:
                        type: string
                        description: 'The key of the user.'
      tags:
        - Profile-ProfileCreate
  '/Wl/Report/Data.json':
    get:
      summary: 'Gets data of required report.'
      parameters:
        - name: i_page
          in: query
          description: 'The page of results to show, starting at zero. The API will return 256 results per page.'
          schema:
            type: number
            format: int32
        - name: id_report
          in: query
          description: 'The report ID. The following reports are currently available via the API: <ul> <li>{@link \RsReportSid::LOGIN_LIST} - All Clients Report (Reports tab, features date search)</li> <li>{@link \RsReportSid::LOGIN_LIST_ALL} - All Clients Report (Clients tab) Batch Report</li> <li>{@link \RsReportSid::PAY_TRANSACTION_BATCH} - Batch Report</li> <li>{@link \RsReportSid::PURCHASE_ITEM_LIST_USER} - Sales per Client Report</li> <li>{@link \RsReportSid::PURCHASE_ITEM_ACCRUAL_CASH} - All Sales Report</li> </ul>'
          schema:
            type: number
            format: int32
        - name: id_report_group
          in: query
          description: 'The report group ID.'
          schema:
            type: number
            format: int32
        - name: id_report_page
          in: query
          description: 'The report page ID. One of the {@link \RsReportPageSid} constants. If set, the collection of that page will be used, otherwise a collection of single report will be used.'
          schema:
            type: [number, "null"]
        - name: id_report_view
          in: query
          description: 'The report view ID. One of the {@link \RsReportChartViewSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of business for which the report must be generated.'
          schema:
            type: string
        - name: s_filter
          in: query
          description: 'Filter settings in encoded format. <i>May be decoded by {@link \Core\Tool\UrlEncode\UrlDecode::decode()}.</i>'
          schema:
            type: string
        - name: s_sort
          in: query
          description: 'The field to use for sorting report data.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_data:
                        type: array
                        description: 'The report contents. Contents of this array can vary based on the report that''s loaded.'
                      a_total:
                        type: array
                        description: 'The report total. Contents of this array can vary based on the report that''s loaded.'
      tags:
        - Report-Data
  '/Wl/Report/PageData.json':
    get:
      summary: 'Gets data of required report collection.'
      parameters:
        - name: a_page
          in: query
          description: 'The page of results to show for each report in collection, starting at zero (set by default). The API will return 256 results per page. Key is report id from {@link \RsReportSid}, value is the page of results.'
          schema:
            type: array
        - name: id_report_group
          in: query
          description: 'The report group ID. One of the {@link \RsReportGroupSid} constants that describes the time period (day, week, month, or year) for the report to cover.'
          schema:
            type: number
            format: int32
        - name: id_report_page
          in: query
          description: 'The report page ID. One of the {@link \RsReportPageSid} constants. The collection of that page will be used to get list of reports. The following report collections are currently available via the API: * PROFILE_PURCHASE (ID 11) Collection with reports from client profile: memberships, packages, session/duration passes, single sessions, events, gift cards and groupon.'
          schema:
            type: number
            format: int32
        - name: id_report_view
          in: query
          description: 'The report view ID. One of the {@link \RsReportChartViewSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of business for which the report collection must be generated.'
          schema:
            type: string
        - name: s_filter
          in: query
          description: 'Filter settings in encoded format. <i>May be decoded by {@link \Core\Tool\UrlEncode\UrlDecode::decode()}.</i>'
          schema:
            type: string
        - name: s_sort
          in: query
          description: 'The field to use for sorting report data.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_data:
                        type: array
                        description: 'List of the reports contents. Key is the report id from {@link \RsReportSid}, value is report contents. Contents can vary based on the report that''s loaded.'
      tags:
        - Report-PageData
  '/Wl/Report/Access.json':
    get:
      summary: 'Checks access to given report.'
      parameters:
        - name: cid_report
          in: query
          description: 'Report CID. It''s used mostly for second generation reports. For first generation reports use {@link AccessApi::$id_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: id_report
          in: query
          description: 'Report ID. It''s used mostly for first generation reports. For second generation reports use {@link AccessApi::$cid_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'ID of business for which access must be checked.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      has_access:
                        type: boolean
                        description: '<tt>true</tt> - access is granted; <tt>false</tt> - access is denied.'
      tags:
        - Report-Access
  '/Wl/Business/BusinessAccess.json':
    get:
      summary: 'Gets information about businesses where given user is a staff member.'
      parameters:
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the backend. Otherwise, this will be `false`.'
          schema:
            type: boolean
        - name: s_facebook_id
          in: query
          description: 'The staff member''s Facebook ID. This won''t be empty if the staff member is logging in with Facebook. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: s_microsoft_id
          in: query
          description: 'The staff member''s Microsoft key. This won''t be empty if the staff member is logging in with Microsoft.'
          schema:
            type: string
        - name: text_authorization_apple
          in: query
          description: 'The staff member''s Apple authorization code. This won''t be empty if the staff member is logging in with Apple. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: text_google_plus
          in: query
          description: 'The Google Plus user ID. This won''t be empty if the staff member is logging in with Google. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: text_mail
          in: query
          description: 'The staff member''s email to determine their UID. This won''t be empty if the staff member is logging in with email or with Google. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'User key. Empty if user is not logged in, but their authorization data is known.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_business:
                        type: array
                        description: 'The businesses the staff member belongs to. Note that this field is here for backwards compatibility.'
                      a_business_data:
                        type: array
                        description: 'The list of accessible businesses with their corresponding data. Each value is an array with the next structure: <dl> <dt>int <var>id_region</var></dt> <dd>The business region. One of the {@link AmazonRegionSid} constants. This will be `null` if no regions are currently set.</dd> <dt>string <var>k_business</var></dt> <dd>The business key. <i>Primary keys in table {@link \RsBusinessSql}.</i></dd> <dt>string <var>text_office_address</var></dt> <dd>The business address.</dd> <dt>string <var>text_title</var></dt> <dd>The business title.</dd> <dt>string <var>url_logo</var></dt> <dd>The business logo URL. This will be empty if the business hasn''t added a logo.</dd> </dl>'
                      uid_mail:
                        type: string
                        description: 'The staff member key, determined by their email. This will be empty if the UID isn''t empty.'
      tags:
        - Business-BusinessAccess
  '/Wl/Business/Business.json':
    post:
      summary: 'Creates new business.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_staff_member:
                  type: array
                  description: 'Empty array means to not create a staff member. Otherwise, information about staff member to be created in the business. <dl> <dt>bool <var>is_enter</var></dt> <dd>Should created staff member be automatically signed in or not.</dd> <dt>string <var>text_mail</var></dt> <dd>Email address to be used to sign in.</dd> <dt>string <var>text_name_first</var></dt> <dd>The first name of the staff member.</dd> <dt>string <var>text_name_last</var></dt> <dd>The last name of the staff member.</dd> </dl>'
                id_locale:
                  type: number
                  format: int32
                  description: 'The business locale.'
                is_location_create:
                  type: boolean
                  description: '`true` if location should be also created for the business. `false` if otherwise.'
                is_mail_send:
                  type: boolean
                  description: '`true` to send {@link \RsMailSid::BUSINESS_CREATE} mail when creating a staff member. Otherwise send {@link \RsMailSid::LOGIN_WELCOME} mail.'
                k_business_type:
                  type: string
                  description: 'The key of the business type.'
                k_office_city:
                  type: string
                  description: 'The city key of the business. Optional.'
                s_clarity_session_id:
                  type: string
                  description: 'Microsoft Clarity session ID associated with the business claim session.'
                text_mail:
                  type: string
                  description: 'The email address of the location. Optional.'
                text_office_address:
                  type: string
                  description: 'The address of the business. Optional.'
                text_office_postal:
                  type: string
                  description: 'The postal code of the business. Optional.'
                text_phone:
                  type: string
                  description: 'The phone number of the business, staff and location.'
                text_title:
                  type: string
                  description: 'The title of the business.'
                url_site:
                  type: string
                  description: 'The URL of the business website. Optional.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_business:
                        type: string
                        description: 'The key of the business. When using {@link BusinessApi::post()} returned key of the created business. When using {@link BusinessApi::put()} used for update business.'
                      k_location:
                        type: [string, "null"]
                        description: 'The key of the location for update or after creating. `null` if location is not created.'
                      uid:
                        type: [string, "null"]
                        description: 'The UID of the created staff member or `null` if no staff member should be created.'
                      url_password_change:
                        type: [string, "null"]
                        description: 'Url for password change page. Filled only when creating staff member, otherwise `null`.'
      tags:
        - Business-Business
    put:
      summary: 'Claims business.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_staff_member:
                  type: array
                  description: 'Empty array means to not create a staff member. Otherwise, information about staff member to be created in the business. <dl> <dt>bool <var>is_enter</var></dt> <dd>Should created staff member be automatically signed in or not.</dd> <dt>string <var>text_mail</var></dt> <dd>Email address to be used to sign in.</dd> <dt>string <var>text_name_first</var></dt> <dd>The first name of the staff member.</dd> <dt>string <var>text_name_last</var></dt> <dd>The last name of the staff member.</dd> </dl>'
                is_mail_send:
                  type: boolean
                  description: '`true` to send {@link \RsMailSid::BUSINESS_CREATE} mail when creating a staff member. Otherwise send {@link \RsMailSid::LOGIN_WELCOME} mail.'
                k_business:
                  type: string
                  description: 'The key of the business. When using {@link BusinessApi::post()} returned key of the created business. When using {@link BusinessApi::put()} used for update business.'
                k_location:
                  type: [string, "null"]
                  description: 'The key of the location for update or after creating. `null` if location is not created.'
                s_clarity_session_id:
                  type: string
                  description: 'Microsoft Clarity session ID associated with the business claim session.'
                text_mail:
                  type: string
                  description: 'The email address of the location. Optional.'
                text_phone:
                  type: string
                  description: 'The phone number of the business, staff and location.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_business:
                        type: string
                        description: 'The key of the business. When using {@link BusinessApi::post()} returned key of the created business. When using {@link BusinessApi::put()} used for update business.'
                      k_location:
                        type: [string, "null"]
                        description: 'The key of the location for update or after creating. `null` if location is not created.'
                      uid:
                        type: [string, "null"]
                        description: 'The UID of the created staff member or `null` if no staff member should be created.'
                      url_password_change:
                        type: [string, "null"]
                        description: 'Url for password change page. Filled only when creating staff member, otherwise `null`.'
      tags:
        - Business-Business
  '/Wl/Business/Data.json':
    get:
      summary: 'Returns detailed information about the specified business, including locale, franchise status, services, tips, social URLs, and logo.'
      parameters:
        - name: i_logo_height
          in: query
          description: 'The maximum height of the business image (in pixels).'
          schema:
            type: number
            format: int32
        - name: i_logo_width
          in: query
          description: 'The maximum width of the business image (in pixels).'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: text_token
          in: query
          description: 'The authorization token. This may be used instead of {@link DataApi::$k_business} to identify a business.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_service_list:
                        type: array
                        description: 'A list of all business services and their availability data. This is presented as an array, where keys are SIDs from {@link ServiceSid} and values are Boolean. If `true`, at least one service is enabled in the business. Otherwise, this will be `false`.'
                      a_tip_predefine:
                        type: array
                        description: 'The list of predefined tips in percentages.'
                      id_category:
                        type: number
                        format: int32
                        description: 'The business category ID of the business.'
                      id_claim_status:
                        type: number
                        format: int32
                        description: 'Business status for managing claim request behavior. Constant from {@link BusinessClaimStatusSid}.'
                      id_currency:
                        type: number
                        format: int32
                        description: 'The currency ID of the given business (or the system currency ID if the business didn''t pass).'
                      id_locale:
                        type: number
                        format: int32
                        description: 'The Locale ID, used to search geo items.'
                      id_rank_type:
                        type: [number, "null"]
                        description: 'The rank type ID of the business. One of the {@link \RsRankTypeSid} constants. This will be `null` if the business doesn''t have a rank type.'
                      id_region:
                        type: number
                        format: int32
                        description: 'The region ID. This indicates the data center where the information about the business is stored. One of the {@link AmazonRegionSid} constants. Requests made to different regions can lead to known issues such as responses indicating that the business (or its elements) doesn''t exist. This is because databases on different data centers are independent. For example, performing a request to the US cluster for a list of classes for an AU cluster business will return an empty list.'
                      is_apply_surcharge:
                        type: boolean
                        description: 'Determines whether surcharges to client payments are enabled in the business.'
                      is_franchise:
                        type: boolean
                        description: '`true` if business is a franchisor or franchisee.'
                      is_location_multiple:
                        type: boolean
                        description: 'Determines whether the business has multiple locations (including inactive locations).'
                      is_profile_timezone:
                        type: boolean
                        description: '`true` - clients of the business can select a custom time zone in their profile. `false` - the location or business time zone is used.'
                      is_progress_client:
                        type: boolean
                        description: 'If `true`, clients can enter the progress log. Otherwise, this will be `false`.'
                      is_progress_verify:
                        type: boolean
                        description: 'If `true`, verification of the progress log by a staff member is required. Otherwise, this will be `false`.'
                      is_quiz_available:
                        type: boolean
                        description: 'Determines whether quizzes are available in the business.'
                      is_test:
                        type: boolean
                        description: 'Determines if the business operates in testing mode.'
                      is_tip:
                        type: boolean
                        description: 'If `true`, tips are available in the business. Otherwise, this will be `false`.'
                      is_tip_deny:
                        type: boolean
                        description: 'If `true`, the business has the "No tip" option displayed. Otherwise, this will be `false`.'
                      is_tip_sign:
                        type: boolean
                        description: 'If `true`, the client must sign after selecting the tip. Otherwise, this will be `false`.'
                      k_business_franchisor:
                        type: string
                        description: 'The franchisor business key. This will be empty if this business is the franchisor or not in a franchise.'
                      k_business_token:
                        type: string
                        description: 'The business key obtained by the security token {@link DataApi::$text_token}. This can be used on the client side if authorization token should be used instead of the business key (the business key isn''t available).'
                      k_business_type:
                        type: string
                        description: 'Key of the business type.'
                      k_currency:
                        type: string
                        description: 'The currency key of the given business, or the system currency if the business didn''t pass.'
                      s_reply_mail:
                        type: string
                        description: 'The reply-to email address.'
                      s_reply_name:
                        type: string
[...]
