openapi: 3.1.0
info:
  title: 'WellnessLiving public API'
  version: 1.1.20260909110320
  description: |
    WellnessLiving API is a RESTful way to access and manage your business data.
    Last updated at: 2026-09-09 11:03:20
servers:
  - url: https://us.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the United States data center'
  - url: https://au.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the Australia data center'
paths:
  '/Studio/Stand/Stand.json':
    delete:
      summary: 'Marks a stand as deleted. Renames the stand record with a removal timestamp suffix to prevent name conflicts, and sets the removal date. Called by the build server after stand servers are removed.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
    get:
      summary: 'Returns stand data by name. Retrieves stand status and deserialized stand data for the specified stand name. Verifies that the current user has access to the stand''s project.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_stand_data:
                        type: [array, string, "null"]
                        description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                      id_stand_status:
                        type: [number, "null"]
                        description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
      tags:
        - Stand-Stand
    post:
      summary: 'Registers a new stand and generates a URL for its creation. Validates the microservice environment configuration, creates a stand record, and returns a build URL to trigger stand creation.'
      parameters:
        - name: k_microservice_primary
          in: query
          description: 'Primary microservice for the stand. The main microservice from which the stand is created; other microservices can be added if they are compatible with the primary one, see {@link StandApi::$json_stand_environment}. `null` if value is not defined. If the information is not provided as a request parameter, the stand will not be created.'
          schema:
            type: [string, "null"]
        - name: k_task
          in: query
          description: 'Task key within which a stand should be created. `null` if not defined, in this case the stand name must be specified manually in {@link StandApi::$s_stand}.'
          schema:
            type: [string, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                json_stand_environment:
                  type: [string, "null"]
                  description: 'A microservice environment for create stand. Each element of the array contains `null` if the value is not defined. If the information is not provided as a request parameter, the stand will not be created. <dl> <dt>string `k_microservice`</dt> <dd>Microservice key. Primary key in {@link \Studio\Microservice\MicroserviceSql} table.</dd> <dt>string `s_environment`</dt> <dd>Environment name. See {@link \Studio\Microservice\MicroserviceSql}.`json_path`.</dd> </dl>'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_redirect:
                        type: string
                        description: 'Link to redirect for stand creation.'
      tags:
        - Stand-Stand
    put:
      summary: 'Updates stand status and stand data. Updates `id_stand_status` or `a_stand_data` for the specified stand. When the stand becomes ready and both data centers are configured, triggers builds on each.'
      parameters:
        - name: id_stand_status
          in: query
          description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
          schema:
            type: [number, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
  '/Core/Request/Example.json':
    get:
      summary: 'Returns the example result for debugging. A diagnostic endpoint used to verify that a given API connection is working correctly. Increments the input argument by one (confirming round-trip data flow), records a debug log entry with the current session and authentication context, and returns the log key so the caller can inspect it.'
      parameters:
        - name: i_argument
          in: query
          description: 'Example argument.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      i_result:
                        type: number
                        format: int32
                        description: 'Example result.'
                      s_log:
                        type: string
                        description: 'Key of the log record written by the API controller.'
      tags:
        - Request-Example
  '/Core/Captcha/CaptchaRequire.json':
    get:
      summary: 'Checks if a CAPTCHA is required for the given captcha type. Used before rendering a form that may include a CAPTCHA widget. The caller supplies the captcha type (identified by CID) and any constructor arguments it needs; the response tells the frontend whether to show the challenge at all and which reCAPTCHA version is active.'
      parameters:
        - name: a_arguments
          in: query
          description: 'Arguments for creating CAPTCHA object. <i>Structure can be missing in case when no configured captcha in environment.</i> Parameters for `1064`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if system business.</dd> </dl> Parameters for `1072`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1066`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1139`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1508`: <dl> <dt>bool `is_search`</dt> <dd> Flag to determine is it a search action or no. If search action is `true` it increments {@link \Wl\Business\Search\BusinessSearchCaptcha::$ip_actor}. Otherwise {@link \Wl\Business\Search\BusinessSearchCaptcha::$s_back_action}. </dd> </dl>'
          schema:
            type: array
        - name: cid_captcha
          in: query
          description: 'The CID of the CAPTCHA.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_enable_v3:
                        type: boolean
                        description: '`true` if enabled V3 captcha enabled. `false` if only V2 captcha enable.'
                      is_require:
                        type: boolean
                        description: 'This will be `true` if a CAPTCHA is required. Otherwise, this will be `false`.'
      tags:
        - Captcha-CaptchaRequire
  '/Core/Google/GoogleCaptcha.json':
    put:
      summary: 'Saves the user CAPTCHA token for the current session. Accepts the CAPTCHA version, the action name, and the user token obtained from the Google reCAPTCHA widget, and stores them in the session so that subsequent API requests requiring CAPTCHA verification can use them. Site keys for initialize Google reCAPTCHA: * Version 2 (invisible): * Demo/Staging - {@link GoogleCaptchaKeys::CAPTCHA_V2_SITE_KEY_SANDBOX} * Production - {@link GoogleCaptchaKeys::CAPTCHA_V2_SITE_KEY_PRODUCTION} * Version 3: * Demo/Staging - {@link GoogleCaptchaKeys::CAPTCHA_V3_SITE_KEY_SANDBOX} * Production - {@link GoogleCaptchaKeys::CAPTCHA_V3_SITE_KEY_PRODUCTION}'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_version:
                  type: number
                  format: int32
                  description: 'Captcha version ID.'
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Google-GoogleCaptcha
  '/Core/Sid/CoreSid.json':
    get:
      summary: 'Returns the list of all items for the given Sid class. Populates enumeration dropdowns and lookup tables on the frontend. <i> Given any class that extends {@link CoreSid}, returns every defined constant with its numeric ID, string identifier, and human-readable title so the client does not need to hard-code enum values. </i>'
      parameters:
        - name: s_class_name
          in: query
          description: 'Name of the Sid class to get list from. Should be a fully qualified class name. <i>Class should be a child of {@link CoreSid}.</i>'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'List of items. Keys are IDs, values are arrays with additional information: <dl> <dt>int `sid`</dt> <dd>String ID.</dd> <dt>string `text_title`</dt> <dd>Title of the ID.</dd> </dl>'
      tags:
        - Sid-CoreSid
  '/Core/WebSocket/Subscribe.json':
    post:
      summary: 'Checks whether a listener can subscribe to specified channel. Subscribes in a case of positive result. Called by the WebSocket client immediately after a connection is established, to register interest in a specific channel (identified by CID and key fields). If the current user is not permitted to receive events on that channel, the subscription is rejected. On success, any messages already queued for the channel are returned so the client does not miss events that arrived before the subscription was set up.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_key:
                  type: array
                  description: 'Keys of the channel. Key is name of a key field in a channel controller. Value is its value. Subscriber will only receive notifications about events in which all these values equal values specified here. Parameters for `60`: <dl> <dt>string `k_personnel`</dt> <dd>Key of a staff member.</dd> <dt>string `kip`</dt> <dd>Key of IP address from which this staff member accesses the system.</dd> </dl> Parameters for `1921`: <dl> <dt>int `id_visit`</dt> <dd>Visit status ID. One of {@link \Wl\Visit\VisitSid} constants.</dd> <dt>string `k_business`</dt> <dd>Key of a business.</dd> <dt>string `uid`</dt> <dd>Key of the user.</dd> </dl> Parameters for `1342`: <dl> <dt>string `k_business`</dt> <dd>Key of a business.</dd> <dt>string `uid_receiver`</dt> <dd>Key of the user.</dd> </dl> Parameters for `1583`: <dl> <dt>string `k_channel`</dt> <dd>Messenger channel key.</dd> </dl> Parameters for `688`: <dl> <dt>string `dtu_class_period`</dt> <dd>Class schedule session date.</dd> <dt>string `k_appointment`</dt> <dd>Appointment key.</dd> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `k_class_period`</dt> <dd>Class schedule key.</dd> <dt>string `k_visit`</dt> <dd>Visit key.</dd> <dt>string `s_secret`</dt> <dd>Visit secret key.</dd> </dl> Parameters for `1869`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid_receiver`</dt> <dd>User key who will receive message.</dd> </dl> Parameters for `735`: <dl> <dt>string|null `k_business`</dt> <dd>Key of a business to which report to subscribe. `null` for system-wide businesses.</dd> <dt>string `s_report`</dt> <dd> Key of a report to subscribe to. <i>Hex-encoded value of {@link \Thoth\ReportCore\Generator\ReportStorageListSql}.<tt>z_report</tt>.</i> </dd> </dl> Parameters for `1105`: <dl> <dt>string `uid`</dt> <dd>Current user key.</dd> </dl> Parameters for `1005`: <dl> <dt>string|null `k_microservice`</dt> <dd>Microservice key. `null` if the value is not set</dd> </dl> Parameters for `19`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `305`: <dl> <dt>string `k_location`</dt> <dd>Location where session booked or cancelled.</dd> </dl> Parameters for `298`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1163`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_actor`</dt> <dd>Key of the actor.</dd> </dl> Parameters for `1660`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `510`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `1850`: <dl> <dt>int `id_import_custom`</dt> <dd>ID of custom import process. One of {@link \Wl\Import\Custom\CustomSid} constants.</dd> <dt>string `k_business`</dt> <dd>Business key within which import is progressing.</dd> </dl> Parameters for `842`: <dl> <dt>string `k_business`</dt> <dd>Business in which the report was generated.</dd> <dt>string `uid`</dt> <dd>User who requested the report generation.</dd> </dl> Parameters for `1543`: <dl> <dt>int `id_report`</dt> <dd>ID of the report.</dd> <dt>string `k_business`</dt> <dd>Business key in which the report was monitoring.</dd> </dl> Parameters for `977`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid`</dt> <dd>UID of the client for which failed to send SMS.</dd> </dl> Parameters for `16`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1834`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `677`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1820`: <dl> <dt>string `k_business`</dt> <dd>Key of a business.</dd> </dl> Parameters for `1657`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> </dl> Parameters for `1421`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant.</dd> <dt>string `k_pay_transaction`</dt> <dd>Pay transaction key, which was used to create ticket.</dd> <dt>string `s_ticket_id`</dt> <dd>Gateway Ticket ID.</dd> </dl> Parameters for `523`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `960`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_actor`</dt> <dd>Key of the actor. <tt>admin</tt> - for WebSocket channel for which admins subscribed.</dd> </dl> Parameters for `34`: <dl> <dt>string `uid_response`</dt> <dd>Key of user who can grant access to location.</dd> </dl> Parameters for `41`: <dl> <dt>string `k_location`</dt> <dd>Location key.</dd> <dt>string `uid`</dt> <dd>User-receiver of response.</dd> </dl> Parameters for `57`: <dl> <dt>string `k_location`</dt> <dd>Key of location access to which was requested.</dd> <dt>string `uid_request`</dt> <dd>Key of user who requested access to location.</dd> </dl> Parameters for `828`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `s_id`</dt> <dd>Key of the task where addresses should be verified.</dd> </dl> Parameters for `1736`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant.</dd> <dt>string `k_pay_transaction`</dt> <dd>Pay transaction key, which was used to create ticket.</dd> <dt>string `s_exchange_identification`</dt> <dd>Gateway exchange identification.</dd> </dl> Parameters for `549`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `963`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_receiver`</dt> <dd>Key of the user.</dd> </dl> Parameters for `952`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid`</dt> <dd>UID of the client.</dd> </dl>'
                cid_channel:
                  type: number
                  format: int32
                  description: 'Channel controller CID.'
                s_password:
                  type: string
                  description: 'Subscriber password.'
                s_token:
                  type: string
                  description: 'Request token. This token is only used for asynchronous functions, and identifies a specific request.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_message_broadcast:
                        type: array
                        description: 'All messages in queue. Key is a message key. Value is message data. When a client is initially subscribed for a WebSocket channel, entire message queue is sent to the client. This is needed to send message that were generated before a client has subscribed. Parameters for `60`: <dl> <dt>string|null `dt_remove`</dt> <dd>Date/time when access to specified service will be revoked. <tt>null</tt> if access is revoked.</dd> <dt>string `k_ip_service`</dt> <dd>Key of a service that is changed.</dd> </dl> Parameters for `1921`: <dl> <dt>string `k_visit`</dt> <dd>Key of a book/visit.</dd> </dl> Parameters for `1342`: <dl> <dt>int `i_unread_alert`</dt> <dd>The count with unread alert for the user.</dd> <dt>bool `is_active`</dt> <dd>Whether message is active. This is needed to avoid showing previous messages on page reload.</dd> <dt>bool `is_message`</dt> <dd>Whether this is an alert for an SMS message</dd> <dt>bool `is_sound`</dt> <dd>Whether the user should hear a sound when a notification is sent.</dd> <dt>string|null `k_alert`</dt> <dd>Key of the alert that was just sent. <tt>null</tt> means alert was read.</dd> </dl> Parameters for `1583`: <dl> <dt>array `a_data`</dt> <dd> New information for messenger. <dl> <dt>array `message`</dt> <dd> Message information: <dl> <dt>int `id`</dt> <dd>Message key.</dd> <dt>string `message`</dt> <dd>Message text.</dd> <dt>string `updated_at`</dt> <dd>Date/time when the message has been posted.</dd> </dl> </dd> <dt>array `user_profile`</dt> <dd> User''s information: <dl> <dt>int `id_gender`</dt> <dd>User gender. One of {@link \Wl\Gender\GenderSid} constants.</dd> <dt>string `s_first_name`</dt> <dd>User first name.</dd> <dt>string `s_last_name`</dt> <dd>User last name.</dd> <dt>string `uid`</dt> <dd>User key. <i>Primary key in the {@link \PassportLoginSql} table.</i></dd> <dt>string `url_photo`</dt> <dd>URL of the user''s profile photo.</dd> </dl> </dd> </dl> </dd> </dl> Parameters for `733`: <dl> <dt>string|null `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `688`: <dl> <dt>string `url_redirect`</dt> <dd>Url link to redirect to join virtual meeting.</dd> </dl> Parameters for `1869`: <dl> <dt>int `i_overdue`</dt> <dd>Number of overdue tasks.</dd> <dt>int `id_task_status`</dt> <dd>New task status of the changed task. One of {@link \Wl\Task\TaskStatusSid}.</dd> <dt>string `k_task`</dt> <dd>Key of the changed task.</dd> </dl> Parameters for `735`: <dl> <dt>int `i_cas_change`</dt> <dd> A CAS (compare-and-swap) number that allows to track changes in the report storage. This number is changed every time content of the report gets updated. If this number is not changed, the content is not updated. <i>Copy of {@link \Thoth\ReportCore\Generator\ReportStorageListSql}.<tt>i_cas_change</tt>.</i> </dd> <dt>int `id_report_status`</dt> <dd>Status of this report. One of {@link \Thoth\ReportCore\Generator\ReportGeneratorStatusSid} constants.</dd> </dl> Parameters for `1105`: <dl> <dt>string `s_code`</dt> <dd>Code for authorization.</dd> <dt>int `text_time`</dt> <dd>Unique string for get code.</dd> </dl> Parameters for `1005`: <dl> <dt>string[] `a_op`</dt> <dd> Names of operation that were executed. Operation names are defined by <tt>OP_*</tt> constants of {@link \Studio\Sprint\Promoting\PromotingChannel}. </dd> <dt>string|null `s_step`</dt> <dd>Name of the step that was set. `null` if step has not changed.</dd> <dt>string|null `text_log`</dt> <dd> A new log item was added during execution of a script. Text of the log item that was just added. `null` if this message does not contain information about newly added log item. </dd> </dl> Parameters for `19`: <dl> <dt>string `text_title`</dt> <dd>New title of the business.</dd> </dl> Parameters for `305`: <dl> <dt>string `dtl_end`</dt> <dd>Session end date/time.</dd> <dt>string `dtl_start`</dt> <dd>Session start date/time.</dd> <dt>string|null `k_appointment`</dt> <dd> Key of the changed appointment. Is set only if changed session is appointment. `null` if changed session is not an appointment. </dd> <dt>string|null `k_class_period`</dt> <dd> Key of the changed class session. Is set only if changed session is class. `null` if changed session is not a class. </dd> </dl> Parameters for `298`: <dl> <dt>string `dt_end_local`</dt> <dd>End of change interval. Empty string if change interval has no end.</dd> <dt>string `dt_start_local`</dt> <dd>Start of change interval.</dd> <dt>string|null `k_class_tab_new`</dt> <dd> New "Book now" tab primary key in {@link \Wl\Classes\Tab\TabSid} table. <tt>null</tt> means system default tab. </dd> <dt>string|null `k_class_tab_old`</dt> <dd> Old "Book now" tab primary key in {@link \Wl\Classes\Tab\TabSid} table. <tt>null</tt> means system default tab. </dd> </dl> Parameters for `1163`: <dl> <dt>bool `is_active`</dt> <dd>Whether message is active. This is needed to avoid showing previous messages on page reload.</dd> <dt>bool|null `is_booking_in_progress`</dt> <dd> Whether booking is in progress. <i>This property will contain value from {@link \Wl\Book\Multiple\MultipleTaskSession::verify()} method, can be null.</i> </dd> </dl> Parameters for `510`: <dl> <dt>array `a_visit`</dt> <dd> New data of changes schedule item: <dl> <dt>string `dtl_end`</dt> <dd>Date/time of end.</dd> <dt>string `dtl_start`</dt> <dd>Date/time of start.</dd> <dt>bool `is_cancel`</dt> <dd><tt>true</tt> if book was canceled; <tt>false</tt> otherwise.</dd> <dt>string `s_key`</dt> <dd>Book key. <i>Primary key in {@link \RsVisitSql} table.</i></dd> <dt>string `text_address`</dt> <dd>Address of location.</dd> <dt>string `text_location`</dt> <dd>Title of location.</dd> <dt>string `text_note`</dt> <dd>Description of event.</dd> <dt>string `text_title`</dt> <dd>Title of event.</dd> <dt>string `url`</dt> <dd>URL of virtual service. Empty if the visit is not virtual.</dd> </dl> </dd> </dl> Parameters for `1850`: <dl> <dt>int `i_complete`</dt> <dd>Number of successfully processed items.</dd> <dt>int `i_fail`</dt> <dd>Number of failed items.</dd> <dt>int `i_left`</dt> <dd>Number of items left to process.</dd> <dt>string `k_import`</dt> <dd>Key of the import being processing.</dd> <dt>string `url_log`</dt> <dd>Url link to download log file with import progress.</dd> </dl> Parameters for `842`: <dl> <dt>int `i_generation`</dt> <dd>Duration of the generation of the report in seconds.</dd> <dt>int `id_report`</dt> <dd>ID of the report that was generated. One of the {@link \RsReportSid} constants.</dd> <dt>bool `is_need_show`</dt> <dd>Whether need to display a message about report generation, regardless of the generation time.</dd> <dt>string `k_report_accumulation`</dt> <dd>Report accumulation.</dd> <dt>string `text_report`</dt> <dd>Title of the report that was generated.</dd> </dl> Parameters for `977`: <dl> <dt>string `html_error_message`</dt> <dd>The text of the error.</dd> <dt>string `s_key`</dt> <dd>The unique key of the sent SMS.</dd> <dt>int `tl_send`</dt> <dd>The time in UNIX format when socket message was sent.</dd> </dl> Parameters for `16`: <dl> <dt>string `text_title`</dt> <dd>New title of the business.</dd> </dl> Parameters for `1834`: <dl> <dt>array `a_domain_token`</dt> <dd> List of email domain tokens: Empty array if the business does not have a mail domain set up. <dl> <dt>int `id_status`</dt> <dd>Status of the token. One of {@link \Wl\Mail\Domain\DomainVerifyStatusSid} constants.</dd> <dt>string `text_host`</dt> <dd>Host part of the token, which should be added to the DNS records.</dd> <dt>string `text_icon_class`</dt> <dd>CSS class for the icon representing the token status.</dd> <dt>string `text_status`</dt> <dd>Text representation of the token status.</dd> <dt>string `text_type`</dt> <dd>Type of the token. One of {@link \Wl\Mail\Domain\DomainTokenTypeSid} constants in text representation.</dd> <dt>string `text_value`</dt> <dd>Value of the token, which should be added to the DNS records.</dd> </dl> </dd> <dt>int|null `id_domain_status`</dt> <dd>Email domain status. `null` if the business does not have a mail domain set up.</dd> <dt>string `text_domain_status_icon`</dt> <dd> CSS class for the icon representing the email domain status. Empty string if the business does not have a mail domain set up. </dd> </dl> Parameters for `677`: <dl> <dt>int `id_mail_verify_status`</dt> <dd> Status of mail verification. One of the {@link \Wl\Mail\Verify\MailVerifyStatusSid} constants. Or {@link \Wl\Business\Config\Option\MailVerifyStatusOption::DEFAULT_VALUE} if option "Enable Custom Reply To Emails" in Business -> Feature is disabled. </dd> <dt>string `text_email`</dt> <dd>Email address to check.</dd> </dl> Parameters for `1820`: <dl> <dt>string|null `k_login_type`</dt> <dd>Key of the client type. `null` if client type is not set.</dd> <dt>string `uid`</dt> <dd>Key of the user.</dd> </dl> Parameters for `1421`: <dl> <dt>int|null `id_card_system`</dt> <dd> Card type ID. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>int|null `id_pay_exception`</dt> <dd>Transaction exception ID. `null` if no errors occurred.</dd> <dt>int|null `id_ticket_status`</dt> <dd>Ticket status. `null` if not set yet.</dd> <dt>string `m_tip`</dt> <dd>Amount of tips entered by customer on terminal.</dd> <dt>string|null `s_card_holder`</dt> <dd> Cardholder name. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `s_expire`</dt> <dd> Card expiration date. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `s_last4`</dt> <dd> Last four digits of the card number. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `text_message`</dt> <dd>Text message to notify the client. `null` until initialized.</dd> </dl> Parameters for `523`: <dl> <dt>array `a_visit`</dt> <dd> New data of changes schedule item: <dl> <dt>string `dtl_end`</dt> <dd>Date/time of end.</dd> <dt>string `dtl_start`</dt> <dd>Date/time of start.</dd> <dt>bool `is_cancel`</dt> <dd><tt>true</tt> if book was canceled; <tt>false</tt> otherwise.</dd> <dt>string `s_key`</dt> <dd>Book key. <i>Primary key in {@link \RsVisitSql} table.</i></dd> <dt>string `text_location`</dt> <dd>Title of location.</dd> <dt>string `text_note`</dt> <dd>Description of event.</dd> <dt>string `text_title`</dt> <dd>Title of event.</dd> <dt>string `url`</dt> <dd>URL of virtual service. Empty if the visit is not virtual.</dd> </dl> </dd> </dl> Parameters for `960`: <dl> <dt>int `i_unread_sms`</dt> <dd>The count with unread SMS in the business.</dd> </dl> Parameters for `34`: <dl> <dt>bool `is_close`</dt> <dd> `true` if the request has been already processed (question window must not be shown); `false` otherwise (question window must be shown). </dd> <dt>string `k_location`</dt> <dd>Location key.</dd> <dt>string `text_full_name`</dt> <dd>Name of the user requesting access.</dd> <dt>string `text_location`</dt> <dd>Location title.</dd> <dt>string `uid_request`</dt> <dd>Key of user who request access to location.</dd> </dl> Parameters for `41`: <dl> <dt>bool `is_grant`</dt> <dd><tt>true</tt> - access is granted; <tt>false</tt> - denied.</dd> <dt>string `text_full_name`</dt> <dd>Full name of user-receiver of response.</dd> <dt>float `tu_send`</dt> <dd>The time in seconds with fractional part in UNIX format when socket message was sent.</dd> </dl> Parameters for `57`: <dl> <dt>bool `is_inactive`</dt> <dd> `true` if a new assess request has been sent (question window must be not closed); `false` otherwise (question window must be closed). </dd> </dl> Parameters for `828`: <dl> <dt>array `a_invalid`</dt> <dd> List of users for which address verification failed. <dl> <dt>array `a_address`</dt> <dd> Address information. <i>See {@link \Core\Geo\AddressEntity::toArray()} for details.</i> <dl> <dt>string `text_address`</dt> <dd>Address string.</dd> <dt>string `text_city`</dt> <dd>City title.</dd> <dt>string `text_country`</dt> <dd>Country title.</dd> <dt>string `text_postal`</dt> <dd>Postal address.</dd> <dt>string `text_state`</dt> <dd>State.</dd> </dl> </dd> <dt>bool `is_address`</dt> <dd>Whether address string is specified.</dd> <dt>bool `is_checked`</dt> <dd>`true` if address check, `false` otherwise.</dd> <dt>string `text_email`</dt> <dd>User email address.</dd> <dt>string `text_name`</dt> <dd>User name.</dd> <dt>string `text_phone`</dt> <dd>User phone number.</dd> <dt>string `text_note`</dt> <dd>Note.</dd> <dt>string `uid`</dt> <dd>User key.</dd> <dt>string `url`</dt> <dd>Link to user profile.</dd> <dt>string `url_image`</dt> <dd>Link to user image.</dd> </dl> </dd> <dt>array `a_valid`</dt> <dd> List of users for which address verification succeed. <dl> <dt>array `a_address`</dt> <dd> Address information. <i>See {@link \Core\Geo\AddressEntity::toArray()} for details.</i> <dl> <dt>string `text_address`</dt> <dd>Address string.</dd> <dt>string `text_city`</dt> <dd>City title.</dd> <dt>string `text_country`</dt> <dd>Country title.</dd> <dt>string `text_postal`</dt> <dd>Postal address.</dd> <dt>string `text_state`</dt> <dd>State.</dd> </dl> </dd> <dt>bool `is_address`</dt> <dd>Whether address string is specified.</dd> <dt>bool `is_checked`</dt> <dd>`true` if address check, `false` otherwise.</dd> <dt>string `text_email`</dt> <dd>User email address.</dd> <dt>string `text_name`</dt> <dd>User name.</dd> <dt>string `text_phone`</dt> <dd>User phone number.</dd> <dt>string `text_note`</dt> <dd>Note.</dd> <dt>string `uid`</dt> <dd>User key.</dd> <dt>string `url`</dt> <dd>Link to user profile.</dd> <dt>string `url_image`</dt> <dd>Link to user image.</dd> </dl> </dd> </dl> Parameters for `1736`: <dl> <dt>int|null `id_card_system`</dt> <dd> Card type ID. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>int|null `id_card_type`</dt> <dd> Card type ID. `null` If were unable to determine the card type. See {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\Entity\OCservice\PaymentResponseEntity::$id_card_type}. </dd> <dt>int|null `id_pay_exception`</dt> <dd>Transaction exception ID. `null` if no errors occurred.</dd> <dt>int|null `id_payment_status`</dt> <dd>Payment status. `null` if not set yet.</dd> <dt>string|null `m_tip`</dt> <dd>Tip amount entered by the customer at the terminal. `null` if not initialized yet.</dd> <dt>string|null `s_last4`</dt> <dd> Last four digits of the card number. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>string|null `text_card_holder`</dt> <dd> Cardholder name. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>string|null `text_message`</dt> <dd>Text message to notify the client. `null` until initialized.</dd> </dl> Parameters for `549`: <dl> <dt>float `f_progress`</dt> <dd>Accumulation process progress.</dd> </dl> Parameters for `963`: <dl> <dt>array `a_info`</dt> <dd> An array with information about dialog: <dl> <dt>string `dtl_last_activity`</dt> <dd>The date and time of the last SMS in the dialog.</dd> <dt>int `i_unread_sms`</dt> <dd>A count of unread messages.</dd> <dt>bool `is_inbound`</dt> <dd>Whether the last SMS is inbound or not.</dd> <dt>string `text_last_sms`</dt> <dd>The text of last sms.</dd> <dt>string `uid`</dt> <dd>The UID of the client. <i>Primary key in {@link \PassportLoginSql} table.</i></dd> </dl> </dd> <dt>int `tl_send`</dt> <dd>The time in UNIX format when socket message was sent.</dd> </dl> Parameters for `952`: <dl> <dt>array `a_info`</dt> <dd> An array with information about SMS: <dl> <dt>string `dtl_message`</dt> <dd>Date and time, when SMS messages were sent, in MySQL format.</dd> <dt>bool `is_automated`</dt> <dd><tt>true</tt> if SMS was sent from task, <tt>false</tt> - if the staff member sent SMS.</dd> <dt>bool `is_outbound`</dt> <dd><tt>true</tt> if staff member sent SMS, <tt>false</tt> - if the client sent the SMS.</dd> <dt>string `k_sms_history`</dt> <dd>The key of SMS history. <i>Primary key in {@link \ASmsHistorySql} table.</i></dd> <dt>string `sid_sms_status`</dt> <dd>Sid of the SMS status.</dd> <dt>string `text_date`</dt> <dd>The day when SMS messages were sent.</dd> <dt>string `text_sender_name`</dt> <dd>The sender''s name.</dd> <dt>string `text_sms_body`</dt> <dd>The body of the SMS.</dd> <dt>string `text_sms_status`</dt> <dd>The title of the SMS status.</dd> <dt>string `text_sms_type`</dt> <dd>The title of the mail type.</dd> <dt>string `text_time`</dt> <dd>The time when SMS was sent.</dd> <dt>string|null `uid_sender`</dt> <dd>The UID of the sender, <tt>null</tt> - if SMS sent from task.</dd> </dl> </dd> <dt>string `s_key`</dt> <dd> The unique key of sent SMS from 2-way SMS chat. The key need to update SMS information in the chat after sent SMS to client. </dd> </dl>'
      tags:
        - WebSocket-Subscribe
  '/Core/Geo/Combobox.json':
    get:
      summary: 'Returns a list of cities to show in combobox list. Powers city autocomplete dropdowns in address forms. Returns up to 100 cities whose names start with the given fragment, each labelled as "City, Region, Country". Pass a locale to restrict results to a single country, or omit it to search worldwide.'
      parameters:
        - name: id_locale
          in: query
          description: 'The locale ID used as a filter. The locale is generally a country. One of the {@link LocaleSid} constants. This will be `0` if all locations are searched.'
          schema:
            type: number
            format: int32
        - name: s_value
          in: query
          description: 'The city name (or a fragment of the city name) used for the search.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'A list of items to show in the combobox list. Each element of the array is a city matching the string with the following structure: <dl> <dt>string `s_value`</dt> <dd>The human-readable name of the city, including the state/province and country.</dd> <dt>string `s_key`</dt> <dd>The <var>k_city</var> value for the city.</dd> </dl>'
      tags:
        - Geo-Combobox
  '/Social/Microsoft/Login.json':
    delete:
      summary: 'Removes the association between a website client and a Microsoft account. Accepts the user''s UID, verifies that the caller is the account owner, and unlinks the Microsoft account from the user''s profile.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
    get:
      summary: 'Collects data for the Microsoft login button. Called when rendering the "Sign in with Microsoft" button. Generates the OAuth 2.0 authorization URL the button must link to. When a UID is provided, also reports whether that user already has a Microsoft account linked, so the frontend can show "Link" or "Unlink" instead of the default sign-in label.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_exists:
                        type: boolean
                        description: 'If `true`, the user has a bound Microsoft account. Otherwise, this will be `false`.'
                      url_login:
                        type: string
                        description: 'The Microsoft OAuth 2.0 authorization link.'
      tags:
        - Microsoft-Login
    post:
      summary: 'Signs a user in with Microsoft. Accepts the Microsoft authorization code, an optional state parameter for CSRF verification, and an optional redirect URI. Validates the state, exchanges the code for user identity, and signs the user in or creates a new account.'
      parameters:
        - name: is_external
          in: query
          description: 'If authorization is performed in a third-party application, set this flag in case of authorization errors.'
          schema:
            type: boolean
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_code:
                  type: string
                  description: 'The authorization code that the app requested.'
                s_state:
                  type: string
                  description: 'If a state parameter is included in the request, the same value should appear in the response. The app should verify that the state values in the request and response are identical.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
  '/Wl/Tag/Tag.json':
    delete:
      summary: 'Removes the tag. Deletes the revenue category from the business. The deletion fails if the tag is currently set as the primary revenue category for any linked asset, class, coupon, promotion, service, or product (promotions that have already been removed are ignored). On success, notifies listeners about the affected linked objects and invalidates the cached tag list of the business.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key of the tags.'
          schema:
            type: string
        - name: k_tag
          in: query
          description: 'The tag key. Required for {@link TagApi::delete()}. Optional for {@link TagApi::get()}: if specified, only this tag is returned; if not specified, all tags of the business are returned.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Tag-Tag
    get:
      summary: 'Returns revenue categories (tags) of the business. Returns tags along with the bookable assets, classes, coupons, promotions, services, and products assigned to each one.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key of the tags.'
          schema:
            type: string
        - name: k_tag
          in: query
          description: 'The tag key. Required for {@link TagApi::delete()}. Optional for {@link TagApi::get()}: if specified, only this tag is returned; if not specified, all tags of the business are returned.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_tag:
                        type: array
                        description: 'The revenue categories (tags) of the business. Keys refer to tag keys <i>({@link \RsTagSql})</i>. Values have the next structure: <dl> <dt>array[] `a_asset`</dt> <dd> Bookable assets assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The resource key. <i>Primary key in the {@link \RsResourceSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the resource.</dd> <dt>string `text_title`</dt> <dd>The resource title.</dd> </dl> </dd> <dt>array[] `a_class`</dt> <dd> Classes and events assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The class key. <i>Primary key in the {@link \RsClassSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the class.</dd> <dt>string `text_title`</dt> <dd>The class title.</dd> </dl> </dd> <dt>array[] `a_coupon`</dt> <dd> Gift cards assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The coupon key. <i>Primary key in the {@link \RsCouponSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the coupon.</dd> <dt>string `text_title`</dt> <dd>The coupon title.</dd> </dl> </dd> <dt>array[] `a_promotion`</dt> <dd> Purchase options (passes and memberships) assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The promotion key. <i>Primary key in the {@link \RsPromotionSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the promotion.</dd> <dt>string `text_title`</dt> <dd>The promotion title.</dd> </dl> </dd> <dt>array[] `a_service`</dt> <dd> Appointment types assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The service key. <i>Primary key in the {@link \RsServiceSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the service.</dd> <dt>string `text_title`</dt> <dd>The service title.</dd> </dl> </dd> <dt>array[] `a_product`</dt> <dd> Store products assigned to the tag. Each element has the next structure: <dl> <dt>string `k_id`</dt> <dd>The product key. <i>Primary key in the {@link \RsShopProductSql} table.</i></dd> <dt>bool `is_primary`</dt> <dd>Whether the tag is the primary revenue category for the product.</dd> <dt>string `text_title`</dt> <dd>The product title.</dd> </dl> </dd> <dt>int `i_sort`</dt> <dd>The sort order of the tag.</dd> <dt>string `text_title`</dt> <dd>The tag title.</dd> </dl>'
      tags:
        - Tag-Tag
  '/Wl/Tag/TagList.json':
    get:
      summary: 'Returns tags of the specified business. Returns all client tags configured for the business in display order, along with flags indicating whether the business has configured a penalty fee for failed automatic payments and whether surcharges are enabled. Used to populate tag pickers and client profile forms.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key of the tags.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'The tag list. Each element has the next structure: <dl> <dt>int `i_sort`</dt> <dd>The sort order of the tag.</dd> <dt>string `k_tag`</dt> <dd>The tag key. <i>Primary key in the {@link \RsTagSql} table.</i></dd> <dt>string `text_title`</dt> <dd>The tag title.</dd> </dl>'
                      has_fee:
                        type: boolean
                        description: 'Whether a business did set up a penalty fee for failed automatic payments.'
                      has_surcharge:
                        type: boolean
                        description: 'Whether a business did set up surcharges.'
      tags:
        - Tag-TagList
    post:
      summary: 'Saves the list of tags. Can be used to create new tags or update existing ones. Persists the given set of client tags for the business. Tags without a key are created; tags with an existing key are updated with the new title. Requires backend access.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key of the tags.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_list:
                  type: array
                  description: 'The tag list. Each element has the next structure: <dl> <dt>int `i_sort`</dt> <dd>The sort order of the tag.</dd> <dt>string `k_tag`</dt> <dd>The tag key. <i>Primary key in the {@link \RsTagSql} table.</i></dd> <dt>string `text_title`</dt> <dd>The tag title.</dd> </dl>'
                json_list:
                  type: [string, "null"]
                  description: 'List of tags in json format. See {@link TagListApi::$a_list} for the structure of each tag. `null` to use {@link TagListApi::$a_list} for getting the tag list.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'The tag list. Each element has the next structure: <dl> <dt>int `i_sort`</dt> <dd>The sort order of the tag.</dd> <dt>string `k_tag`</dt> <dd>The tag key. <i>Primary key in the {@link \RsTagSql} table.</i></dd> <dt>string `text_title`</dt> <dd>The tag title.</dd> </dl>'
      tags:
        - Tag-TagList
  '/Wl/Schedule/ScheduleAvailableDate.json':
    get:
      summary: 'Finds the nearest class session that can be booked by the current user. Looks no further than {@link ScheduleAvailableDateApi::PERIOD_LIMIT} seconds ahead from the start date.'
      parameters:
        - name: a_class
          in: query
          description: 'Class keys to filter. Empty to search for all classes.'
          schema:
            type: array
        - name: a_day
          in: query
          description: 'IDs of week days from {@link \ADateWeekSid} class. Empty to search for all week days.'
          schema:
            type: array
        - name: a_event
          in: query
          description: 'Event keys to filter. Empty to search for all events.'
          schema:
            type: array
        - name: a_location
          in: query
          description: 'Location keys to filter. Empty to search in all locations.'
          schema:
            type: array
        - name: a_staff
          in: query
          description: 'Staff member keys to filter. Empty to search for all staff members.'
          schema:
            type: array
        - name: a_time
          in: query
          description: 'Time interval: Empty to search for all time. <dl> <dt>int `tl_end`</dt> <dd>End time.</dd> <dt>int `tl_start`</dt> <dd>Start time.</dd> </dl>'
          schema:
            type: array
        - name: dtu_start
          in: query
          description: 'The date/time to start from in UTC.'
          schema:
            type: string
        - name: id_class_tab
          in: query
          description: 'Optional "Book now" tab ID filter. One of {@link TabSid} constants. `0` means this filter is not set. If both {@link ScheduleAvailableDateApi::$id_class_tab} and {@link ScheduleAvailableDateApi::$k_class_tab} are not set, all tabs are used.'
          schema:
            type: number
            format: int32
        - name: is_class
          in: query
          description: '`true` to include classes; `false` to exclude.'
          schema:
            type: boolean
        - name: is_event
          in: query
          description: '`true` to include events; `false` to exclude.'
          schema:
            type: boolean
        - name: is_virtual
          in: query
          description: '`true` to include only virtual classes; `false` to include only in-person; `null` to no filtering.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'Business key.'
          schema:
            type: string
        - name: k_class_tab
          in: query
          description: 'Optional book now tab key filter. Empty string means this filter is not set. If both {@link ScheduleAvailableDateApi::$k_class_tab} and {@link ScheduleAvailableDateApi::$id_class_tab} are not set, all tabs are used.'
          schema:
            type: string
        - name: k_timezone
          in: query
          description: 'Timezone key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      dl_next_available:
                        type: [string, "null"]
                        description: 'Nearest session date available for booking in user''s or business timezone. `null` if there is no suitable session found.'
      tags:
        - Schedule-ScheduleAvailableDate
  '/Wl/Schedule/Cancel.json':
    get:
      summary: 'Cancels session for the client. Cancels the specified appointment or class period for the given user. Staff and admin users may cancel on behalf of any client; regular clients may only cancel their own bookings if the visit is still in a cancellable state. Clears cached schedule data after a successful class period cancellation.'
      parameters:
        - name: dt_date
          in: query
          description: 'The date of the session in UTC.'
          schema:
            type: string
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
          schema:
            type: boolean
        - name: is_late_cancel
          in: query
          description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
          schema:
            type: boolean
        - name: k_appointment
          in: query
          description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
          schema:
            type: [string, "null"]
        - name: k_business
          in: query
          description: 'Key of the business within which the action is performed.'
          schema:
            type: string
        - name: k_class_period
          in: query
          description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
    post:
      summary: 'Cancels session for the client. This method is an alias for partners using the API or SDK. Identical in behavior to {@link CancelApi::get()}; exists as a POST alias for partner integrations that cannot issue GET requests.'
      parameters:
        - name: dt_date
          in: query
          description: 'The date of the session in UTC.'
          schema:
            type: string
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
          schema:
            type: boolean
        - name: is_late_cancel
          in: query
          description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
          schema:
            type: boolean
        - name: k_appointment
          in: query
          description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
          schema:
            type: [string, "null"]
        - name: k_business
          in: query
          description: 'Key of the business within which the action is performed.'
          schema:
            type: string
        - name: k_class_period
          in: query
          description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
  '/Wl/Event/EventEnrollment.json':
    get:
      summary: 'Returns a list of clients enrolled in the specified event classes. An enrollment is considered to exist for any client that has an active (not canceled, not missed) visit, past or future, for one of the specified classes.'
      parameters:
        - name: a_class
          in: query
          description: 'List of event classes for which enrollment must be retrieved.'
          schema:
            type: array
        - name: k_business
          in: query
          description: 'Key of the business to which the event classes belong.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_enrollments:
                        type: array
                        description: 'A list of clients enrolled in the specified event classes. Key is the class key. <i>Primary key in {@link \RsClassSql} table.</i> Value is a list of clients enrolled in that class. Each element contains: <dl> <dt>bool `is_enrolled_full`</dt> <dd> <tt>true</tt> if the client has a block event enrollment record set for this class (booked the whole event); <tt>false</tt> otherwise. </dd> <dt>string `uid`</dt> <dd> Key of the client who attended or will attend the event. <i>Primary key in {@link \PassportLoginSql} table.</i> </dd> </dl>'
      tags:
        - Event-EventEnrollment
  '/Wl/Event/EventList.json':
    get:
      summary: 'Returns the list of events matching the specified filter parameters. Used to display the event schedule on business and location pages. Supports filtering by location, date range, staff, and booking status. Results are cached per business and user context; the cache is invalidated automatically when events are modified.'
      parameters:
        - name: a_class_filter
          in: query
          description: 'List of class keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_day
          in: query
          description: 'List of day the week applied by filter {@link \ADateWeekSid}.'
          schema:
            type: [array, "null"]
        - name: a_enrollment_block_filter
          in: query
          description: 'List of enrollment blocks keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_location
          in: query
          description: 'List of location keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_staff
          in: query
          description: 'List of staff keys applied by filter.'
          schema:
            type: [array, "null"]
        - name: a_time
          in: query
          description: 'List of time day applied by filter {@link \RsScheduleTimeSid}.'
          schema:
            type: [array, "null"]
        - name: a_uid_staff
          in: query
          description: 'List of staff UIDs applied by filter. `null` if the filter by staff is not applied. Cannot be specified together with {@link EventListApi::$a_staff}.'
          schema:
            type: [array, "null"]
        - name: a_virtual
          in: query
          description: 'List of IDs to include/exclude virtual events. If the only ID is {@link YesNoSid::YES}, only virtual events are included. If the only ID is {@link YesNoSid::NO}, only in-person events are included. Otherwise, no filtering is done.'
          schema:
            type: [array, "null"]
        - name: dl_end
          in: query
          description: 'The end date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no end date.'
          schema:
            type: [string, "null"]
        - name: dl_start
          in: query
          description: 'The start date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no start date.'
          schema:
            type: [string, "null"]
        - name: id_flag
          in: query
          description: 'Defines how the event availability flag filter should be applied. One of {@link \AFlagSid} constants. * {@link \AFlagSid::ON} to show only available events. * {@link \AFlagSid::OFF} to show only unavailable events. * {@link \AFlagSid::ALL} to show all events (available and unavailable).'
          schema:
            type: number
            format: int32
        - name: is_backend
          in: query
          description: 'Determines whether the endpoint is used for backend mode.'
          schema:
            type: boolean
        - name: is_cache_reset
          in: query
          description: 'Model cache reset flag.'
          schema:
            type: boolean
        - name: is_ignore_requirement
          in: query
          description: '`true` to show even event restricted by booking policies; `false` to show available events only.'
          schema:
            type: boolean
        - name: is_tab_all
          in: query
          description: 'Determines whether you need to retrieve a list of event sessions regardless of the tab specified in {@link EventListApi::$k_class_tab}. * <tt>true</tt> - retrieves a list regardless of the specified tab. * <tt>false</tt> - retrieves a list only for the specific tab.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The event business key to retrieve a list of all event sessions in business. `null` to retrieve events from {@link EventListApi::$k_location}.'
          schema:
            type: [string, "null"]
        - name: k_class
          in: query
          description: 'The event class key to retrieve a list of all event sessions of a specific class. `null` to retrieve a list of event sessions of all classes.'
          schema:
            type: [string, "null"]
        - name: k_class_tab
          in: query
          description: 'The class tab key to retrieve a list of event sessions from a specific tab only. An empty value to retrieve a list of event sessions that don''t belong to any tab. Will be ignored in next cases: * {@link EventListApi::$k_skin} specified. * {@link EventListApi::$is_tab_all} is <tt>true</tt>.'
          schema:
            type: string
        - name: k_location
          in: query
          description: 'The event location key to retrieve a list of all event sessions in a specific location. Required if {@link EventListApi::$k_business} isn''t specified. `null` if you need to retrieve a list of event sessions in all locations of {@link EventListApi::$k_business}.'
          schema:
            type: [string, "null"]
        - name: k_skin
          in: query
          description: 'The skin key if an event list is used for widget mode. {@link EventListApi::$k_class_tab} will be ignored for widget mode.'
          schema:
            type: string
        - name: text_search
          in: query
          description: 'Search string to filter events by name.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The user key. Required to apply specific user rules such as age restrictions.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_enrollment_block_list:
                        type: array
                        description: 'List of available enrollment blocks matching the requested parameters. Key is the enrollment block key. <i>Primary key in the {@link \RsEnrollmentBlockSql} table.</i> Value is the title of the first event found in that enrollment block.'
                      a_event_list:
                        type: array
                        description: 'A list of events corresponding to requested parameters. <dl> <dt>array `a_age_restriction`</dt> <dd> Information about age restrictions for this event, has the following structure: <dl> <dt>int|null `i_age_from`</dt> <dd> The minimum age for participation in the event. `null` if there''s no minimum age set or information isn''t available. </dd> <dt>int|null `i_age_to`</dt> <dd> The age limit for participation in the event. `null` if there''s no age limit set or information isn''t available. </dd> <dt>bool `is_age_public`</dt> <dd> `true` if age restrictions are public and available, `false` if they''re hidden. When restrictions are hidden and the current user isn''t a staff member, the age range will be empty. </dd> </dl> </dd> <dt>string[] `a_class_tab`</dt> <dd>List of book now tags connected to this event.</dd> <dt>array `a_logo`</dt> <dd>Data about logo of the event.</dd> <dt>array[] `a_schedule`</dt> <dd> List of scheduled sessions of the event. <dl> <dt>int[] `a_day`</dt> <dd>List of weekday numbers when event occur.</dd> <dt>array `a_repeat`</dt> <dd> Information about event repeating. <dl> <dt>int `i_repeat`</dt> <dd>Count of the periods which are specified in <var>id_repeat</var>.</dd> <dt>int `id_repeat`</dt> <dd>Measuring unit of <var>i_repeat</var> (week, month, year) from {@link \ADurationSid}.</dd> </dl> </dd> <dt>array[] `a_staff_member`</dt> <dd> List of staff members providing event session. <dl> <dt>string `k_staff_member`</dt> <dd>Staff member key.</dd> <dt>string `text_business_role`</dt> <dd>Staff member role title.</dd> <dt>string `text_mail`</dt> <dd>Staff member email address.</dd> <dt>string `text_name_first`</dt> <dd>Staff member first name.</dd> <dt>string `text_name_full`</dt> <dd>Staff member full name.</dd> <dt>string `text_name_last`</dt> <dd>Staff member last name.</dd> <dt>string `uid`</dt> <dd>Staff member uid.</dd> </dl> </dd> <dt>string `dl_end`</dt> <dd>End date of the schedule in <tt>MySql</tt> format.</dd> <dt>string `dl_start`</dt> <dd>Start date of the schedule in <tt>MySql</tt> format.</dd> <dt>bool `is_day`</dt> <dd>Whether this is a single day schedule (start and end dates of the schedule are the same).</dd> <dt>string `k_class_period`</dt> <dd>Class period key.</dd> <dt>string `k_location`</dt> <dd>Location key.</dd> <dt>string `k_resource_location`</dt> <dd> Resource key, which has category {@link \Wl\Resource\ResourceCategoryEnum::LOCATION}. Only one such resource can be selected for a schedule. Empty string, if no off-site location is used. `null` if field is not loaded. </dd> <dt>string `text_location`</dt> <dd>Location title.</dd> <dt>string `text_room`</dt> <dd>Room where the session takes place.</dd> <dt>string `text_time`</dt> <dd>Start and end time of the scheduled sessions in human readable format.</dd> </dl> </dd> <dt>array[] `a_search_tag`</dt> <dd>List of search tags connected to this event.</dd> <dt>bool `can_book`</dt> <dd> Whether event can be booked or not. * `true` - there are no restrictions to book this event in general. * `false` - for some reason event cannot be booked. The reason can be found in the following fields: * {@link \Wl\Event\EventListItemEntity::$html_reason} * {@link \Wl\Event\EventListItemEntity::$id_reason} * {@link \Wl\Event\EventListItemEntity::$sid_reason} This field can be used instead of {@link \Wl\Event\EventListItemEntity::$is_bookable} and covers a significant number of checks under its value. </dd> <dt>bool `can_cancel`</dt> <dd>Whether current user can cancel already booked event.</dd> <dt>string `dl_early`</dt> <dd>End date, when early bird price ends in <tt>MySql</tt> format.</dd> <dt>string `dl_end`</dt> <dd>End date of the scheduled session in <tt>MySql</tt> format.</dd> <dt>string `dl_session`</dt> <dd>Local date of the closest session of the event.</dd> <dt>string `dl_start`</dt> <dd>Start date of the scheduled sessions in <tt>MySql</tt> format.</dd> <dt>string `dtu_session`</dt> <dd>Date of the closest session of the event.</dd> <dt>string `html_reason`</dt> <dd> Reason why session can not be booked. Not empty only if {@link \Wl\Event\EventListItemEntity::$is_bookable} is `false`. </dd> <dt>int `i_book_active`</dt> <dd> Number of clients in the active list. For non-block events, this is the sum across all future sessions of the event (same aggregation as used for {@link \Wl\Event\EventListItemEntity::$is_full}). For block events, this is the count for the whole block. </dd> <dt>int `i_capacity`</dt> <dd> Capacity of the active list. For non-block events, this is {@link \Wl\Event\EventListItemEntity::$i_session_future} multiplied by the capacity of a single session (same aggregation as used for {@link \Wl\Event\EventListItemEntity::$is_full}). For block events, this is the capacity of the whole block. </dd> <dt>int `i_session_all`</dt> <dd>Number of all sessions in the event.</dd> <dt>int `i_session_future`</dt> <dd>Number of future sessions in the event.</dd> <dt>int `i_session_past`</dt> <dd>Number of past sessions in the event.</dd> <dt>int `i_wait`</dt> <dd> Number of clients in the wait list. For non-block events, this is the sum across all future sessions of the event. For block events, this is the count for the whole block. </dd> <dt>int|null `i_wait_limit`</dt> <dd> Wait list limit of the event. `null` if wait list is not enabled for this event, or if it is enabled without a limit. </dd> <dt>int `id_reason`</dt> <dd>ID of deny reason.</dd> <dt>bool `is_age_restrict`</dt> <dd>Whether booking of this event restricted because of age rules for {@link \Wl\Event\EventListApi}.</dd> <dt>bool `is_age_restrict_only`</dt> <dd>`true` if this event booking is restricted and restricted because of client''s age only. `false` otherwise.</dd> <dt>bool|null `is_available`</dt> <dd> Whether the event is available for booking or not. The flag refers to the Available/Unavailable filter. `null` if the field is not initialized. </dd> <dt>bool `is_block`</dt> <dd> Whether single sessions of the event can be booked. Depending on current backend/fronted status. <i> Contains one of values: * {@link \RsClassSql::$is_block} - if frontend. * {@link \RsClassSql::$is_block_staff} - if backend. </i> <tt>true</tt> - booking single sessions are not allowed. <tt>false</tt> - booking single sessions are allowed. </dd> <dt>bool `is_book_for_guest`</dt> <dd> Allow clients to book on behalf of a guest. `true` if clients can book on behalf of a guest. `false` otherwise. </dd> <dt>bool `is_bookable`</dt> <dd> Whether event is bookable. * `true` - there are no restrictions to book this event in general. * `false` - for some reason event cannot be booked. <b>Attention!!!</b> Historically, the value of this field may not cover all expected checks, and may be confusing to someone. It is properly used in combination with a number of other flags. If you need a flag that covers most of the checks please use {@link \Wl\Event\EventListItemEntity::$can_book} field. </dd> <dt>bool `is_booked`</dt> <dd>Whether event is already booked.</dd> <dt>bool `is_cancellation_enabled`</dt> <dd>`true` if clients can cancel this event. Otherwise, this will be `false`.</dd> <dt>bool `is_closed`</dt> <dd> Whether booking of the event is closed already. Means that in general it is bookable but currently booking is closed. </dd> <dt>bool `is_full`</dt> <dd>Whether event is full already.</dd> <dt>bool `is_online`</dt> <dd>`true` if this class can be booked by any client; `false` otherwise.</dd> <dt>bool `is_online_private`</dt> <dd> `true` means to show class only for clients who can book online, `false` means to show class for all clients. </dd> <dt>bool `is_open`</dt> <dd>Whether event sessions can be booked after event has started.</dd> <dt>bool `is_promotion_only`</dt> <dd> Whether clients of the business can pay for the event with purchase option only. `true` if event can be paid with purchase option only. `false` if full event purchase or single session purchase are allowed. </dd> <dt>bool `is_prorate`</dt> <dd>Whether event sessions can be booked partially.</dd> <dt>bool `is_single_buy`</dt> <dd>Whether class/event can be paid with single session.</dd> <dt>bool `is_user_booked`</dt> <dd> Whether current user is booked or on the wait list. Unlike {@link \Wl\Event\EventListItemEntity::$is_booked}, this field is also `true` when the user is on the wait list, not only when actually booked into the active list. </dd> <dt>bool `is_virtual`</dt> <dd>Whether event is virtual.</dd> <dt>bool `is_wait_list_enabled`</dt> <dd>Whether wait list is enabled for this event.</dd> <dt>string `k_class`</dt> <dd>Class key.</dd> <dt>string `k_class_period`</dt> <dd>Class period key of the closest session of the event.</dd> <dt>string `k_enrollment_block`</dt> <dd>Key of enrollment block that corresponds to current row.</dd> <dt>string `k_location`</dt> <dd>Location key of the closest session of the event.</dd> <dt>string `m_price_max`</dt> <dd>Maximum price per session in the event.</dd> <dt>string `m_price_min`</dt> <dd>Minimum price per session in the event.</dd> <dt>string `m_price_total`</dt> <dd>Price of the entire event.</dd> <dt>string `m_price_total_early`</dt> <dd>Early bird price of the entire event.</dd> <dt>string `sid_reason`</dt> <dd> Code of {@link \Wl\Event\EventListItemEntity::$html_reason}. Is used for testing purposes. Not empty only if {@link \Wl\Event\EventListItemEntity::$is_bookable} is `false`. </dd> <dt>bool `text_age_restrict`</dt> <dd>Text message of the restriction based on age rules.</dd> <dt>string `text_title`</dt> <dd>Title of the event.</dd> <dt>string|null `url_book`</dt> <dd> Link to the start of the booking wizard to book the closed session from this event or the entire event. Can be `null` if there is no available for booking sessions. </dd> <dt>string `xml_description`</dt> <dd>Description of the event.</dd> </dl>'
      tags:
        - Event-EventList
    put:
      summary: 'Resets the event list cache for the specified business and user. Call this after modifying event data to force the next request to rebuild the schedule from the database. Can also conditionally reset without parameters if the caller determines a reset is needed.'
      parameters:
        - name: is_cache_reset
          in: query
          description: 'Model cache reset flag.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The event business key to retrieve a list of all event sessions in business. `null` to retrieve events from {@link EventListApi::$k_location}.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'The user key. Required to apply specific user rules such as age restrictions.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventList
  '/Wl/Event/EventCancelWhole.json':
    post:
      summary: 'Cancels book of event {@link EventCancelWholeApi::$k_class}. Used when a client wants to drop out of a multi-session event entirely. Cancels all remaining upcoming sessions at once, including any waitlisted spots, without requiring the client to cancel each session individually.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'Key of the business in which the class resides.'
                k_class:
                  type: string
                  description: 'An event key.'
                uid:
                  type: string
                  description: 'A user key.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventCancelWhole
  '/Wl/Profile/ProfileCreate.json':
    post:
      summary: 'Creates a new client profile with the provided personal details in the specified business. Creates or retrieves a user account by email or phone, saves personal details such as name, address, phones, birthday, gender, and vaccination status, registers the user in the business, and optionally adds them to the lead report and sets intents.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_intents:
                  type: array
                  description: 'List of intent identifiers. Each element is one of {@link \Wl\Login\Member\Intents\MemberIntentsSid} constants. Available only for leads added by CAASI agent.'
                dt_birthday:
                  type: string
                  description: 'Date of the user''s birthday in MySQL format.'
                id_gender:
                  type: number
                  format: int32
                  description: 'Gender ID. One of the {@link GenderSid} constants. `0` if not specified.'
                id_lead_source:
                  type: number
                  format: int32
                  description: 'Lead source ID. One of the {@link ModeSid} constants. `0` if not specified.'
                id_vaccination_status:
                  type: number
                  format: int32
                  description: 'Vaccination status ID. One of the {@link VaccinationStatusSid} constants. `0` if not specified.'
                is_lead:
                  type: boolean
                  description: '`true` means to add user to the legacy lead report. `false` means to not add user to the legacy lead report. Note, that this setting does not impact new Lead Management report, which will always include new user. Also lead capture marketing notification will never be triggered with this endpoint.'
                k_business:
                  type: string
                  description: 'The key of the business.'
                k_lead_source:
                  type: string
                  description: 'The key of the lead source. Empty string if not specified.'
                k_location_home:
                  type: string
                  description: 'The key of the home location.'
                text_address:
                  type: string
                  description: 'The address of the user.'
                text_firstname:
                  type: string
                  description: 'First name of the user.'
                text_lastname:
                  type: string
                  description: 'Last name of the user.'
                text_mail:
                  type: string
                  description: 'Email of the user. Required if {@link ProfileCreateApi::$text_phone} not provided.'
                text_phone:
                  type: string
                  description: 'Phone of the user. Required if {@link ProfileCreateApi::$text_mail} not provided.'
                text_phone_home:
                  type: string
                  description: 'Home phone of the user.'
                text_phone_work:
                  type: string
                  description: 'Work phone of the user.'
                uid_referrer:
                  type: string
                  description: 'Referrer user key. Empty string if not specified.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      uid:
                        type: string
                        description: 'The key of the user.'
      tags:
        - Profile-ProfileCreate
  '/Wl/Session/Environment.json':
    get:
      summary: 'Returns current session environment. Determines the current business, location, and user for the session, taking into account the application type, franchise settings, and multi-datacenter routing, and returns the resulting environment data used to bootstrap the client application.'
      parameters:
        - name: s_application_id
          in: query
          description: 'Application ID.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_business:
                        type: [array, "null"]
                        description: 'List of businesses which are available in given application. <tt>null</tt> for default application.'
                      a_business_franchise_all:
                        type: [array, "null"]
                        description: 'List of businesses keys, which are connected to franchise. <tt>null</tt> if current business is not part of franchise.'
                      a_business_franchisee:
                        type: [array, "null"]
                        description: 'List of business franchisee keys. Can be limited by levels to which a user can view/access in frontend. See {@link FranchiseSwitchSid}. <tt>null</tt> if current business is not part of franchise or if ''Allow clients to switch between franchise locations'' is OFF.'
                      a_payment_alert:
                        type: [array, "null"]
                        description: 'Payment alert data. `null` if user is not logged or none businesses are available for user, or if it''s not backend. Otherwise, contains data: <dl> <dt>int `i_duration`</dt> <dd> Time left in seconds. <var>null</var> if business account is not created or if service interruption dates aren''t specified. </dd> <dt>bool `is_alert`</dt> <dd>Determines whether to show an alert. Alert should be shown only once per session.</dd> <dt>bool `is_churn`</dt> <dd>Determines whether the business is churned.</dd> <dt>string `url_billing`</dt> <dd>Link to business billing page on the web.</dd> </dl>'
                      a_splash_screen:
                        type: [array, "null"]
                        description: 'Settings of splash screen customization for business: <tt>null</tt> if splash screen in not customized for business. <dl> <dt>array `a_background`</dt> <dd> Background image. <dl> <dt>int `i_height`</dt> <dd>Actual height of thumbnail image.</dd> <dt>int `i_height_src`</dt> <dd>Height of original image.</dd> <dt>int `i_rotate`</dt> <dd>Angle on which image was rotated compared to the original.</dd> <dt>int `i_width`</dt> <dd>Actual width of thumbnail image.</dd> <dt>int `i_width_src`</dt> <dd>Width of original image.</dd> <dt>bool `is-resize`</dt> <dd>Whether thumbnail is a resized variant of original image. If `false`, `url-thumbnail` equals `url-view`.</dd> <dt>string `url-view`</dt> <dd>URL to original image in file storage.</dd> <dt>string `url-thumbnail`</dt> <dd> URL to resized and rotated image in file storage. If the original is larger than the specified dimensions, a thumbnail is created and its link is returned. Otherwise, the link to the original image is returned here. </dd> </dl> </dd> <dt>array `a_gradient`</dt> <dd> Background color. <dl> <dt>int `i_height`</dt> <dd>Actual height of thumbnail image.</dd> <dt>int `i_height_src`</dt> <dd>Height of original image.</dd> <dt>int `i_rotate`</dt> <dd>Angle on which image was rotated compared to the original.</dd> <dt>int `i_width`</dt> <dd>Actual width of thumbnail image.</dd> <dt>int `i_width_src`</dt> <dd>Width of original image.</dd> <dt>bool `is-resize`</dt> <dd>Whether thumbnail is a resized variant of original image. If `false`, `url-thumbnail` equals `url-view`.</dd> <dt>string `url-view`</dt> <dd>URL to original image in file storage.</dd> <dt>string `url-thumbnail`</dt> <dd> URL to resized and rotated image in file storage. If the original is larger than the specified dimensions, a thumbnail is created and its link is returned. Otherwise, the link to the original image is returned here. </dd> </dl> </dd> <dt>array `a_image`</dt> <dd> Logo image. <dl> <dt>int `i_height`</dt> <dd>Actual height of thumbnail image.</dd> <dt>int `i_height_src`</dt> <dd>Height of original image.</dd> <dt>int `i_rotate`</dt> <dd>Angle on which image was rotated compared to the original.</dd> <dt>int `i_width`</dt> <dd>Actual width of thumbnail image.</dd> <dt>int `i_width_src`</dt> <dd>Width of original image.</dd> <dt>bool `is-resize`</dt> <dd>Whether thumbnail is a resized variant of original image. If `false`, `url-thumbnail` equals `url-view`.</dd> <dt>string `url-view`</dt> <dd>URL to original image in file storage.</dd> <dt>string `url-thumbnail`</dt> <dd> URL to resized and rotated image in file storage. If the original is larger than the specified dimensions, a thumbnail is created and its link is returned. Otherwise, the link to the original image is returned here. </dd> </dl> </dd> </dl>'
                      dtl_now:
                        type: string
                        description: 'Local date with time now in current location {@link EnvironmentApi::$k_location}.'
                      has_form_quiz:
                        type: boolean
                        description: 'Whether exists form to confirm during registration process.'
                      has_home:
                        type: boolean
                        description: '`true` if the "home" page is turned on for the current business; `false` otherwise.'
                      has_merchant:
                        type: boolean
                        description: 'Whether the merchant is configured for the client''s home location or for business {@link EnvironmentApi::$k_business}.'
                      id_currency:
                        type: string
                        description: 'Currency ID. One of {@link \RsCurrencySid} constants.'
                      id_locale:
                        type: number
                        format: int32
                        description: 'Business locale. One of {@link LocaleSid} constants.'
                      id_place:
                        type: number
                        format: int32
                        description: 'Current place ID. One of {@link \RsPlaceSid} constants. For the Application is determined by the template. For the Web version of the site is determined by the current session.'
                      id_plan_achieve:
                        type: number
                        format: int32
                        description: 'Achieve subscription plan ID. One of {@link \Wl\Business\Account\Subscription\Achieve\AchieveSubscriptionSid} constants.'
                      id_plan_base:
                        type: number
                        format: int32
                        description: 'Base subscription plan ID.'
                      id_plan_marketing:
                        type: number
                        format: int32
                        description: 'Marketing subscription plan ID.'
                      id_travel_mode:
                        type: [number, "null"]
                        description: 'Current travel mode ID in business. `null` if travel mode is disabled.'
                      is_aiagent_chat:
                        type: boolean
                        description: 'Whether AI agent chat (CAASI) is available for current business. * `true` if chat is available * `false` if chat is not available'
                      is_application_custom:
                        type: boolean
                        description: 'Determines current business has custom application. If <tt>true</tt> application has custom application, <tt>false</tt> otherwise.'
                      is_billing_required:
                        type: boolean
                        description: '<tt>true</tt> if user must be redirected to billing page to enter credit card; <tt>false</tt> otherwise.'
                      is_booking_appointment_authorize:
                        type: boolean
                        description: '<tt>true</tt> if clients must sign in to book an appointment; <tt>false</tt> otherwise.'
                      is_booking_required_billing:
                        type: boolean
                        description: '<tt>true</tt> if user must be redirected from booking page to billing page to enter credit card; <tt>false</tt> otherwise.'
                      is_business_location_multiple:
                        type: boolean
                        description: 'Determines if a business has multiple locations. <i>See {@link \rs_business_location_multiple()}.</i>'
                      is_client_profile_share:
                        type: [boolean, "null"]
                        description: '`true` id profile details can be shared with the new location while adding a client that already has an existing profile in franchise, `false` - otherwise. * `null` if not franchise.'
                      is_client_select_date_asset:
                        type: boolean
                        description: 'If clients are allowed to select a date and time, then the available asset while asset booking.'
                      is_contract:
                        type: boolean
                        description: '<tt>true</tt> - user has unassigned contract(s); <tt>false</tt> - otherwise.'
                      is_family_relation_display_client:
                        type: boolean
                        description: '`true` is allowed relationship to display, `false` - otherwise.'
                      is_franchisor:
                        type: boolean
[...]
