openapi: 3.1.0
info:
  title: 'WellnessLiving public API'
  version: 1.1.20260626171026
  description: |
    WellnessLiving API is a RESTful way to access and manage your business data.
    Last updated at: 2026-06-26 17:10:26
servers:
  - url: https://us.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the United States data center'
  - url: https://au.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the Australia data center'
paths:
  '/Studio/Stand/Stand.json':
    delete:
      summary: 'Marks a stand as deleted. Renames the stand record with a removal timestamp suffix to prevent name conflicts, and sets the removal date. Called by the build server after stand servers are removed.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
    get:
      summary: 'Returns stand data by name. Retrieves stand status and deserialized stand data for the specified stand name. Verifies that the current user has access to the stand''s project.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_stand_data:
                        type: [array, string, "null"]
                        description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                      id_stand_status:
                        type: [number, "null"]
                        description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
      tags:
        - Stand-Stand
    post:
      summary: 'Registers a new stand and generates a URL for its creation. Validates the microservice environment configuration, creates a stand record, and returns a build URL to trigger stand creation.'
      parameters:
        - name: k_microservice_primary
          in: query
          description: 'Primary microservice for the stand. The main microservice from which the stand is created; other microservices can be added if they are compatible with the primary one, see {@link StandApi::$json_stand_environment}. `null` if value is not defined. If the information is not provided as a request parameter, the stand will not be created.'
          schema:
            type: [string, "null"]
        - name: k_task
          in: query
          description: 'Task key within which a stand should be created. `null` if not defined, in this case the stand name must be specified manually in {@link StandApi::$s_stand}.'
          schema:
            type: [string, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                json_stand_environment:
                  type: [string, "null"]
                  description: 'A microservice environment for create stand. Each element of the array contains `null` if the value is not defined. If the information is not provided as a request parameter, the stand will not be created. <dl> <dt>string `k_microservice`</dt> <dd>Microservice key. Primary key in {@link \Studio\Microservice\MicroserviceSql} table.</dd> <dt>string `s_environment`</dt> <dd>Environment name. See {@link \Studio\Microservice\MicroserviceSql}.`json_path`.</dd> </dl>'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_redirect:
                        type: string
                        description: 'Link to redirect for stand creation.'
      tags:
        - Stand-Stand
    put:
      summary: 'Updates stand status and stand data. Updates `id_stand_status` or `a_stand_data` for the specified stand. When the stand becomes ready and both data centers are configured, triggers builds on each.'
      parameters:
        - name: id_stand_status
          in: query
          description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
          schema:
            type: [number, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
  '/Core/Google/GoogleCaptcha.json':
    put:
      summary: 'Saves the user CAPTCHA token for the current session. Accepts the CAPTCHA version, the action name, and the user token obtained from the Google reCAPTCHA widget, and stores them in the session so that subsequent API requests requiring CAPTCHA verification can use them.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_version:
                  type: number
                  format: int32
                  description: 'Captcha version ID.'
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Google-GoogleCaptcha
  '/Wl/Profile/ProfileCreate.json':
    post:
      summary: 'Creates a new client profile with the provided personal details in the specified business. Creates or retrieves a user account by email or phone, saves personal details such as name, address, phones, birthday, gender, and vaccination status, registers the user in the business, and optionally adds them to the lead report and sets intents.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_intents:
                  type: array
                  description: 'List of intent identifiers. Each element is one of {@link \Wl\Login\Member\Intents\MemberIntentsSid} constants. Available only for leads added by CAASI agent.'
                dt_birthday:
                  type: string
                  description: 'Date of the user''s birthday in MySQL format.'
                id_gender:
                  type: number
                  format: int32
                  description: 'Gender ID. One of the {@link GenderSid} constants. `0` if not specified.'
                id_lead_source:
                  type: number
                  format: int32
                  description: 'Lead source ID. One of the {@link ModeSid} constants. `0` if not specified.'
                id_vaccination_status:
                  type: number
                  format: int32
                  description: 'Vaccination status ID. One of the {@link VaccinationStatusSid} constants. `0` if not specified.'
                is_lead:
                  type: boolean
                  description: '`true` means to add user to the legacy lead report. `false` means to not add user to the legacy lead report. Note, that this setting does not impact new Lead Management report, which will always include new user. Also lead capture marketing notification will never be triggered with this endpoint.'
                k_business:
                  type: string
                  description: 'The key of the business.'
                k_lead_source:
                  type: string
                  description: 'The key of the lead source. Empty string if not specified.'
                k_location_home:
                  type: string
                  description: 'The key of the home location.'
                text_address:
                  type: string
                  description: 'The address of the user.'
                text_firstname:
                  type: string
                  description: 'First name of the user.'
                text_lastname:
                  type: string
                  description: 'Last name of the user.'
                text_mail:
                  type: string
                  description: 'Email of the user. Required if {@link ProfileCreateApi::$text_phone} not provided.'
                text_phone:
                  type: string
                  description: 'Phone of the user. Required if {@link ProfileCreateApi::$text_mail} not provided.'
                text_phone_home:
                  type: string
                  description: 'Home phone of the user.'
                text_phone_work:
                  type: string
                  description: 'Work phone of the user.'
                uid_referrer:
                  type: string
                  description: 'Referrer user key. Empty string if not specified.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      uid:
                        type: string
                        description: 'The key of the user.'
      tags:
        - Profile-ProfileCreate
  '/Wl/Report/Access.json':
    get:
      summary: 'Checks access to given report. Accepts either {@link AccessApi::$id_report} (first-generation reports) or {@link AccessApi::$cid_report} (second-generation reports), but not both, and returns `has_access` indicating whether the current user may view the report in the given business.'
      parameters:
        - name: cid_report
          in: query
          description: 'Report CID. It''s used mostly for second generation reports. For first generation reports use {@link AccessApi::$id_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: id_report
          in: query
          description: 'Report ID. It''s used mostly for first generation reports. For second generation reports use {@link AccessApi::$cid_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'ID of business for which access must be checked.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      has_access:
                        type: boolean
                        description: '<tt>true</tt> - access is granted; <tt>false</tt> - access is denied.'
      tags:
        - Report-Access
  '/Wl/Skin/SkinForeign.json':
    delete:
      summary: 'Deletes the existing widget. Permanently removes a widget skin and its foreign ID mapping from the business. Used by external integrators to clean up a widget that is no longer needed.'
      parameters:
        - name: id_skin
          in: query
          description: 'Skin type, one of {@link \RsSkinSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'Key of the business.'
          schema:
            type: string
        - name: s_foreign_id
          in: query
          description: 'Foreign skin key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_skin:
                        type: string
                        description: 'Skin key.'
      tags:
        - Skin-SkinForeign
    post:
      summary: 'Creates a new widget. Creates a new widget skin for the business and links it to an external identifier provided by the integrator. The foreign ID must be unique within the business; attempting to create a duplicate triggers an error directing the caller to use PUT instead.'
      parameters:
        - name: id_skin
          in: query
          description: 'Skin type, one of {@link \RsSkinSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'Key of the business.'
          schema:
            type: string
        - name: s_foreign_id
          in: query
          description: 'Foreign skin key.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_data_specific:
                  type: array
                  description: 'Data specific for the skin type. <i>It is passed to {@link \RsSkinData::data_set()} method.</i> All fields are optional and may be omitted if not needed. For Lead Capture widget it may contain: <dl> <dt>bool `is_add_lead`</dt> <dd>`true` if it can be used in staff back office to add leads by staff member.</dd> <dt>bool `is_welcome_email`</dt> <dd>`true` if welcome email should be sent to each added lead.</dd> <dt>string `k_promotion`</dt> <dd> Key of the purchase option to be granted to each added lead for free. <i>Primary key in the {@link \RsPromotionSql} table.</i> </dd> <dt>bool `is_redirect_self`</dt> <dd>`true` if redirection after lead is captured should be done in the same tab, `false` - in a new tab.</dd> <dt>string `url_redirect`</dt> <dd>URL for redirection after lead is captured.</dd> <dt>string `text_confirmation`</dt> <dd>Confirmation text to be shown after lead is added.</dd> </dl>'
                a_fields:
                  type: array
                  description: 'Profile fields, which should be shown on the widget and if they are required or optional. <dl> <dt>string `k_field`</dt> <dd>Field key. <i>Primary key in {@link \RsFieldSql} table.</i></dd> <dt>bool `is_required`</dt> <dd>`true` if field should be required, `false` - optional.</dd> </dl>'
                text_name:
                  type: string
                  description: 'Name of the widget.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_skin:
                        type: string
                        description: 'Skin key.'
      tags:
        - Skin-SkinForeign
    put:
      summary: 'Updates the existing widget. Updates the configuration of an existing widget skin identified by the business and external foreign ID. Throws an error if no matching foreign ID is found, directing the caller to use POST instead.'
      parameters:
        - name: id_skin
          in: query
          description: 'Skin type, one of {@link \RsSkinSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'Key of the business.'
          schema:
            type: string
        - name: s_foreign_id
          in: query
          description: 'Foreign skin key.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_data_specific:
                  type: array
                  description: 'Data specific for the skin type. <i>It is passed to {@link \RsSkinData::data_set()} method.</i> All fields are optional and may be omitted if not needed. For Lead Capture widget it may contain: <dl> <dt>bool `is_add_lead`</dt> <dd>`true` if it can be used in staff back office to add leads by staff member.</dd> <dt>bool `is_welcome_email`</dt> <dd>`true` if welcome email should be sent to each added lead.</dd> <dt>string `k_promotion`</dt> <dd> Key of the purchase option to be granted to each added lead for free. <i>Primary key in the {@link \RsPromotionSql} table.</i> </dd> <dt>bool `is_redirect_self`</dt> <dd>`true` if redirection after lead is captured should be done in the same tab, `false` - in a new tab.</dd> <dt>string `url_redirect`</dt> <dd>URL for redirection after lead is captured.</dd> <dt>string `text_confirmation`</dt> <dd>Confirmation text to be shown after lead is added.</dd> </dl>'
                a_fields:
                  type: array
                  description: 'Profile fields, which should be shown on the widget and if they are required or optional. <dl> <dt>string `k_field`</dt> <dd>Field key. <i>Primary key in {@link \RsFieldSql} table.</i></dd> <dt>bool `is_required`</dt> <dd>`true` if field should be required, `false` - optional.</dd> </dl>'
                text_name:
                  type: string
                  description: 'Name of the widget.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_skin:
                        type: string
                        description: 'Skin key.'
      tags:
        - Skin-SkinForeign
  '/Thoth/ExplorerSearch/ClassSession/ClassSessionSearch.json':
    get:
      summary: 'Gets list of class sessions based on search criteria. Returns sessions matching the given geographic area, date range, and optional filters for business, location, staff, experience type, home tour type, price, and location rating. Only sessions within their current booking window are included in the result.'
      parameters:
        - name: a_business
          in: query
          description: 'List of business keys to search by. Empty array to not filter by business keys.'
          schema:
            type: array
        - name: a_experience_type
          in: query
          description: 'List of experience types to search by. Each value is one of {@link ClassSessionExperienceTypeEnum} case values. Empty array to not filter by experience type.'
          schema:
            type: array
        - name: a_home_tour
          in: query
          description: 'List of home tour activity types to search by. Each value is from {@link \RsHomeTourSid}. Empty array to not filter by home tour type.'
          schema:
            type: array
        - name: a_location
          in: query
          description: 'List of location keys to search by. Empty array to not filter by location keys.'
          schema:
            type: array
        - name: a_location_rating
          in: query
          description: 'List of location ratings to search by. Values are integers from 1 to 5, or `null`/`0` for unrated locations. Empty array to not filter by location rating.'
          schema:
            type: [array, object]
        - name: a_staff_uid
          in: query
          description: 'List of staff user keys to search by. Each value is a user key (uid) of a staff member. Empty array to not filter by staff.'
          schema:
            type: array
        - name: dl_begin
          in: query
          description: 'Start date of the session search date range in MySQL format (`Y-m-d`). Required. `null` if not set by request.'
          schema:
            type: [string, "null"]
        - name: dl_end
          in: query
          description: 'End date of the session search date range in MySQL format (`Y-m-d`). Required. `null` if not set by request.'
          schema:
            type: [string, "null"]
        - name: f_latitude
          in: query
          description: 'Latitude coordinate for search. Required. `null` if not set by request.'
          schema:
            type: [number, "null"]
        - name: f_longitude
          in: query
          description: 'Longitude coordinate for search. Required. `null` if not set by request.'
          schema:
            type: [number, "null"]
        - name: f_radius
          in: query
          description: 'Search radius in kilometers. Required. `null` if not set by request.'
          schema:
            type: [number, "null"]
        - name: m_price_max
          in: query
          description: 'Maximum price to search by (inclusive). Decimal string in dollars (e.g. `"100.00"`). `null` to not limit by maximum price.'
          schema:
            type: [string, "null"]
        - name: m_price_min
          in: query
          description: 'Minimum price to search by (inclusive). Decimal string in dollars (e.g. `"0.00"`). `null` to not limit by minimum price.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_class_session:
                        type: array
                        description: 'List of found class sessions. Each item is an associative array with the following structure: <dl> <dt>string|null `dtu_book_begin`</dt> <dd>Date and time when booking for this session starts in UTC. `null` if there is no "too early" limitation.</dd> <dt>string|null `dtu_book_end`</dt> <dd>Date and time when booking for this session ends in UTC. `null` if there is no "too late" limitation.</dd> <dt>string `dtu_session`</dt> <dd>Date and time of the session in UTC.</dd> <dt>string `k_class`</dt> <dd>Class key. <i>Primary key in {@link \RsClassSql}.</i></dd> <dt>string `k_class_period`</dt> <dd>Class period key. <i>Primary key in {@link \RsClassPeriodSql}.</i></dd> <dt>string `k_class_period_session`</dt> <dd>Class session key. <i>Primary key in {@link \Thoth\ExplorerSearch\ClassSession\ClassPeriodSessionSql}.</i></dd> </dl>'
      tags:
        - ClassSession-ClassSessionSearch
  '/Thoth/WlPay/Form/Environment.json':
    get:
      summary: 'Returns information about payment environment. Called before rendering a payment form to determine which payment methods and card types are available for a given business and location, what surcharges apply, and how the form should behave (tip prompt, optional card save). This endpoint is deprecated; use {@link \Thoth\WlPay\Form\EnvironmentUserApi} for new integrations.'
      parameters:
        - name: k_business
          in: query
          description: 'The key of the business to retrieve payment information for. This will be `0` if not set yet. An empty string or `null` if payments are performed with the WellnessLiving system merchant.'
          schema:
            type: string
        - name: k_currency
          in: query
          description: 'The key of the currency to retrieve payment information for.'
          schema:
            type: string
        - name: k_location
          in: query
          description: 'The key of the location to retrieve payment information for. This will be `0` if not set yet.'
          schema:
            type: string
        - name: uid_owner
          in: query
          description: 'The user ID to retrieve payment information for. `null` if not defined.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_card_system:
                        type: array
                        description: 'A list of supported bank card systems. Keys refer to card types based on card numbers (see {@link \ACardSystemSid}), and values are IDs of card systems (one of {@link \ACardSystemSid} constants).'
                      a_method_staff:
                        type: array
                        description: 'A list of payment methods enabled for staff members. The ID is one of {@link \RsPayMethodSid} constants. The value is always `true`.'
                      a_method_support:
                        type: array
                        description: 'A list of all payment methods that can be used within this business. This array is sorted in the order in which payment methods should be shown to the user. Each element of the array has the following structure: <dl> <dt>int `id_pay_method`</dt> <dd>The ID of type of payment method. One of {@link \RsPayMethodSid} constants.</dd> <dt>bool `is_client`</dt> <dd> Determines whether this method is available for clients. This field is only returned for custom payment methods. </dd> <dt>string|null `k_pay_method`</dt> <dd> The key of the custom payment method. This will be `null` if this payment method isn''t customized. <i>Primary key in {@link \Thoth\WlPay\Method\MethodSql} table.</i> </dd> <dt>string `s_method`</dt> <dd>The name of payment method. This field is only returned for custom payment methods.</dd> </dl>'
                      a_mobile_config:
                        type: [array, "null"]
                        description: 'The configuration array that''s sent to mobile card reader plugin. The structure of this array depends on the payment processor being used. `null` when mobile card readers are not supported, or when actor has no access to them.'
                      a_pay_processor:
                        type: [array, "null"]
                        description: 'Represents information about payment processors. Keys are payment methods IDs, one of {@link \RsPayMethodSid} constants. Value is the following array: `null` if no processors are set up. <dl> <dt>array|null `a_public_keys`</dt> <dd> Public keys configured for this payment processor. <i>Copy of result of {@link \Thoth\PayProcessor\ProcessorInterface\PayProcessorPublicKeysInterface::publicKeys()}.</i> `null` if this payment processor does not support public keys. </dd> <dt>array|null `a_public_info`</dt> <dd> Public info configured for this payment processor. <i>Copy of result of {@link \Thoth\PayProcessor\ProcessorInterface\PayProcessorPublicInfoInterface::publicInfo()}.</i> `null` if this payment processor does not support public info. </dd> <dt>bool `hide_save_source`</dt> <dd>Whether `save payment method` option should be hidden. `true` if hidden, `false` - otherwise.</dd> <dt>int `id_pay_processor`</dt> <dd>ID of the payment processor. One of {@link \Thoth\PayProcessor\PayProcessorSid} constants.</dd> <dt>null|bool `is_enabled_3ds`</dt> <dd> `true` if 3DS should be performed, `false` if 3DS should not be performed. `null` if this is not defined for payment processor. Only for {@link \Thoth\PayProcessor\PayProcessorSid::NUVEI} </dd> <dt>bool|null `is_test`</dt> <dd> `true` if the merchant is in a test mode, `false` otherwise. `null` if this is not defined for payment processor. </dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant. <i>Primary key in {@link \RsBusinessMerchantSql}.</i></dd> </dl>'
                      dl_now:
                        type: string
                        description: 'Current local date in current location {@link EnvironmentApi::$k_location} or business {@link EnvironmentApi::$k_business} if not set location.'
                      f_surcharge:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with card represented as a percent of transaction amount. This will be `null` if the percentage surcharge amount shouldn''t be withdrawn.'
                      f_surcharge_ach:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with ACH represented as a percent of transaction amount. This will be `null` if the percentage surcharge amount shouldn''t be withdrawn.'
                      id_locale:
                        type: [number, "null"]
                        description: 'The locale ID of the business.'
                      is_save_optional:
                        type: boolean
                        description: '`true` if clients can choose whether their banking and credit card information is saved at checkout, `false` if this information is always saved.'
                      is_save_source:
                        type: boolean
                        description: 'Determines whether newly added payment sources should be saved. This will be `true` if payment sources should be saved, `false` if otherwise.'
                      is_tip:
                        type: boolean
                        description: 'Whether tips are accepted.'
                      m_surcharge:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with card represented as a fixed amount. This will be `null` if the fixed surcharge amount shouldn''t be withdrawn.'
                      m_surcharge_ach:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with ACH represented as a fixed amount. This will be `null` if the fixed surcharge amount shouldn''t be withdrawn.'
      tags:
        - Form-Environment
  '/Thoth/WlPay/Form/EnvironmentUser.json':
    get:
      summary: 'Returns information about payment environment. Called before rendering a payment form to determine which payment methods and card types are available for a given business and location, what surcharges apply, and how the form should behave (tip prompt, optional card save). This endpoint is deprecated; use {@link \Thoth\WlPay\Form\EnvironmentUserApi} for new integrations.'
      parameters:
        - name: k_business
          in: query
          description: 'The key of the business to retrieve payment information for. This will be `0` if not set yet. An empty string or `null` if payments are performed with the WellnessLiving system merchant.'
          schema:
            type: string
        - name: k_currency
          in: query
          description: 'The key of the currency to retrieve payment information for.'
          schema:
            type: string
        - name: k_location
          in: query
          description: 'The key of the location to retrieve payment information for. This will be `0` if not set yet.'
          schema:
            type: string
        - name: uid_owner
          in: query
          description: 'The user ID to retrieve payment information for. `null` if not defined.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_card_system:
                        type: array
                        description: 'A list of supported bank card systems. Keys refer to card types based on card numbers (see {@link \ACardSystemSid}), and values are IDs of card systems (one of {@link \ACardSystemSid} constants).'
                      a_method_staff:
                        type: array
                        description: 'A list of payment methods enabled for staff members. The ID is one of {@link \RsPayMethodSid} constants. The value is always `true`.'
                      a_method_support:
                        type: array
                        description: 'A list of all payment methods that can be used within this business. This array is sorted in the order in which payment methods should be shown to the user. Each element of the array has the following structure: <dl> <dt>int `id_pay_method`</dt> <dd>The ID of type of payment method. One of {@link \RsPayMethodSid} constants.</dd> <dt>bool `is_client`</dt> <dd> Determines whether this method is available for clients. This field is only returned for custom payment methods. </dd> <dt>string|null `k_pay_method`</dt> <dd> The key of the custom payment method. This will be `null` if this payment method isn''t customized. <i>Primary key in {@link \Thoth\WlPay\Method\MethodSql} table.</i> </dd> <dt>string `s_method`</dt> <dd>The name of payment method. This field is only returned for custom payment methods.</dd> </dl>'
                      a_mobile_config:
                        type: [array, "null"]
                        description: 'The configuration array that''s sent to mobile card reader plugin. The structure of this array depends on the payment processor being used. `null` when mobile card readers are not supported, or when actor has no access to them.'
                      a_pay_processor:
                        type: [array, "null"]
                        description: 'Represents information about payment processors. Keys are payment methods IDs, one of {@link \RsPayMethodSid} constants. Value is the following array: `null` if no processors are set up. <dl> <dt>array|null `a_public_keys`</dt> <dd> Public keys configured for this payment processor. <i>Copy of result of {@link \Thoth\PayProcessor\ProcessorInterface\PayProcessorPublicKeysInterface::publicKeys()}.</i> `null` if this payment processor does not support public keys. </dd> <dt>array|null `a_public_info`</dt> <dd> Public info configured for this payment processor. <i>Copy of result of {@link \Thoth\PayProcessor\ProcessorInterface\PayProcessorPublicInfoInterface::publicInfo()}.</i> `null` if this payment processor does not support public info. </dd> <dt>bool `hide_save_source`</dt> <dd>Whether `save payment method` option should be hidden. `true` if hidden, `false` - otherwise.</dd> <dt>int `id_pay_processor`</dt> <dd>ID of the payment processor. One of {@link \Thoth\PayProcessor\PayProcessorSid} constants.</dd> <dt>null|bool `is_enabled_3ds`</dt> <dd> `true` if 3DS should be performed, `false` if 3DS should not be performed. `null` if this is not defined for payment processor. Only for {@link \Thoth\PayProcessor\PayProcessorSid::NUVEI} </dd> <dt>bool|null `is_test`</dt> <dd> `true` if the merchant is in a test mode, `false` otherwise. `null` if this is not defined for payment processor. </dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant. <i>Primary key in {@link \RsBusinessMerchantSql}.</i></dd> </dl>'
                      dl_now:
                        type: string
                        description: 'Current local date in current location {@link EnvironmentApi::$k_location} or business {@link EnvironmentApi::$k_business} if not set location.'
                      f_surcharge:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with card represented as a percent of transaction amount. This will be `null` if the percentage surcharge amount shouldn''t be withdrawn.'
                      f_surcharge_ach:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with ACH represented as a percent of transaction amount. This will be `null` if the percentage surcharge amount shouldn''t be withdrawn.'
                      id_locale:
                        type: [number, "null"]
                        description: 'The locale ID of the business.'
                      is_save_optional:
                        type: boolean
                        description: '`true` if clients can choose whether their banking and credit card information is saved at checkout, `false` if this information is always saved.'
                      is_save_source:
                        type: boolean
                        description: 'Determines whether newly added payment sources should be saved. This will be `true` if payment sources should be saved, `false` if otherwise.'
                      is_tip:
                        type: boolean
                        description: 'Whether tips are accepted.'
                      m_surcharge:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with card represented as a fixed amount. This will be `null` if the fixed surcharge amount shouldn''t be withdrawn.'
                      m_surcharge_ach:
                        type: [string, "null"]
                        description: 'Surcharge amount for payment with ACH represented as a fixed amount. This will be `null` if the fixed surcharge amount shouldn''t be withdrawn.'
      tags:
        - Form-EnvironmentUser
  '/Thoth/WlPay/Method/List.json':
    get:
      summary: 'Returns list of active payment methods data. Returns the system-level payment methods enabled for the business combined with any custom payment methods configured for the business and accessible to the given user based on their role. When `$is_active` is `false`, inactive custom methods are included as well.'
      parameters:
        - name: is_active
          in: query
          description: 'Whether only active payment methods should be returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: show_manual
          in: query
          description: 'Whether payment method {@link \RsPayMethodSid::ACCOUNT_MANUAL} should be included in response.'
          schema:
            type: boolean
        - name: uid
          in: query
          description: 'The key of a user to show information for.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_pay_method:
                        type: array
                        description: 'A list of payment methods: <dl> <dt>int `id_pay_method`</dt> <dd>The payment method type ID. One of {@link \RsPayMethodSid} constants.</dd> <dt>string|null `k_pay_method`</dt> <dd> Payment method key. <i>Primary key int the {@link \Thoth\WlPay\Method\MethodSql} table.</i> May be <tt>null</tt> if it is a system payment method. </dd> <dt>string `s_title`</dt> <dd>The payment method name.</dd> </dl>'
      tags:
        - Method-List
  '/Thoth/WlPay/Account/Account.json':
    get:
      summary: 'Retrieves information about accounts of given user in given business. Returns the list of existing accounts and accounts not yet created for the user within the specified business, including balance, currency, and payment method details. When {@link AccountApi::$is_owner} is `true`, resolves the money owner and includes the debtor status.'
      parameters:
        - name: is_owner
          in: query
          description: 'If `true`, information for the account''s owner is returned. Clients can be configured to pay for a relative''s expenses. For example, a parent can pay for their child. Otherwise, `false` to indicate information strictly for the specified user is returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The key of the business to show information for.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The key of the user to show information for.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_account:
                        type: array
                        description: 'A list of the user''s accounts. Keys are account keys. This could be `0` if the user has no accounts in the currency of the given business. Values are account data: <dl> <dt>int `id_currency`</dt> <dd>Currency ID. One of {@link \Core\Locale\CurrencySid} constant.</dd> <dt>string `k_currency`</dt> <dd>Key of account currency. <i>Primary key in {@link \RsCurrencySql} table.</i></dd> <dt>string|null `k_pay_account`</dt> <dd> ID of payment account. <i>Primary key in {@link \RsPayAccountSql} table.</i> <tt>null</tt> if this is a user account based on system payment method. </dd> <dt>string|null `k_pay_method`</dt> <dd> ID of custom payment method. <tt>null</tt> if this is a user account based on system payment method. <i>Primary key in {@link \Thoth\WlPay\Method\MethodSql}.</i> </dd> <dt>string `m_rest`</dt> <dd>Account balance.</dd> <dt>string|null `s_method`</dt> <dd>Name of a custom payment method. <tt>null</tt> if this is a user account based on system payment method.</dd> </dl>'
                      a_account_nx:
                        type: array
                        description: 'A list of accounts that have not been created for this user yet. Keys are composed of `{k_pay_method}:{k_currency}`. Each element: <dl> <dt>bool `can_negative`</dt> <dd>`true` if the account is allowed to have a negative balance, `false` otherwise.</dd> <dt>int `id_currency`</dt> <dd>Currency ID. One of {@link \Core\Locale\CurrencySid} constants.</dd> <dt>string `k_currency`</dt> <dd>Currency key. <i>Primary key in the {@link \RsCurrencySql} table.</i></dd> <dt>string|null `k_pay_account`</dt> <dd>Payment account key. `null` for accounts not yet created.</dd> <dt>string|null `k_pay_method`</dt> <dd> Custom payment method key. `null` for accounts based on the system payment method. <i>Primary key in the {@link \Thoth\WlPay\Method\MethodSql} table.</i> </dd> <dt>string `m_rest`</dt> <dd>Account balance. Always `''0.00''` for accounts not yet created.</dd> <dt>string|null `s_method`</dt> <dd>Name of the custom payment method. `null` for accounts based on the system payment method.</dd> </dl>'
                      is_debtor:
                        type: boolean
                        description: 'Determines whether the user is a debtor. If `true` - the owner of this account is a debtor. If `false` - the user is not a debtor or the information is not returned for the account owner ({@link AccountApi::$is_owner} is `false`).'
      tags:
        - Account-Account
  '/Thoth/WlPay/Address/Address.json':
    get:
      summary: 'Gets user''s payment addresses information. Returns the list of saved payment addresses for the specified owner type and key, including address fields, country and region details, and the currently selected address. Returns `null` if the current user cannot edit bank accounts for the owner.'
      parameters:
        - name: id_pay_owner
          in: query
          description: 'The ID of the payment owner type. One of {@link \RsPayOwnerSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'Business key, where the payment is performed. <tt>null</tt> if pay owner is not user.'
          schema:
            type: string
        - name: k_id
          in: query
          description: 'The primary key of a payment owner. This could be the business of the user depending on a {@link \Thoth\WlPay\Address\AddressApi::$id_pay_owner} value.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_pay_address:
                        type: [array, "null"]
                        description: 'The payee''s address information. A list of payment addresses belonging to the owner. Each element: `null` if the current user has no access to the required information, or cannot edit the bank account. <dl> <dt>bool `is_selected`</dt> <dd>`true` if this address is currently selected, `false` otherwise.</dd> <dt>string|null `k_country`</dt> <dd>Country geo key. `null` if the country cannot be determined.</dd> <dt>string `k_pay_address`</dt> <dd>Payment address key. Primary key in the `rs_pay_address` table.</dd> <dt>string `k_region`</dt> <dd>Region geo key.</dd> <dt>string `s_city`</dt> <dd>City name.</dd> <dt>string|null `s_country`</dt> <dd>Country name. `null` if the country cannot be determined.</dd> <dt>string `s_country_code`</dt> <dd>Country abbreviation code, or an empty string if unavailable.</dd> <dt>string `s_name`</dt> <dd>Full name of the address owner.</dd> <dt>string `s_phone`</dt> <dd>Phone number.</dd> <dt>string `s_postal`</dt> <dd>Postal code.</dd> <dt>string|null `s_region`</dt> <dd>Region name.</dd> <dt>string|null `s_region_code`</dt> <dd>Region abbreviation code. `null` if the region cannot be determined.</dd> <dt>string `s_street1`</dt> <dd>First line of the street address.</dd> <dt>string `s_street2`</dt> <dd>Second line of the street address.</dd> <dt>string|null `text_mail`</dt> <dd>Email address of the owner. `null` if the owner is a business.</dd> </dl>'
      tags:
        - Address-Address
  '/Thoth/WlPay/Address/Profile.json':
    get:
      summary: 'Returns default payment address data that is retrieved from user profile. Loads the user''s profile for the given business and returns address fields (name, phone, street, city, postal code, country, region) to pre-populate a payment address form.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key number used internally by WellnessLiving.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The key of the user whose data should be retrieved.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_geo_country:
                        type: [string, "null"]
                        description: 'The country key. This will be `null` if not set yet.'
                      k_geo_region:
                        type: [string, "null"]
                        description: 'The region ID. This will be `null` if not set yet.'
                      s_city:
                        type: [string, "null"]
                        description: 'The name of the city in the address. This will be `null` if not set yet.'
                      s_name:
                        type: [string, "null"]
                        description: 'The client name as listed in their address. This will be `null` if not set yet.'
                      s_phone:
                        type: [string, "null"]
                        description: 'The client phone number. This will be `null` if not set yet.'
                      s_postal:
                        type: [string, "null"]
                        description: 'The client postal or zip code. This will be `null` if not set yet.'
                      s_street1:
                        type: [string, "null"]
                        description: 'The first line of the client address. This will be `null` if not set yet.'
                      s_street2:
                        type: [string, "null"]
                        description: 'The second line of the client address. This will be `null` if not set yet.'
      tags:
        - Address-Profile
  '/Thoth/WlPay/Owner/Owner.json':
    get:
      summary: 'Returns information about payment owner. Must be called before initiating any payment on behalf of a user, to determine the correct payment owner keys to pass to the payment form. Also indicates whether a family-account relationship exists (for example, a parent paying for a child), which affects how the payment form is pre-populated.'
      parameters:
        - name: k_business
          in: query
          description: 'Business key. `null` if not passed.'
          schema:
            type: [string, "null"]
        - name: uid
          in: query
          description: 'Key of a user to show information for.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      id_pay_owner:
                        type: number
                        format: int32
                        description: 'The type of user for which transactions can be made (this property is optional). This is one of the {@link \RsPayOwnerSid} constants.'
                      is_pay_self_only:
                        type: boolean
                        description: 'Is client pay only for self. If parent pays for child this flag will be `false` for both. `true` if client pay only for self, `false` - otherwise.'
                      k_pay_owner:
                        type: string
                        description: 'The payment owner key. This is used for financial transactions.'
                      k_pay_owner_money:
                        type: string
                        description: 'Key of the money owner. <i>Copy of result of {@link PayOwner::ownerMoney()}.</i>'
      tags:
        - Owner-Owner
  '/Studio/Microservice/Editor/List.json':
    get:
      summary: 'Gets a list of microservices. Returns microservices accessible to the current user based on project roles and privileges.'
      parameters:
        - name: id_remove
          in: query
          description: 'Specifies whether to show removed and/or not removed microservices. One of {@link \AFlagSid} constants. * {@link \AFlagSid::ON} to show only not removed microservices. * {@link \AFlagSid::OFF} to show only removed microservices. * {@link \AFlagSid::ALL} to show all microservices (removed and not removed).'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: object
                        description: 'A list of microservices. One element contains: <dl> <dt>bool `is_remove`</dt> <dd>Whether the microservice has been deleted. `true` is the microservice is removed, `false` otherwise.</dd> <dt>string `json_path`</dt> <dd> A list of repositories and paths of this microservice. <i>Copy of {@link \Studio\Microservice\MicroserviceSql}.<var>json_path</var> field.</i> </dd> <dt>string `k_project`</dt> <dd>Project key. <i>Primary key in {@link \StudioProjectSql} table.</i></dd> <dt>string `s_file`</dt> <dd>File name.</dd> <dt>string `s_group`</dt> <dd> The group to which the microservice belongs. <i>See details in the `s_group` field of {@link \Studio\Microservice\MicroserviceSql} table.</i> </dd> <dt>string `s_variable`</dt> <dd> Microservice-specific variables. A set of pairs key=value, separated by newlines. <i>The list of variables is described in class {@link \Studio\Sprint\Promoting\PromotingConfigValue}.</i> </dd> <dt>string `text_project`</dt> <dd>Title of the project.</dd> <dt>string `text_title`</dt> <dd>Title of the microservice.</dd> <dt>string `url_microservice_promoting`</dt> <dd>URL of the promoting page for this microservice.</dd> </dl>'
      tags:
        - Editor-List
  '/Studio/Microservice/Service/InstanceActiveCheck.json':
    post:
      summary: 'Checks activity status of microservice instances. Queries DynamoDB for each provided instance ID and returns active, test, and existence flags for each instance.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_instance_check:
                  type: array
                  description: 'Instance ID list to check.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_instance:
                        type: array
                        description: 'List of instance IDs. Key is instance ID, value is an array with the following fields: <dl> <dt>bool `is_active`</dt> <dd> Whether the instance is active. `true` - the instance is active. `false` - the instance is not active. `null` - unknown, error occurred while checking instance activity. </dd> <dt>bool `is_error`</dt> <dd> Whether there was an error while checking the instance. `true` - an error occurred while checking the instance. `false` - the instance was checked successfully. </dd> <dt>bool `is_exists`</dt> <dd>Whether information about the instance was found. `true` - found, `false` - not found, `null` - unknown.</dd> <dt>bool `is_test`</dt> <dd>Whether the instance is a test instance. `true` - test, `false` - not a test, `null` - unknown.</dd> </dl>'
      tags:
        - Service-InstanceActiveCheck
  '/Studio/Task/Branch/BranchList.json':
    get:
      summary: 'Returns a list of branches for accessible projects. Lists all active branches in projects where the current user has the branch view privilege.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_data:
                        type: array
                        description: 'List of branch. One element contains: <dl> <dt>string[] `a_path`</dt> <dd> Information about paths into which catalogs are cloned/copied. <i>The structure corresponds to the {@link \Studio\Task\Branch\BranchSql}.<var>z_path</var> field.</i> </dd> <dt>string `dtu_create`</dt> <dd>Date when branch was created.</dd> <dt>string `k_deploy_instance`</dt> <dd>Key of deployment instance. <i>Primary key in {@link \StudioDeployInstanceSql} table.</i></dd> <dt>string `k_task`</dt> <dd>Task key. <i>Primary key in {@link \StudioTaskSql} table.</i></dd> <dt>string `text_create`</dt> <dd>Formatted time interval when branch was created.</dd> <dt>string `text_fio`</dt> <dd>Task author name.</dd> <dt>string `text_title`</dt> <dd>Title of the task.</dd> <dt>string `url_task`</dt> <dd>URL of the task.</dd> </dl>'
      tags:
        - Branch-BranchList
  '/Studio/Task/Branch/Branch.json':
    delete:
      summary: 'Changes a status of the branch for the specified task in the database and runs build for deleting a branch. Sets branch status to deleting and starts the `BranchDelete` build on the deployment instance. Returns the build log URL on success.'
      parameters:
        - name: id_build_mode
          in: query
          description: 'Mode of the <tt>BranchDelete</tt> build.'
          schema:
            type: number
            format: int32
        - name: k_deploy_instance
          in: query
          description: 'Deployment instance key which creates/deletes a branch for the specified task.'
          schema:
            type: string
        - name: k_task
          in: query
          description: 'Task key within which a branch should be created/deleted.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_build:
                        type: string
                        description: 'Url to build page. Empty string means that build is not started.'
      tags:
        - Branch-Branch
    get:
      summary: 'Returns branch status and data for a task. Retrieves `id_branch_status`, `id_stand_status`, and additional branch data for the specified task.'
      parameters:
        - name: k_task
          in: query
          description: 'Task key within which a branch should be created/deleted.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_branch_data:
                        type: [array, string, "null"]
                        description: 'Addition information about branch and related entities. Has an arbitrary structure. `string` if it needs to set an empty value. `null` will not change.'
                      id_branch_status:
                        type: [number, "null"]
                        description: 'Branch status, one of {@link BranchStatusSid}.'
                      id_stand_status:
                        type: [number, "null"]
                        description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
                      k_task:
                        type: string
                        description: 'Task key within which a branch should be created/deleted.'
      tags:
        - Branch-Branch
    post:
      summary: 'Registers a new branch for the specified task in the database and runs a build for creating a branch. Validates the task, deployment instance, and microservice, then creates a branch record and starts the `BranchCreate` build. Returns the build log URL on success.'
      parameters:
        - name: k_deploy_instance
          in: query
          description: 'Deployment instance key which creates/deletes a branch for the specified task.'
          schema:
            type: string
        - name: k_microservice
          in: query
          description: 'A microservice key.'
          schema:
            type: string
        - name: k_task
          in: query
          description: 'Task key within which a branch should be created/deleted.'
          schema:
            type: string
        - name: s_environment
          in: query
          description: 'A microservice environment for create branch.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_branch_data:
                  type: [array, string, "null"]
                  description: 'Addition information about branch and related entities. Has an arbitrary structure. `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_build:
                        type: string
                        description: 'Url to build page. Empty string means that build is not started.'
      tags:
        - Branch-Branch
    put:
      summary: 'Updates branch data for a task. Saves additional branch data (`a_branch_data`) for the branch of the specified task.'
      parameters:
        - name: k_task
          in: query
          description: 'Task key within which a branch should be created/deleted.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_branch_data:
                  type: [array, string, "null"]
                  description: 'Addition information about branch and related entities. Has an arbitrary structure. `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Branch-Branch
  '/Studio/Task/Branch/BranchBuild.json':
    delete:
      summary: 'Deletes a branch from the database. <tt>BranchDelete</tt> build calls at the end of the executing.'
      parameters:
        - name: s_task_link
          in: query
          description: 'Task link of the branch. <i>Copy of the {@link \StudioTaskSql}.<var>s_link</var> field.</i>'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Branch-BranchBuild
    post:
      summary: 'Sets build that creates a branch and information about paths into which catalogs are cloned. <tt>BranchCreate</tt> build calls at the start of the executing.'
      parameters:
        - name: a_path
          in: query
          description: 'Information about paths into which catalogs are cloned. Keys are aliases of the original repository catalogs. Values are paths into which original catalogs are cloned. Each element has the following structure: Set this property when a new branch is created. In other cases, an exception will be thrown. <dl> <dt>int `id_repository_server_type`</dt> <dd>Repository service type ID. One of {@link \StudioRepositoryServerTypeSid} constants.</dd> <dt>string `s_destination`</dt> <dd>Path into which original catalog is cloned/copied.</dd> <dt>string `s_repository`</dt> <dd>Repository name.</dd> <dt>string `s_source`</dt> <dd>Path of the original catalog.</dd> </dl>'
          schema:
            type: array
        - name: k_build
          in: query
          description: 'Build key that creates a branch for the specified task.'
          schema:
            type: string
        - name: s_task_link
          in: query
          description: 'Task link of the branch. <i>Copy of the {@link \StudioTaskSql}.<var>s_link</var> field.</i>'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Branch-BranchBuild
    put:
      summary: 'Changes branch status as {@link BranchStatusSid::READY}. <tt>BranchCreate</tt>> build calls at the end of the executing.'
      parameters:
        - name: k_build
          in: query
          description: 'Build key that creates a branch for the specified task.'
          schema:
            type: string
        - name: s_task_link
          in: query
          description: 'Task link of the branch. <i>Copy of the {@link \StudioTaskSql}.<var>s_link</var> field.</i>'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Branch-BranchBuild
  '/Studio/Deploy/Cluster/Cluster.json':
    post:
      summary: 'Create new `Deploy Cluster`. Validates SSH keys, Amazon security group configuration, and repository paths. Creates a new cluster record linked to the specified deployment instance.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                i_port:
                  type: [number, "null"]
                  description: 'SSH port number that should be used by compilation server to connect instance servers.'
                is_active:
                  type: [boolean, "null"]
                  description: 'Whether this deployment cluster is active.'
                is_fingerprint:
                  type: boolean
                  description: 'Whether to update fingerprints. Additionally, this setting allows you to force the transfer of keys to the server.'
                k_deploy_cluster:
                  type: [string, "null"]
                  description: 'Key of the cluster being saved.'
                k_deploy_compile:
                  type: [string, "null"]
                  description: 'ID of deployment server that serves this cluster.'
                k_deploy_instance:
                  type: [string, "null"]
                  description: '`Deploy Instance` ID.'
                s_cluster:
                  type: [string, "null"]
                  description: 'Cluster description contains either amazon security group id.'
                s_deploy_cluster:
                  type: [string, "null"]
                  description: 'Name of this deployment cluster.'
                s_key_control:
                  type: [string, "null"]
                  description: 'Private key to access all instances of cluster over SSH under control user.'
                s_ssh:
                  type: [string, "null"]
                  description: 'Private key to access all instances of cluster over SSH under instance user.'
                s_user:
                  type: [string, "null"]
                  description: 'Name of instance user.'
                s_user_control:
                  type: [string, "null"]
                  description: 'Name of control user.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_deploy_cluster:
                        type: [string, "null"]
                        description: 'Key of the cluster being saved.'
      tags:
        - Cluster-Cluster
  '/Studio/Deploy/Instance/Instance.json':
    delete:
      summary: 'Delete an instance from database. For now only `stand` instances can be deleted physically. Validates that the instance exists and is a stand instance before deleting the record.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Instance-Instance
    post:
      summary: 'Creates new `Deploy Instance` Validates repository paths, variables, project, and optional account, role, and tag assignments.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_role:
                  type: [array, "null"]
                  description: 'List of `Project Role`.'
                a_tag:
                  type: [array, "null"]
                  description: 'List of tags. Each is one of {@link Tag::TAG_LIST}.'
                is_button:
                  type: [boolean, "null"]
                  description: 'Allow users to start builds manually by clicking a button.'
                is_commit:
                  type: [boolean, "null"]
                  description: 'Run build automatically upon commit.'
                is_queue:
                  type: [boolean, "null"]
                  description: 'Allow multiple commits to wait in the build queue. If not allowed, then only a single (the last one) commit may wait in the queue.'
                is_remove:
                  type: [boolean, "null"]
                  description: 'Indicates if instance set as removed.'
                k_amazon_account:
                  type: [string, "null"]
                  description: 'The key of `Studio Amazon Account`.'
                k_deploy_instance:
                  type: [string, "null"]
                  description: 'The key of `Studio Deploy Instance`.'
                k_project:
                  type: [string, "null"]
                  description: 'The key of `Studio Project`'
                s_deploy_instance:
                  type: [string, "null"]
                  description: 'The name of `Studio Deploy Instance`.'
                s_path:
                  type: [string, "null"]
                  description: 'The value contains a list of repository path.'
                s_variable:
                  type: [string, "null"]
                  description: 'The value contains a list of variables.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_deploy_instance:
                        type: [string, "null"]
                        description: 'The key of `Studio Deploy Instance`.'
      tags:
        - Instance-Instance
  '/Studio/Personnel/DebugToken/DebugTokenService.json':
    post:
      summary: 'Return information is the debug token is valid. Validates token expiration, the requesting bot login, and personnel access before confirming.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_passport_bot_login:
                  type: string
                  description: 'Passport bot login that sends the request to check the token. <i>Copy of the {@link PASSPORT_BOT_LOGIN}.</i>'
                s_token:
                  type: string
                  description: 'Debug token to check.'
                url_request:
                  type: string
                  description: 'Full URL of the request which was made to get access with testing token, including protocol, host, and URI.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_valid:
                        type: boolean
                        description: 'Debug token to check and if valid to return `true` otherwise `false`.'
      tags:
        - DebugToken-DebugTokenService
  '/Studio/Service/Cid/Info.json':
    get:
      summary: 'Returns information about a CID. Retrieves the class name registered for the given CID value.'
      parameters:
        - name: cid
          in: query
          description: 'CID of the class to retrieve information for.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      s_class:
                        type: string
                        description: 'Name of the class associated with specified CID.'
      tags:
        - Cid-Info
  '/Studio/Service/Cid/Register.json':
    post:
      summary: 'Registers a new CID. If class is registered already, returns its CID.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_class:
                  type: string
                  description: 'Name of the class to register.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      cid:
                        type: number
                        format: int32
                        description: 'CID of requested class.'
      tags:
        - Cid-Register
  '/Studio/Service/Cid/Rename.json':
    put:
      summary: 'Allows to rename a class associated with a CID. The CID must already be registered. Validates the new class name format before updating.'
      parameters:
        - name: cid
          in: query
          description: 'CID of the class to rename.'
          schema:
            type: number
            format: int32
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_class:
                  type: string
                  description: 'New name to assign to a CID.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Cid-Rename
  '/Studio/Ip/Service/Edit.json':
    delete:
      summary: 'Deletes an IP service. Removes the service record from the database.'
      parameters:
        - name: k_ip_service
          in: query
          description: 'If a service is edited, its key is stored here. <tt>null</tt> if a new service should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Service-Edit
    get:
      summary: 'Returns information about an IP service. Returns the service name, group, type, timeout, update rules, and auto-restriction flag.'
      parameters:
        - name: k_ip_service
          in: query
          description: 'If a service is edited, its key is stored here. <tt>null</tt> if a new service should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      id_service_timeout:
                        type: number
                        format: int32
                        description: 'Timeout of the service. One of {@link \Studio\Ip\Service\ServiceTimeoutSid} constants.'
                      id_service_type:
                        type: number
                        format: int32
                        description: 'Type of the service. One of {@link \Studio\Ip\Service\ServiceTypeSid} constants.'
                      is_auto_restricted:
                        type: boolean
                        description: 'Indicates whether automatic session renewal for IP-based access is restricted. If set to `1`, access by IP is restricted and automatic session renewal is disabled if `0`, access by IP is allowed and session can be automatically renewed.'
                      text_group:
                        type: string
                        description: 'Group of services.'
                      text_title:
                        type: string
                        description: 'Name of the service.'
                      text_update:
                        type: string
                        description: 'Network update rules.'
      tags:
        - Service-Edit
    post:
      summary: 'Saves an IP service. Creates or updates a service record. When update rules are provided, the service IP list is updated.'
      parameters:
        - name: k_ip_service
          in: query
          description: 'If a service is edited, its key is stored here. <tt>null</tt> if a new service should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_service_timeout:
                  type: number
                  format: int32
                  description: 'Timeout of the service. One of {@link \Studio\Ip\Service\ServiceTimeoutSid} constants.'
                id_service_type:
                  type: number
                  format: int32
                  description: 'Type of the service. One of {@link \Studio\Ip\Service\ServiceTypeSid} constants.'
                is_auto_restricted:
                  type: boolean
                  description: 'Indicates whether automatic session renewal for IP-based access is restricted. If set to `1`, access by IP is restricted and automatic session renewal is disabled if `0`, access by IP is allowed and session can be automatically renewed.'
                text_group:
                  type: string
                  description: 'Group of services.'
                text_title:
                  type: string
                  description: 'Name of the service.'
                text_update:
                  type: string
                  description: 'Network update rules.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_ip_service:
                        type: [string, "null"]
                        description: 'If a service is edited, its key is stored here. <tt>null</tt> if a new service should be created. This value is required for create and delete operations.'
      tags:
        - Service-Edit
  '/Studio/Ip/Bot/Access.json':
    delete:
      summary: 'Revokes bot access from a service. Removes the access record and schedules a service update to apply the change.'
      parameters:
        - name: k_ip_bot
          in: query
          description: 'Key of a bot which access should be changed.'
          schema:
            type: string
        - name: k_ip_service
          in: query
          description: 'Key of a service which access should be changed.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Bot-Access
    put:
      summary: 'Grants bot access to a service. Inserts an access record and schedules a service update to apply the change.'
      parameters:
        - name: k_ip_bot
          in: query
          description: 'Key of a bot which access should be changed.'
          schema:
            type: string
        - name: k_ip_service
          in: query
          description: 'Key of a service which access should be changed.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Bot-Access
  '/Studio/Ip/Bot/Edit.json':
    delete:
      summary: 'Deletes a bot. Removes the bot record and schedules service updates for all services the bot had access to.'
      parameters:
        - name: k_ip_bot
          in: query
          description: 'If a bot is edited, its key is stored here. <tt>null</tt> if a new bot should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Bot-Edit
    get:
      summary: 'Returns information about a bot. Returns the bot name, network, password, update rules, and active status.'
      parameters:
        - name: k_ip_bot
          in: query
          description: 'If a bot is edited, its key is stored here. <tt>null</tt> if a new bot should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_active:
                        type: boolean
                        description: 'Whether this bot is active.'
                      text_bot:
                        type: string
                        description: 'Name of the bot.'
                      text_network:
                        type: string
                        description: 'Network of the bot. Note that value sent here is ignored in a case {@link EditApi::$text_update} is not empty.'
                      text_password:
                        type: string
                        description: 'Update password.'
                      text_update:
                        type: string
                        description: 'Network update rules.'
      tags:
        - Bot-Edit
    post:
      summary: 'Saves a bot. Creates or updates a bot record. When update rules are provided, the network is derived from them.'
      parameters:
        - name: k_ip_bot
          in: query
          description: 'If a bot is edited, its key is stored here. <tt>null</tt> if a new bot should be created. This value is required for create and delete operations.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_active:
                  type: boolean
                  description: 'Whether this bot is active.'
                text_bot:
                  type: string
                  description: 'Name of the bot.'
                text_network:
                  type: string
                  description: 'Network of the bot. Note that value sent here is ignored in a case {@link EditApi::$text_update} is not empty.'
                text_password:
                  type: string
                  description: 'Update password.'
                text_update:
                  type: string
                  description: 'Network update rules.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_ip_bot:
                        type: [string, "null"]
                        description: 'If a bot is edited, its key is stored here. <tt>null</tt> if a new bot should be created. This value is required for create and delete operations.'
      tags:
        - Bot-Edit
  '/Core/Google/Captcha/GoogleCaptcha.json':
    put:
      summary: 'Saves the user CAPTCHA token for the current session. Accepts the CAPTCHA version, the action name, and the user token obtained from the Google reCAPTCHA widget, and stores them in the session so that subsequent API requests requiring CAPTCHA verification can use them.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_version:
                  type: number
                  format: int32
                  description: 'Captcha version ID.'
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Captcha-GoogleCaptcha
  '/Core/Google/Captcha/CaptchaScore.json':
    get:
      summary: 'Returns the overridden score for the reCAPTCHA v3. Returns the current session-level score override value that was set via the PUT method. Requires reCAPTCHA v3 to be enabled; throws an exception otherwise.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      f_score:
                        type: [number, "null"]
                        description: 'Overridden score value for V3 captcha. `null` to reset override.'
      tags:
        - Captcha-CaptchaScore
    post:
      summary: 'Validates the reCAPTCHA v3 token. Accepts a reCAPTCHA v3 user token, sends it to Google for verification, and returns a response ID indicating the outcome. Note that each token can only be validated once; a new token must be generated for subsequent requests.'
      parameters:
        - name: text_token
          in: query
          description: 'The user token CAPTCHA from {@link CaptchaVersionSid::V3} captcha. Be careful when use this endpoint for validate token, because token can be used only once, so if you validate token in this endpoint, you must generate new token for next requests.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      id_response:
                        type: number
                        format: int32
                        description: 'Captcha response ID.'
      tags:
        - Captcha-CaptchaScore
    put:
      summary: 'Overrides the score for the reCAPTCHA v3. Sets a custom score value in the range 0.0-1.0 to override the actual reCAPTCHA v3 score for the current session. Pass `null` to clear the override and restore the default behavior. Requires the score override feature to be enabled.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                f_score:
                  type: [number, "null"]
                  description: 'Overridden score value for V3 captcha. `null` to reset override.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Captcha-CaptchaScore
  '/Social/Facebook/Login/Login.json':
    post:
      summary: 'Authorizes user with facebook. Accepts a Facebook access token and an optional application ID. If the user is already signed in, links the Facebook account to their existing account; otherwise, signs them in or creates a new account using the Facebook identity and the configured Facebook credentials.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_application:
                  type: [string, "null"]
[...]
