openapi: 3.1.0
info:
  title: 'WellnessLiving public API'
  version: 1.1.20250220113447
  description: |
    WellnessLiving API is a RESTful way to access and manage your business data.
    Last updated at: 2025-02-20 11:34:47
servers:
  - url: https://us.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the United States data center'
  - url: https://au.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the Australia data center'
paths:
  '/Core/Request/Example.json':
    get:
      summary: ''
      parameters:
        - name: i_argument
          in: query
          description: 'Example argument.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  i_result:
                    type: number
                    format: int32
                    description: 'Example result.'
                  s_log:
                    type: string
                    description: 'Key of the log record written by the API controller.'
      tags:
        - Request-Example
  '/Core/Geo/Combobox.json':
    get:
      summary: 'Returns a list of cities to show in combobox list.'
      parameters:
        - name: id_locale
          in: query
          description: 'The locale ID used as a filter. The locale is generally a country. One of the {@link LocaleSid} constants. This will be `0` if all locations are searched.'
          schema:
            type: number
            format: int32
        - name: s_value
          in: query
          description: 'The city name (or a fragment of the city name) used for the search.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_list:
                    type: array[]
                    description: 'A list of items to show in the combobox list. Each element of the array is a city matching the string with the following structure: <dl> <dt>string <var>s_value</var></dt> <dd>The human-readable name of the city, including the state/province and country.</dd> <dt>string <var>s_key</var></dt> <dd>The <var>k_city</var> value for the city.</dd> </dl>'
      tags:
        - Geo-Combobox
  '/Core/WebSocket/Subscribe.json':
    post:
      summary: 'Checks whether a listener can subscribe to specified channel. Subscribes in a case of positive result.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_key:
                  type: array
                  description: 'Keys of the channel. Key is name of a key field in a channel controller. Value is its value. Subscriber will only receive notifications about events in which all these values equal values specified here.'
                cid_channel:
                  type: number
                  format: int32
                  description: 'Channel controller CID.'
                s_password:
                  type: string
                  description: 'Subscriber password.'
                s_token:
                  type: string
                  description: 'Request token. This token is only used for asynchronous functions, and identifies a specific request.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_message_broadcast:
                    type: array
                    description: 'All messages in queue. Key is a message key. Value is message data. When a client is initially subscribed for a WebSocket channel, entire message queue is sent to the client. This is needed to send message that were generated before a client has subscribed.'
      tags:
        - WebSocket-Subscribe
  '/Core/Captcha/CaptchaRequire.json':
    get:
      summary: ''
      parameters:
        - name: a_arguments
          in: query
          description: 'Arguments for creating CAPTCHA object.'
          schema:
            type: array
        - name: cid_captcha
          in: query
          description: 'The CID of the CAPTCHA.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_require:
                    type: boolean
                    description: 'This will be `true` if a CAPTCHA is required. Otherwise, this will be `false`.'
      tags:
        - Captcha-CaptchaRequire
  '/Core/Google/GoogleCaptcha.json':
    put:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Google-GoogleCaptcha
  '/Social/Microsoft/Login.json':
    delete:
      summary: 'Removes the association between a website client and a Microsoft account.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                uid:
                  type: string
                  description: 'The client for whom the Microsoft account will be unlinked.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
    get:
      summary: 'Collects data for the Microsoft login button.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  is_exists:
                    type: boolean
                    description: 'If `true`, the user has a bound Microsoft account. Otherwise, this will be `false`.'
                  url_login:
                    type: string
                    description: 'The Microsoft OAuth 2.0 authorization link.'
      tags:
        - Microsoft-Login
    post:
      summary: 'Signs a user in with Microsoft.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_external:
                  type: boolean
                  description: 'If authorization is performed in a third-party application, set this flag in case of authorization errors.'
                s_code:
                  type: string
                  description: 'The authorization code that the app requested.'
                s_state:
                  type: string
                  description: 'If a state parameter is included in the request, the same value should appear in the response. The app should verify that the state values in the request and response are identical.'
                url_redirect:
                  type: string
                  description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
  '/Wl/Visit/VisitStatus.json':
    get:
      summary: 'Gets visit status.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: k_timezone
          in: query
          description: 'The time zone key. `null` if not set then use default timezone client. See {@link ProfileTimezone::createInBusiness()}.'
          schema:
            type: null|string
        - name: k_visit
          in: query
          description: 'The visit key.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_resource:
                    type: array[]|null
                    description: 'An array of service resources. The key refers to the `k_resource_type`. See {@link \RsResourceTypeSql}. The value is an array with the following key: `k_resource`. See {@link \RsResourceSql}. The array element contains a nested array with `i_index` and `i_quantity`. See {@link \RsResourceBusySql}. This will be empty if not set yet.'
                  a_resource_alias:
                    type: array[]|null
                    description: 'An array of service resources. Contains an extended data set, as well as a different format than {@link VisitStatusApi::$a_resource}. Each element contains the following set of data: <dl> <dt>string <var>k_resource</var></dt> <dd>Resource primary key in {@link \RsResourceSql} table.</dd> <dt>string <var>k_resource_type</var></dt> <dd>Resource type primary key in {@link \RsResourceTypeSql} table.</dd> <dt>int <var>i_index</var></dt> <dd>Index of the resource on the layout.</dd> <dt>int <var>i_quantity</var></dt> <dd>Quantity of the resource on the layout.</dd> <dt>string <var>text_alias</var></dt> <dd>Resource''s custom name (alias) on the layout.</dd> <dt>string <var>text_title</var></dt> <dd>Resource''s title.</dd> </dl>'
                  a_staff:
                    type: string[]
                    description: 'The list of keys of staff members that conduct the class.'
                  dt_date:
                    type: string
                    description: 'The visit date and time in UTC and in MySQL format.'
                  dtl_date:
                    type: string
                    description: 'The visit date in the location''s time zone and in MySQL format.'
                  i_duration:
                    type: number
                    format: int32
                    description: 'The service duration (in minutes).'
                  i_wait_spot:
                    type: number
                    format: int32
                    description: 'The client''s place in a waiting list.'
                  id_mode:
                    type: number
                    format: int32
                    description: 'The source of the visit or the visit change. One of the {@link \Wl\Mode\ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                  id_visit:
                    type: string
                    description: 'The status of the visit. One of the {@link \Wl\Visit\VisitSid} constants.'
                  is_event:
                    type: boolean
                    description: 'Determines whether the visit is from an event.'
                  k_class:
                    type: string
                    description: 'The class key.'
                  k_class_period:
                    type: string
                    description: 'The class period key.'
                  k_location:
                    type: string
                    description: 'The key of the location where visit provides.'
                  k_service:
                    type: string|null
                    description: 'The service key. If ''null'', the visit isn''t from an appointment.'
                  k_staff:
                    type: string|null
                    description: 'The key of the staff providing the appointment. If `null`, the visit isn''t from an appointment (for example, the visit is from an asset).'
                  s_calendar_file_content:
                    type: string
                    description: 'The .ics file for adding the service to a phone calendar.'
                  text_abbr_timezone:
                    type: string
                    description: 'The text abbreviation of the time zone.'
                  text_location:
                    type: string
                    description: 'The full address of the location for the visit (not the name of the location).'
                  text_staff:
                    type: string
                    description: 'The full name of the staff member who conducts this visit. If there are several staff members conducting the visit, their names will all be listed and separated by commas.'
                  text_title:
                    type: string
                    description: 'The service title.'
      tags:
        - Visit-VisitStatus
    post:
      summary: 'Changes visit status.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_visit_from:
                  type: string|null
                  description: 'The status of the visit from which the transition is made. One of the {@link \Wl\Visit\VisitSid} constants. If the visit status is passed, it will be used to check with the actual status in the database. If `null`, the visit hasn''t yet passed. If the status of this parameter is out of date, the API call will refresh it.'
                is_charge_fee:
                  type: boolean
                  description: 'The staff decision to charge (or not charge) a penalty when a client meets late cancel/no-show requirements. If `true`, a late cancel fee should be charged. Otherwise, this will be `false`.'
                k_business:
                  type: string
                  description: 'The business key.'
                k_mail_pattern_live:
                  type: string|null
                  description: 'The email pattern key. If `null`, the live email pattern shouldn''t be used.'
                k_visit:
                  type: string
                  description: 'The visit key.'
                text_reason:
                  type: string
                  description: 'The reason the visit was canceled.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  id_mode:
                    type: number
                    format: int32
                    description: 'The source of the visit or the visit change. One of the {@link \Wl\Mode\ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                  id_visit:
                    type: string
                    description: 'The status of the visit. One of the {@link \Wl\Visit\VisitSid} constants.'
      tags:
        - Visit-VisitStatus
  '/Wl/Event/EventCancelWhole.json':
    post:
      summary: 'Cancels book of event {@link EventCancelWholeApi::$k_class}.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'Key of the business in which the class resides.'
                k_class:
                  type: string
                  description: 'An event key.'
                uid:
                  type: string
                  description: 'A user key.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventCancelWhole
  '/Wl/Event/EventList.json':
    get:
      summary: ''
      parameters:
        - name: a_class_filter
          in: query
          description: 'List of class keys applied by filter.'
          schema:
            type: string[]|null
        - name: a_day
          in: query
          description: 'List of day the week applied by filter {@link \ADateWeekSid}.'
          schema:
            type: string[]|null
        - name: a_enrollment_block_filter
          in: query
          description: 'List of enrollment blocks keys applied by filter.'
          schema:
            type: string[]|null
        - name: a_location
          in: query
          description: 'List of location keys applied by filter.'
          schema:
            type: string[]|null
        - name: a_staff
          in: query
          description: 'List of staff keys applied by filter.'
          schema:
            type: string[]|null
        - name: a_time
          in: query
          description: 'List of time day applied by filter {@link \RsScheduleTimeSid}.'
          schema:
            type: string[]|null
        - name: a_virtual
          in: query
          description: 'List of IDs to include/exclude virtual events. If the only ID is {@link YesNoSid::YES}, only virtual events are included. If the only ID is {@link YesNoSid::NO}, only in-person events are included. Otherwise, no filtering is done.'
          schema:
            type: string[]|null
        - name: dl_end
          in: query
          description: 'The end date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no end date.'
          schema:
            type: string
        - name: dl_start
          in: query
          description: 'The start date of the range from which a list of events should be retrieved. <tt>null</tt> if the range has no start date.'
          schema:
            type: string
        - name: id_flag
          in: query
          description: 'Defines how the event availability flag filter should be applied. One of {@link \AFlagSid} constants. * {@link \AFlagSid::ON} to show only available events. * {@link \AFlagSid::OFF} to show only unavailable events. * {@link \AFlagSid::ALL} to show all events (available and unavailable).'
          schema:
            type: number
            format: int32
        - name: is_backend
          in: query
          description: 'Determines whether the endpoint is used for backend mode.'
          schema:
            type: boolean
        - name: is_ignore_requirement
          in: query
          description: '`true` to show even event restricted by booking policies; `false` to show available events only.'
          schema:
            type: boolean
        - name: is_tab_all
          in: query
          description: 'Determines whether you need to retrieve a list of event sessions regardless of the tab specified in {@link EventListApi::$k_class_tab}. * <tt>true</tt> - retrieves a list regardless of the specified tab. * <tt>false</tt> - retrieves a list only for the specific tab.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The event business key to retrieve a list of all event sessions in business. Required if {@link EventListApi::$k_location} isn''t specified.'
          schema:
            type: string
        - name: k_class
          in: query
          description: 'The event class key to retrieve a list of all event sessions of a specific class.'
          schema:
            type: string
        - name: k_class_tab
          in: query
          description: 'The class tab key to retrieve a list of event sessions from a specific tab only. An empty value to retrieve a list of event sessions that don''t belong to any tab. Will be ignored in next cases: * {@link EventListApi::$k_skin} specified. * {@link EventListApi::$is_tab_all} is <tt>true</tt>.'
          schema:
            type: string
        - name: k_location
          in: query
          description: 'The event location key to retrieve a list of all event sessions in a specific location. Required if {@link EventListApi::$k_business} isn''t specified.'
          schema:
            type: string
        - name: k_skin
          in: query
          description: 'The skin key if an event list is used for widget mode. {@link EventListApi::$k_class_tab} will be ignored for widget mode.'
          schema:
            type: string
        - name: text_search
          in: query
          description: 'Search string to filter events by name.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The user key. Required to apply specific user rules such as age restrictions.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_enrollment_block_list:
                    type: array
                    description: 'List of available enrollment blocks correspond to requested parameters.'
                  a_event_list:
                    type: array[]
                    description: 'A list of events corresponding to requested parameters. Each event will have the following keys: <dl> <dt>array <var>a_class_tab</var></dt> <dd>The list of class tab keys that contain this event. Each key is a primary key in the {@link \Wl\Classes\Tab\Sql\ClassTab\Sql} table.</dd> <dt>array <var>a_logo</var></dt> <dd>Information about the event''s logo. It will contain the following keys: <dl> <dt>int <var>i_height</var></dt> <dd>The image height.</dd> <dt>int <var>i_height_src</var></dt> <dd>The source image''s height.</dd> <dt>int <var>i_rotate</var></dt> <dd>The angle which image was rotated compared to the original.</dd> <dt>int <var>i_width</var></dt> <dd>The image width.</dd> <dt>int <var>i_width_src</var></dt> <dd>The source image''s width.</dd> <dt>int <var>id_type_src</var></dt> <dd>The image type ID. One of the {@link \Core\Drive\DriveTypeSid} constants.</dd> <dt>bool <var>is_resize</var></dt> <dd>This will be `true` if the image has been resized. `false` otherwise.</dd> <dt>bool <var>is_old</var></dt> <dd>This will be `true` if the image is old. `false` otherwise.</dd> <dt>string <var>s_url</var></dt> <dd>The URL to the image.</dd> <dt>string <var>url-view</var></dt> <dd>The URL to the image.</dd> <dt>string <var>url-thumbnail</var></dt> <dd>The URL to the image''s thumbnail.</dd> </dl> </dd> <dt>array <var>a_schedule</var></dt> <dd>Information about the event''s schedule. It is a list of instances, each instance will contain the following keys: <dl> <dt>array <var>a_day</var></dt> <dd>The days when the event is scheduled (0 - Sunday, 6 - Saturday).</dd> <dt>array <var>a_staff_member</var></dt> <dd>Information about the staff member(s) conducting the event. This is a list of staff, each element is an array with the following keys <dl> <dt>string <var>k_staff_member</var></dt> <dd>The staff member key. The primary key in the {@link \RsStaffBusinessSql} table.</dd> <dt>string <var>text_business_role</var></dt> <dd>The name of the staff member''s business role.</dd> <dt>string <var>text_mail</var></dt> <dd>The staff member''s email address.</dd> <dt>string <var>text_name_first</var></dt> <dd>The staff member''s first name.</dd> <dt>string <var>text_name_full</var></dt> <dd>The staff member''s full name.</dd> <dt>string <var>text_name_last</var></dt> <dd>The staff member''s last name.</dd> <dt>string <var>uid</var></dt> <dd>The staff member''s user key. The primary key in the {@link \PassportLoginSql} table.</dd> </dl> </dd> <dt>string <var>dl_end</var></dt> <dd>The ending date of the event series.</dd> <dt>string <var>dl_start</var></dt> <dd>The starting date of the event series.</dd> <dt>bool <var>is_day</var></dt> <dd>This will be `true` if the event starts and ends on the same day.</dd> <dt>string <var>k_class_period</var></dt> <dd>The class period key. The primary key in the {@link \RsClassPeriodSql} table.</dd> <dt>string <var>k_location</var></dt> <dd>The location key. The primary key in the {@link \RsLocationSql} table.</dd> <dt>string <var>text_location</var></dt> <dd>The name of the location.</dd> <dt>string <var>text_time</var></dt> <dd>The human readable version of the event time.</dd> </dl> </dd> <dt>array <var>a_search_tag</var></dt> <dd>The list of search tags for this event.</dd> <dt>bool <var>can_book</var></dt> <dd> Whether event can be booked or not. `true` - there are no restrictions to book this event in general. `false` - for some reason event cannot be booked. The reason can be found in the following fields: `html_reason`, `id_reason`, `sid_reason`. This field can be used instead of `is_bookable` and covers a significant number of checks under its value. </dd> <dt>bool <var>can_cancel</var></dt> <dd>Whether the current user can cancel already booked event.</dd> <dt>string <var>dl_early</var></dt> <dd>The early cancel date</dd> <dt>string <var>dl_end</var></dt> <dd>The ending date of the event.</dd> <dt>string <var>dl_start</var></dt> <dd>The starting date of the event.</dd> <dt>string <var>dl_session</var></dt> <dd>Local date of the closest session of the event.</dd> <dt>string <var>dtu_session</var></dt> <dd>Date of the closest session of the event.</dd> <dt>int <var>i_session_all</var></dt> <dd>Number of all sessions in the event.</dd> <dt>int <var>i_session_future</var></dt> <dd>Number of all sessions in the future.</dd> <dt>int <var>i_session_past</var></dt> <dd>Number of all sessions in the past.</dd> <dt>bool <var>is_age_restrict</var></dt> <dd>`true` if the event is age restricted, `false` if the event is not.</dd> <dt>bool <var>is_age_restrict_only</var></dt> <dd> `true` if this event booking is restricted and restricted because of client''s age only. `false` otherwise. </dd> <dt>bool <var>is_block</var></dt> <dd>`true` if the event is a block event, `false` if the event is not.</dd> <dt>bool <var>is_bookable</var></dt> <dd> Whether event is bookable. `true` - there are no restrictions to book this event in general. `false` - for some reason event cannot be booked. <b>Attention!!!</b> Historically, the value of this field may not cover all expected checks, and may be confusing to someone. It is properly used in combination with a number of other flags. If you need a flag that covers most of the checks please use `can_book` field. </dd> <dt>bool <var>is_booked</var></dt> <dd>`true` if the user has booked the event, `false` if the event is not.</dd> <dt>bool <var>is_closed</var></dt> <dd>`true` if booking the event is closed, `false` if the event is not.</dd> <dt>bool <var>is_full</var></dt> <dd>`true` if the event is full, `false` if the event is not.</dd> <dt>bool <var>is_online</var></dt> <dd>`true` if the event is available online, `false` if the event is not.</dd> <dt>bool <var>is_online_private</var></dt> <dd>`true` if the event is online and private, `false` if the event is not.</dd> <dt>bool <var>is_open</var></dt> <dd>`true` if the event is open to be booked, `false` if the event is not.</dd> <dt>bool <var>is_prorate</var></dt> <dd>`true` if the event is prorated, `false` if the event is not.</dd> <dt>bool <var>is_virtual</var></dt> <dd>`true` if the event is only held virtually, `false` if the event is not.</dd> <dt>string <var>k_class</var></dt> <dd>The class key. The primary key in the {@link \RsClassSql} table.</dd> <dt>string <var>k_class_period</var></dt> <dd>The class period key. The primary key in the {@link \RsClassPeriodSql} table.</dd> <dt>string <var>k_enrollment_block</var></dt> <dd>The enrollment block key.The primary key in the {@link \RsEnrollmentBlockSql} table.</dd> <dt>string <var>k_location</var></dt> <dd>The location key. The primary key in the {@link \RsLocationSql} table.</dd> <dt>string <var>m_price_total</var></dt> <dd>The total price of booking a session.</dd> <dt>string <var>m_price_total_early</var></dt> <dd>The total price if booked early.</dd> <dt>string <var>text_age_restrict</var></dt> <dd>The age description.</dd> <dt>string <var>text_title</var></dt> <dd>The name of the event.</dd> <dt>string <var>url_book</var></dt> <dd>The direct booking url.</dd> <dt>string <var>xml_description</var></dt> <dd>The description of the event.</dd> </dl>'
      tags:
        - Event-EventList
    put:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_cache_reset:
                  type: boolean
                  description: 'Model cache reset flag.'
                k_business:
                  type: string
                  description: 'The event business key to retrieve a list of all event sessions in business. Required if {@link EventListApi::$k_location} isn''t specified.'
                uid:
                  type: string
                  description: 'The user key. Required to apply specific user rules such as age restrictions.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Event-EventList
  '/Wl/Holiday/Holiday.json':
    get:
      summary: 'Returns information about holiday day of business/locations.'
      parameters:
        - name: dl_work
          in: query
          description: 'The date working hours are required for. Set in the business''s timezone.'
          schema:
            type: string
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_location_holiday:
                    type: array
                    description: 'A list of the location''s closed day titles by location keys on the date {@link \Wl\Holiday\HolidayApi::$dl_work}.'
                  is_business_holiday:
                    type: boolean
                    description: '<tt>true</tt> if the business has a closed day on the date {@link \Wl\Holiday\HolidayApi::$dl_work}, <tt>false</tt> if otherwise.'
                  text_business_title:
                    type: string
                    description: 'The message used for the business''s closed day on the date {@link \Wl\Holiday\HolidayApi::$dl_work}.'
      tags:
        - Holiday-Holiday
  '/Wl/Holiday/BulkBusinessHoliday.json':
    get:
      summary: 'Returns information about holiday day of business/locations.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_business_holidays:
                    type: array
                    description: 'An array consisting of the business''s closed day data for all locations by holiday keys {@link \Wl\Holiday\HolidayApi::$dl_work}. List of holidays. Values are arrays of holidays as follows: <dl> <dt>array <var>a_class</var></dt> <dd>A list of affected classes. Keys are class keys. Primary keys in {@link \RsClassSql} table.</dd> <dt>array <var>a_class_only</var></dt> <dd>A list of affected classes. Keys are class keys.Primary keys in {@link \RsClassSql} table.</dd> <dt>array <var>a_event_only</var></dt> <dd>A list of affected events. Keys are event keys. Primary keys in {@link \RsClassSql} table.</dd> <dt>array <var>a_service</var></dt> <dd>A list of affected services. Keys are service keys. Primary keys in {@link \RsServiceSql} table.</dd> <dt>string <var>dt_end</var></dt> <dd>The end date of the holiday.</dd> <dt>string <var>dt_start</var></dt> <dd>The start date of the holiday.</dd> <dt>int <var>is_class_all</var></dt> <dd>''1'' if all classes are selected to cancel, ''0'' if otherwise.</dd> <dt>int <var>is_event_all</var></dt> <dd>''1'' if all events are selected to cancel, ''0'' if otherwise.</dd> <dt>int <var>is_service_all</var></dt> <dd>''1'' if all services are selected to cancel, ''0'' if otherwise.</dd> <dt>int <var>k_business</var></dt> <dd>The business key. Primary key in {@link \RsBusinessSql} table.</dd> <dt>int <var>k_holiday</var></dt> <dd>The holiday key. Primary key in {@link \RsHolidaySql} table.</dd> <dt>int <var>k_location</var></dt> <dd>The location key. Primary key in {@link \RsLocationSql} table.</dd> <dt>int <var>k_market</var></dt> <dd>The market key.  Primary key in {@link \RsMarketSql} table.</dd> <dt>string <var>s_title</var></dt> <dd>The name of the holiday.</dd> </dl>'
      tags:
        - Holiday-BulkBusinessHoliday
  '/Wl/Rank/Rank.json':
    get:
      summary: 'Gets belts list of a business.'
      parameters:
        - name: a_rank_category
          in: query
          description: 'Rank category keys. Primary key in {@link \RsRankCategorySql} table. Used to filter belts by belt categories.'
          schema:
            type: array
        - name: k_business
          in: query
          description: 'Business key.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_rank_list:
                    type: array[]
                    description: 'A list of belts, keys, and information. Each element is an array with the following information: <dl> <dt>string <var>k_rank</var></dt> <dd>A belt key. Primary key in {@link \RsRankSql} table.</dd> <dt>string <var>k_rank_category</var></dt> <dd>A belt category key. Primary key in {@link \RsRankCategorySql} table.</dd> <dt>string <var>text_rank</var></dt> <dd>Belt title.</dd> <dt>string <var>text_rank_category</var></dt> <dd>Belt category title.</dd> </dl>'
      tags:
        - Rank-Rank
  '/Wl/Schedule/Cancel.json':
    get:
      summary: 'Cancels session for the client.'
      parameters:
        - name: dt_date
          in: query
          description: 'The date of the session in UTC.'
          schema:
            type: string
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
          schema:
            type: boolean
        - name: is_late_cancel
          in: query
          description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
          schema:
            type: boolean
        - name: k_appointment
          in: query
          description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
          schema:
            type: string|null
        - name: k_business
          in: query
          description: 'Key of the business within which the action is performed.'
          schema:
            type: string
        - name: k_class_period
          in: query
          description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
          schema:
            type: string|null
        - name: uid
          in: query
          description: 'The user key.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
    post:
      summary: 'Cancels session for the client. This method is an alias for partners using the API or SDK.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                dt_date:
                  type: string
                  description: 'The date of the session in UTC.'
                is_backend:
                  type: boolean
                  description: 'This will be `true` if the API is being used from the back end. Otherwise, this will be `false`. Here, the back end refers to either a staff member or admin from the side of the business.'
                is_late_cancel:
                  type: boolean
                  description: '<tt>true</tt> is late cancel, <tt>false</tt> reservation is not late cancel. This is required to enable late cancel even if the user is staff.'
                k_appointment:
                  type: string|null
                  description: 'The appointment key. This will be `null` if not set yet or if a class or event is canceled.'
                k_business:
                  type: string
                  description: 'Key of the business within which the action is performed.'
                k_class_period:
                  type: string|null
                  description: 'The class period key. This will be `null` if not set yet or if an appointment is canceled.'
                uid:
                  type: string
                  description: 'The user key.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Schedule-Cancel
  '/Wl/Collector/DebtList.json':
    get:
      summary: ''
      parameters:
        - name: dl_end
          in: query
          description: 'Date before which debts should be returned. If set, this is the end of the date window. Only debts added before or on this date will be shown. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_start} has been specified, only debts added after the start date will be returned. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_start} is also `null`, this will return debts from the previous month.'
          schema:
            type: string|null
        - name: dl_start
          in: query
          description: 'Date since which debts should be returned. If set, this is the start of the date window. Only debts added on or after this date will be shown. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_end} has been specified will return debts added since the beginning of time. If left `null` and {@link \Wl\Collector\DebtListApi::$dl_end} is also `null`, this will return debts from the previous month.'
          schema:
            type: string|null
        - name: is_request_debt
          in: query
          description: 'Defines whether new debts should be returned or only previously sent debts. If `true` then return new debts only. If `false` then return previously sent debts only.'
          schema:
            type: boolean
        - name: is_test
          in: query
          description: 'Defines whether debts for test or real business should be returned. If `true`, debts from test businesses will be returned. Otherwise, this will be `false` if only debts from real businesses will be returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key for which debts should be returned. Use `null` if debt payments from all businesses should be returned.'
          schema:
            type: string|null
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_debt:
                    type: array[]
                    description: 'A list of debts for the given business added within the previous month. Each value is an array with the next structure: <dl> <dt>string <var>dl_client_birth</var></dt> <dd>The birth date of the debtor client.</dd> <dt>string <var>dtu_client_since</var></dt> <dd>The date and time in UTC from which the debtor client is a member of the business.</dd> <dt>string <var>dtu_due</var></dt> <dd>The date and time in UTC of the last payment on the debtor client''s account.</dd> <dt>string <var>dtu_add</var></dt> <dd>The date and time in UTC when the client was added to the list of debtors.</dd> <dt>string <var>dtu_cease</var></dt> <dd>The date and time in UTC when the debt was fully ceased.</dd> <dt>int <var>id_currency</var></dt> <dd>The debt currency ID. One of {@link CurrencySid} constants.</dd> <dt>string <var>k_business</var></dt> <dd>The business key where the debt occurred.</dd> <dt>string <var>k_collector_debt</var></dt> <dd>The debt key, which should be used for debt payment.</dd> <dt>string <var>k_pay_transaction_debt</var></dt> <dd>The transaction key after which the debt occurred.</dd> <dt>string <var>k_pay_transaction_last</var></dt> <dd>The last transaction key on account after the debt occurred.</dd> <dt>string <var>m_amount_debt</var></dt> <dd>The initial amount of the debt.</dd> <dt>string <var>m_amount_paid</var></dt> <dd>The amount paid for debt.</dd> <dt>string <var>text_business_title</var></dt> <dd>The title of the business.</dd> <dt>string <var>text_client_name</var></dt> <dd>The full name of the debtor client.</dd> <dt>string <var>text_client_address</var></dt> <dd>The address of the debtor client.</dd> <dt>string <var>text_client_mail</var></dt> <dd>The email address of the debtor client.</dd> <dt>string <var>text_client_phone</var></dt> <dd>The phone number of the debtor client.</dd> <dt>string <var>text_client_zip</var></dt> <dd>The ZIP code of the debtor client.</dd> <dt>string <var>text_skip</var></dt> <dd>The notification message sent when the debt payment is missed.</dd> <dt>string <var>uid</var></dt> <dd>The user key of the debt owner.</dd> </dl>'
      tags:
        - Collector-DebtList
  '/Wl/Collector/DebtTransaction.json':
    get:
      summary: ''
      parameters:
        - name: dl_end
          in: query
          description: 'If set, this is the end of the date window. Only debt payments added before or on this date will be shown. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_start} has been specified only debt payments added after the start date will be returned. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_start} is also `null`, this will return debt payments from the previous month.'
          schema:
            type: string|null
        - name: dl_start
          in: query
          description: 'If set, this is the start of the date window. Only debt payments added on or after this date will be shown. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_end} has been specified, this will return debt payments since the beginning of time. If left `null` and {@link \Wl\Collector\DebtTransactionApi::$dl_end} is also `null`, this will return debt payments from the previous month.'
          schema:
            type: string|null
        - name: is_test
          in: query
          description: 'If `true`, debt payments from test businesses will be returned. Otherwise, this will be `false` if only debt payments from real businesses will be returned.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key for which debt payments should be returned. Use `null` if debt payments from all businesses should be returned.'
          schema:
            type: string|null
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_transaction:
                    type: array[]
                    description: 'A list of debt payments for a given business added within the previous day. Each value is an array with next structure: <dl> <dt>string <var>dtu_pay</var></dt> <dd>The date and time in UTC of the payment transaction.</dd> <dt>string <var>m_pay_amount</var></dt> <dd>The amount of the payment''s transaction.</dd> <dt>int <var>id_pay_method</var></dt> <dd>The payment method ID that was used for the payment. One of {@link \RsPayMethodSid} constants.</dd> <dt>bool <var>is_pay_collections</var></dt> <dd>Defines whether the payment was performed via a third party service. `true` if the payment was performed via a third party service and this transaction is responsible for an account credit transaction for that payment. See {@link DebtPayApi}. `false` if the payment was performed within the Wellnessliving system. </dd> <dt>bool <var>is_debt_paid</var></dt> <dd> Defines whether the initial debt to which this related transaction is fully paid. `true` if the debt is fully paid. `false` if the debt is partially paid. </dd> <dt>string <var>text_client_name</var></dt> <dd>The full name of the debtor client for whom the payment transaction was performed.</dd> <dt>string <var>uid</var></dt> <dd>The UID of the debtor client for whom the payment transaction was performed.</dd> </dl>'
      tags:
        - Collector-DebtTransaction
  '/Wl/Collector/DebtPay.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_currency:
                  type: number
                  format: int32
                  description: 'The currency of the payment. One of {@link CurrencySid} constants. Important! The currency must coincide with currency of the debt that was sent to collections.'
                id_pay_method:
                  type: int|null
                  description: 'The payment method ID. One of {@link \RsPayMethodSid} constants. `null` if the payment method is unknown. In such cases, {@link \RsPayMethodSid::CASH} would be used.'
                k_business:
                  type: string
                  description: 'The key of the business from which the debt originates.'
                k_collector_debt:
                  type: string
                  description: 'The debt key towards which the payment was performed.'
                m_amount:
                  type: string
                  description: 'The amount of money that''s been paid towards the debt.'
                uid:
                  type: string
                  description: 'The key of the user with the debt.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  k_pay_transaction:
                    type: string
                    description: 'The transaction key generated to register the payment.'
      tags:
        - Collector-DebtPay
  '/Wl/Profile/ProfileCreate.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                dt_birthday:
                  type: string
                  description: 'Date of the user''s birthday in MySQL format.'
                k_business:
                  type: string
                  description: 'The key of the business.'
                text_firstname:
                  type: string
                  description: 'First name of the user.'
                text_lastname:
                  type: string
                  description: 'Last name of the user.'
                text_mail:
                  type: string
                  description: 'Email of the user.'
                text_phone:
                  type: string
                  description: 'Phone of the user.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  uid:
                    type: string
                    description: 'The key of the user.'
      tags:
        - Profile-ProfileCreate
  '/Wl/Report/Data.json':
    get:
      summary: 'Gets data of required report.'
      parameters:
        - name: i_page
          in: query
          description: 'The page of results to show, starting at zero. The API will return 256 results per page.'
          schema:
            type: number
            format: int32
        - name: id_report
          in: query
          description: 'The report ID. One of the {@link \RsReportSid} constants. The following reports are currently available via the API: <dl> <dt>LOGIN_LIST {@link \RsReportSid::LOGIN_LIST}</dt> <dd>All Clients Report (Reports tab, features date search)</dd> <dt>LOGIN_LIST_ALL {@link \RsReportSid::LOGIN_LIST_ALL}</dt> <dd>All Clients Report (Clients tab) Batch Report</dd> <dt>PAY_TRANSACTION_BATCH {@link \RsReportSid::PAY_TRANSACTION_BATCH}</dt> <dd>Batch Report</dd> <dt>PURCHASE_ITEM_LIST_USER {@link \RsReportSid::PURCHASE_ITEM_LIST_USER}</dt> <dd>Sales per Client Report</dd> <dt>PURCHASE_ITEM_ACCRUAL_CASH {@link \RsReportSid::PURCHASE_ITEM_ACCRUAL_CASH}</dt> <dd>All Sales Report</dd> </dl>'
          schema:
            type: number
            format: int32
        - name: id_report_group
          in: query
          description: 'The report group ID. One of the {@link \RsReportGroupSid} constants that describes the time period (day, week, month, or year) for the report to cover.'
          schema:
            type: number
            format: int32
        - name: id_report_page
          in: query
          description: 'The report page ID. One of the {@link \RsReportPageSid} constants. If set, the collection of that page will be used, otherwise a collection of single report will be used.'
          schema:
            type: int|null
        - name: id_report_view
          in: query
          description: 'The report view ID. One of the {@link \RsReportChartViewSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of business for which the report must be generated.'
          schema:
            type: string
        - name: s_filter
          in: query
          description: 'Filter settings in encoded format. May be decoded by {@link \Core\Tool\UrlEncode\UrlDecode::decode()}.'
          schema:
            type: string
        - name: s_sort
          in: query
          description: 'The field to use for sorting report data.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_data:
                    type: array
                    description: 'The report contents. Contents of this array can vary based on the report that''s loaded.'
      tags:
        - Report-Data
  '/Wl/Report/PageData.json':
    get:
      summary: 'Gets data of required report collection.'
      parameters:
        - name: a_page
          in: query
          description: 'The page of results to show for each report in collection, starting at zero (set by default). The API will return 256 results per page. Key is report id from {@link \RsReportSid}, value is the page of results.'
          schema:
            type: int[]
        - name: id_report_group
          in: query
          description: 'The report group ID. One of the {@link \RsReportGroupSid} constants that describes the time period (day, week, month, or year) for the report to cover.'
          schema:
            type: number
            format: int32
        - name: id_report_page
          in: query
          description: 'The report page ID. One of the {@link \RsReportPageSid} constants. The collection of that page will be used to get list of reports. The following report collections are currently available via the API: * PROFILE_PURCHASE (ID 11) Collection with reports from client profile: memberships, packages, session/duration passes, single sessions, events, gift cards and groupon.'
          schema:
            type: number
            format: int32
        - name: id_report_view
          in: query
          description: 'The report view ID. One of the {@link \RsReportChartViewSid} constants.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of business for which the report collection must be generated.'
          schema:
            type: string
        - name: s_filter
          in: query
          description: 'Filter settings in encoded format. May be decoded by {@link \Core\Tool\UrlEncode\UrlDecode::decode()}.'
          schema:
            type: string
        - name: s_sort
          in: query
          description: 'The field to use for sorting report data.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_data:
                    type: array[]
                    description: 'List of the reports contents. Key is the report id from {@link \RsReportSid}, value is report contents. Contents can vary based on the report that''s loaded.'
      tags:
        - Report-PageData
  '/Wl/Report/Access.json':
    get:
      summary: 'Checks access to given report.'
      parameters:
        - name: cid_report
          in: query
          description: 'Report CID. It''s used mostly for second generation reports. For first generation reports use {@link AccessApi::$id_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: id_report
          in: query
          description: 'Report ID. One of {@link \RsReportSid} constants. It''s used mostly for first generation reports. For second generation reports use {@link AccessApi::$cid_report} instead. Only one of these two fields should be sent, but not both.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'ID of business for which access must be checked. Primary key in {@link \RsBusinessSql} table.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_access:
                    type: boolean
                    description: '<tt>true</tt> - access is granted; <tt>false</tt> - access is denied.'
      tags:
        - Report-Access
  '/Wl/Business/BusinessAccess.json':
    get:
      summary: 'Gets information about businesses where given user is a staff member.'
      parameters:
        - name: is_backend
          in: query
          description: 'This will be `true` if the API is being used from the backend. Otherwise, this will be `false`.'
          schema:
            type: boolean
        - name: s_facebook_id
          in: query
          description: 'The staff member''s Facebook ID. This won''t be empty if the staff member is logging in with Facebook. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: s_microsoft_id
          in: query
          description: 'The staff member''s Microsoft key. This won''t be empty if the staff member is logging in with Microsoft.'
          schema:
            type: string
        - name: text_authorization_apple
          in: query
          description: 'The staff member''s Apple authorization code. This won''t be empty if the staff member is logging in with Apple. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: text_google_plus
          in: query
          description: 'The Google Plus user ID. This won''t be empty if the staff member is logging in with Google. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: text_mail
          in: query
          description: 'The staff member''s email to determine their UID. This won''t be empty if the staff member is logging in with email or with Google. This will be empty if the UID is already known or the staff member is logging in another way.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'User key. Empty if user is not logged in, but their authorization data is known. Primary key in {@link \PassportLoginSql} table.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_business:
                    type: string[]
                    description: 'The businesses the staff member belongs to. Primary keys in table {@link \RsBusinessSql}. Note that this field is here for backwards compatibility.'
                  a_business_data:
                    type: array[]
                    description: 'The list of accessible businesses with their corresponding data. Each value is an array with the next structure: <dl> <dt>int <var>id_region</var></dt> <dd>The business region. One of the {@link AmazonRegionSid} constants. This will be `null` if no regions are currently set.</dd> <dt>string <var>k_business</var></dt> <dd>The business key. Primary keys in table {@link \RsBusinessSql}.</dd> <dt>string <var>text_office_address</var></dt> <dd>The business address.</dd> <dt>string <var>text_title</var></dt> <dd>The business title.</dd> <dt>string <var>url_logo</var></dt> <dd>The business logo URL. This will be empty if the business hasn''t added a logo.</dd> </dl>'
                  uid_mail:
                    type: string
                    description: 'The staff member key, determined by their email. This will be empty if the UID isn''t empty. Primary key in {@link \PassportLoginSql} table.'
      tags:
        - Business-BusinessAccess
  '/Wl/Business/Business.json':
    post:
      summary: 'Creates new business.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_staff_member:
                  type: boolean
                  description: 'Empty array means to not create a staff member. Otherwise, information about staff member to be created in the business. <dl> <dt>bool <var>is_enter</var></dt> <dd>Should created staff member be automatically signed in or not.</dd> <dt>string <var>text_mail</var></dt> <dd>Email address to be used to sign in.</dd> <dt>string <var>text_name_first</var></dt> <dd>The first name of the staff member.</dd> <dt>string <var>text_name_last</var></dt> <dd>The last name of the staff member.</dd> </dl>'
                id_locale:
                  type: number
                  format: int32
                  description: 'The business locale.'
                is_location_create:
                  type: boolean
                  description: '`true` if location should be also created for the business. `false` if otherwise.'
                k_business_type:
                  type: string
                  description: 'The key of the business type.'
                k_office_city:
                  type: string
                  description: 'The city key of the business.'
                text_office_address:
                  type: string
                  description: 'The address of the business. Optional.'
                text_office_postal:
                  type: string
                  description: 'The postal code of the business. Optional.'
                text_phone:
                  type: string
                  description: 'The phone number of the business.'
                text_title:
                  type: string
                  description: 'The title of the business.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  k_business:
                    type: string
                    description: 'The key of the created business.'
      tags:
        - Business-Business
  '/Wl/Business/Data.json':
    get:
      summary: ''
      parameters:
        - name: i_logo_height
          in: query
          description: 'The maximum height of the business image (in pixels).'
          schema:
            type: number
            format: int32
        - name: i_logo_width
          in: query
          description: 'The maximum width of the business image (in pixels).'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: text_token
          in: query
          description: 'The authorization token. This may be used instead of {@link DataApi::$k_business} to identify a business.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_service_list:
                    type: array
                    description: 'A list of all business services and their availability data. This is presented as an array, where keys are SIDs from {@link ServiceSid} and values are Boolean. If `true`, at least one service is enabled in the business. Otherwise, this will be `false`.'
                  a_tip_predefine:
                    type: float[]
                    description: 'The list of predefined tips in percentages.'
                  id_category:
                    type: number
                    format: int32
                    description: 'The business category ID of the business.'
                  id_currency:
                    type: number
                    format: int32
                    description: 'The currency ID of the given business (or the system currency ID if the business didn''t pass).'
                  id_locale:
                    type: number
                    format: int32
                    description: 'The Locale ID, used to search geo items.'
                  id_rank_type:
                    type: int|null
                    description: 'The rank type ID of the business. One of the {@link \RsRankTypeSid} constants. This will be `null` if the business doesn''t have a rank type.'
                  id_region:
                    type: number
                    format: int32
                    description: 'The region ID. This indicates the data center where the information about the business is stored. One of the {@link AmazonRegionSid} constants. Requests made to different regions can lead to known issues such as responses indicating that the business (or its elements) doesn''t exist. This is because databases on different data centers are independent. For example, performing a request to the US cluster for a list of classes for an AU cluster business will return an empty list.'
                  is_apply_surcharge:
                    type: boolean
                    description: 'Determines whether surcharges to client payments are enabled in the business.'
                  is_franchise:
                    type: boolean
                    description: '`true` if business is a franchisor or franchisee.'
                  is_location_multiple:
                    type: boolean
                    description: 'Determines whether the business has multiple locations (including inactive locations).'
                  is_profile_timezone:
                    type: boolean
                    description: '`true` - clients of the business can select a custom time zone in their profile. `false` - the location or business time zone is used.'
                  is_progress_client:
                    type: boolean
                    description: 'If `true`, clients can enter the progress log. Otherwise, this will be `false`.'
                  is_progress_verify:
                    type: boolean
                    description: 'If `true`, verification of the progress log by a staff member is required. Otherwise, this will be `false`.'
                  is_quiz_available:
                    type: boolean
                    description: 'Determines whether quizzes are available in the business.'
                  is_tip:
                    type: boolean
                    description: 'If `true`, tips are available in the business. Otherwise, this will be `false`.'
                  is_tip_deny:
                    type: boolean
                    description: 'If `true`, the business has the "No tip" option displayed. Otherwise, this will be `false`.'
                  is_tip_sign:
                    type: boolean
                    description: 'If `true`, the client must sign after selecting the tip. Otherwise, this will be `false`.'
                  k_business_franchisor:
                    type: string
                    description: 'The franchisor business key. This will be empty if this business is the franchisor or not in a franchise.'
                  k_business_token:
                    type: string
                    description: 'The business key obtained by the security token {@link DataApi::$text_token}. This can be used on the client side if authorization token should be used instead of the business key (the business key isn''t available).'
                  k_business_type:
                    type: string
                    description: 'Key of business type.'
                  k_currency:
                    type: string
                    description: 'The currency key of the given business, or the system currency if the business didn''t pass.'
                  s_reply_mail:
                    type: string
                    description: 'The reply-to email address.'
                  s_reply_name:
                    type: string
                    description: 'The reply-to business name.'
                  text_office_address:
                    type: string
                    description: 'The business address.'
                  text_title:
                    type: string
                    description: 'The business title.'
                  url_facebook:
                    type: string
                    description: 'The Facebook page.'
                  url_google:
                    type: string
                    description: 'The Google+ page.'
                  url_instagram:
                    type: string
                    description: 'The Instagram page.'
                  url_linkedin:
                    type: string
                    description: 'The `LinkedIn` profile.'
                  url_logo:
                    type: string
                    description: 'The logo URL.'
                  url_logo_empty:
                    type: string
                    description: 'The image stub (in cases where the business logo isn''t loaded).'
                  url_twitter:
                    type: string
                    description: 'The Twitter page.'
                  url_website:
                    type: string
                    description: 'The business website.'
                  url_youtube:
                    type: string
                    description: 'The YouTube website.'
      tags:
        - Business-Data
  '/Wl/Login/Login.json':
    get:
      summary: 'Retrieves information about user.'
      parameters:
        - name: i_photo_height
          in: query
          description: 'The height of the requested photo.'
          schema:
            type: number
            format: int32
        - name: i_photo_width
          in: query
          description: 'The width of the requested photo.'
          schema:
            type: number
            format: int32
        - name: k_business
          in: query
          description: 'The key of the business. Users can be in multiple businesses. This can be left as `null` to retrieve system-wide information.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'The key of the user. `null` on case when is walk-in client.'
          schema:
            type: string|null
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  can_postcard:
                    type: boolean
                    description: 'Whether this user can send postcards.'
                  id_gender:
                    type: number
                    format: int32
                    description: 'The gender ID. It will be one of the {@link \AGenderSid} constants.'
                  is_photo_empty:
                    type: boolean
                    description: 'Whether photo is uploaded. `true` if photo is not uploaded, `false` otherwise.'
                  k_staff:
                    type: string
                    description: 'The user''s staff key for the specified business.'
                  s_first_name:
                    type: string
                    description: 'The first name of the user.'
                  s_last_name:
                    type: string
                    description: 'The surname of the user.'
                  text_mail_client:
                    type: string
                    description: 'The client`s mailing address.'
                  text_mail_staff:
                    type: string
                    description: 'The staff member''s mailing address. This will be set if the user is a staff member ({@link LoginApi::$k_staff}).'
                  text_name_first_staff:
                    type: string
                    description: 'The staff member''s first name. This will be set if the user is a staff member ({@link LoginApi::$k_staff}).'
                  text_name_full_client:
                    type: string
                    description: 'The user''s login name. This is returned in cases when neither the first name nor the last name have been specified. An empty string is returned in cases where neither the first name, last name, nor login have been specified.'
                  text_name_full_staff:
                    type: string
                    description: 'The staff member''s full name. The user login is returned in cases where neither the first name nor the last name have been specified. An empty string is returned in cases where neither the first name, last name, nor login have been specified. This will be set if the user is a staff member ({@link LoginApi::$k_staff}).'
                  text_name_last_staff:
                    type: string
                    description: 'The staff member''s last name. This will be set if the user is a staff member ({@link LoginApi::$k_staff}).'
                  uid:
                    type: string|null
                    description: 'The key of the user. `null` on case when is walk-in client.'
                  url_photo:
                    type: string
                    description: 'The URL where the user photo can be retrieved.'
      tags:
        - Login-Login
    post:
      summary: 'Retrieves information about a list of users. This is done via "post" method because only "post" allows large requests.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                i_photo_height:
                  type: number
                  format: int32
                  description: 'The height of the requested photo.'
                i_photo_width:
                  type: number
                  format: int32
                  description: 'The width of the requested photo.'
                k_business:
                  type: string
                  description: 'The key of the business. Users can be in multiple businesses. This can be left as `null` to retrieve system-wide information.'
                text_uid:
                  type: string|null
                  description: 'List of users to get information for. Primary keys in {@link \PassportLoginSql} table. Serialized as JSON string. <tt>null</tt> for mode of single user.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_login:
                    type: array[]
                    description: 'List of information about users: <dl> <dt> int <var>id_gender</var> </dt> <dd> User''s gender. One of {@link \AGenderSid} constants. </dd> <dt> string <var>k_staff</var> </dt> <dd> User''s key as staff member. Primary key in {@link \RsStaffSql} table. </dd> <dt> string <var>s_first_name</var> </dt> <dd> User first name. </dd> <dt> string <var>s_last_name</var> </dt> <dd> First letter of user last name. </dd> <dt> string <var>text_mail_client</var> </dt> <dd> Client`s mail. </dd> <dt> string <var>text_mail_staff</var> </dt> <dd> Staff`s mail. </dd> <dt> string <var>text_name_first_staff</var> </dt> <dd> Staff`s first name. </dd> <dt> string <var>text_name_full_client</var> </dt> <dd> Full client name. User login is returned in a case neither first name, nor last name specified. An empty string is returned in a case neither first name, nor last name specified, nor login. See description of the {@link \Wl\User\Info\UserInfo::nameFullText()} method. </dd> <dt> string <var>text_name_full_staff</var> </dt> <dd> Full staff name. User login is returned in a case neither first name, nor last name specified. An empty string is returned in a case neither first name, nor last name specified, nor login. </dd>` <dt> string <var>text_name_last_staff</var> </dt> <dd> Staff`s last name. </dd> <dt> string <var>url_photo</var> </dt> <dd> User photo URL. </dd> </dl>'
      tags:
        - Login-Login
  '/Wl/Mail/SendMail.json':
    post:
      summary: 'Sends email.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'The business key.'
                s_business_mail:
                  type: string
                  description: 'The business''s mailing address.'
                s_business_name:
                  type: string
                  description: 'The business name.'
                s_business_reply:
                  type: string
                  description: 'The business''s reply.'
                s_campaign:
                  type: string
                  description: 'The campaign name.'
                s_html:
                  type: string
                  description: 'The message uncompressed content.'
                s_mail:
                  type: string
                  description: 'The message recipient''s address.'
                s_subject:
                  type: string
                  description: 'The message''s subject line.'
                z_html:
                  type: string
                  description: 'The message content.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Mail-SendMail
  '/Wl/Quiz/QuizElement.json':
    delete:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'Business key within which quiz is managed.'
                k_quiz:
                  type: string
                  description: 'Quiz key.'
                k_quiz_login:
                  type: string
                  description: 'Quiz login key.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Quiz-QuizElement
    get:
      summary: ''
      parameters:
        - name: can_anonymous
          in: query
          description: 'Checks whether unauthorized user should be permitted to operate with form and make a response. In general all quizzes should have users in response but it some cases such as registration process user might not exist yet, and we need ability to ignore check for user existence. `true` - add possibility load form and accept response for non-registered user, `false` otherwise.'
          schema:
            type: boolean
        - name: is_builder
          in: query
          description: '`true` for request quiz from form builder page, `false` otherwise.'
          schema:
            type: boolean
        - name: is_simple
          in: query
          description: 'Whether quiz response received by kiosk or direct mode link. `true` quiz response received by kiosk mode. `false` quiz response received by direct or direct mode.'
          schema:
            type: boolean
        - name: json_purchase_item
          in: query
          description: 'List of purchase items for which this form is loaded in JSON format. Each element has the format `[id_purchase_item]::[k_id]`, where: <dl> <dt>int <var>id_purchase_item</var></dt> <dd>The ID of the purchase item. One of the {@link \RsPurchaseItemSid} constants.</dd> <dt>string <var>k_id</var></dt> <dd>The item key. This depends on <var>id_purchase_item</var> of this array.</dd> </dl> Empty in case when purchase item not specified or form loaded from direct link.'
          schema:
            type: string
        - name: k_business
          in: query
          description: 'Business key within which quiz is managed.'
          schema:
            type: string
        - name: k_quiz
          in: query
          description: 'Quiz key.'
          schema:
            type: string
        - name: k_quiz_login
          in: query
          description: 'Quiz login key.'
          schema:
            type: string
        - name: uid_client
          in: query
          description: 'UID of the client for which quiz requested.'
          schema:
            type: string
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_access_log:
                    type: array[]
                    description: 'Access log data.'
                  a_element:
                    type: array
                    description: 'List of quiz elements. Each element responsible for one quiz question (inheritor of {@link \Core\Quiz\Element\ElementQuestionAbstract}) and contains array representation of individual question. Structure of each value depend on type of element and contains public arguments of responsible class element. Order of the elements in array corresponds to order of elements on the form.'
                  a_setting:
                    type: array
                    description: 'Quiz settings. Array representation of {@link QuizElementApi::$o_setting}.'
                  can_amend:
                    type: boolean
                    description: 'Whether user has privileges to amend form.'
                  i_responses:
                    type: number
                    format: int32
                    description: 'Number of responses for specific quiz.'
                  is_active:
                    type: boolean
                    description: 'Quiz active status. `true` if quiz is active. `false` if quiz is not active.'
                  is_imported:
                    type: boolean
                    description: '`true` if quiz is imported, `false` otherwise.'
                  k_business_type:
                    type: string|null
                    description: 'Business type key. Used only for forms in the system business. Primary key in the {@link \RsBusinessTypeSql} table. `null` if not initialized.'
                  show_numbering:
                    type: boolean
                    description: 'Whether to show numbering of the form elements that supports numbering. `true` to show numbering on the form for elements that supports numbering. `false` to not show numbering.'
                  text_title:
                    type: string
                    description: 'Quiz form title.'
                  url_quiz:
                    type: string
                    description: 'Direct URL to quiz.'
                  url_quiz_kiosk:
                    type: string
                    description: 'Kiosk direct URL to quiz.'
      tags:
        - Quiz-QuizElement
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                can_anonymous:
                  type: boolean
                  description: 'Checks whether unauthorized user should be permitted to operate with form and make a response. In general all quizzes should have users in response but it some cases such as registration process user might not exist yet, and we need ability to ignore check for user existence. `true` - add possibility load form and accept response for non-registered user, `false` otherwise.'
                is_simple:
                  type: boolean
                  description: 'Whether quiz response received by kiosk or direct mode link. `true` quiz response received by kiosk mode. `false` quiz response received by direct or direct mode.'
                json_element:
                  type: string
                  description: 'List of quiz elements in json format. Order of the element in array corresponds to order of elements on the form.'
                k_business:
                  type: string
                  description: 'Business key within which quiz is managed.'
                k_quiz:
                  type: string
                  description: 'Quiz key.'
                k_quiz_login:
                  type: string
                  description: 'Quiz login key.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_element:
                    type: array
                    description: 'List of quiz elements. Each element responsible for one quiz question (inheritor of {@link \Core\Quiz\Element\ElementQuestionAbstract}) and contains array representation of individual question. Structure of each value depend on type of element and contains public arguments of responsible class element. Order of the elements in array corresponds to order of elements on the form.'
                  a_setting:
                    type: array
                    description: 'Quiz settings. Array representation of {@link QuizElementApi::$o_setting}.'
                  is_active:
                    type: boolean
                    description: 'Quiz active status. `true` if quiz is active. `false` if quiz is not active.'
                  k_business_type:
                    type: string|null
                    description: 'Business type key. Used only for forms in the system business. Primary key in the {@link \RsBusinessTypeSql} table. `null` if not initialized.'
                  show_numbering:
                    type: boolean
                    description: 'Whether to show numbering of the form elements that supports numbering. `true` to show numbering on the form for elements that supports numbering. `false` to not show numbering.'
                  text_title:
                    type: string
                    description: 'Quiz form title.'
      tags:
        - Quiz-QuizElement
    put:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_business:
                  type: string
                  description: 'Business key within which quiz is managed.'
                k_quiz:
                  type: string
                  description: 'Quiz key.'
                k_quiz_login:
                  type: string
                  description: 'Quiz login key.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  a_setting:
                    type: array
                    description: 'Quiz settings. Array representation of {@link QuizElementApi::$o_setting}.'
                  is_active:
                    type: boolean
                    description: 'Quiz active status. `true` if quiz is active. `false` if quiz is not active.'
                  url_quiz:
                    type: string
                    description: 'Direct URL to quiz.'
                  url_quiz_kiosk:
                    type: string
                    description: 'Kiosk direct URL to quiz.'
      tags:
        - Quiz-QuizElement
  '/Wl/Review/Review.json':
    post:
      summary: 'Submits user''s review.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                i_rate:
                  type: int|null
                  description: 'The rating given to the location (1 to 5 stars). This will be `null` if not set yet.'
                k_location:
                  type: string|null
                  description: 'The key of a location. This will be `null` if not loaded yet.'
                k_visit:
                  type: string|null
                  description: 'Visit key. Can be `null` if the review is not connected to a visit.'
                s_text:
                  type: string|null
                  description: 'The text of the review. This will be `null` if not set yet.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  i_score:
                    type: number
                    format: int32
                    description: 'Reward score for leaving a review.'
                  i_score_facebook:
                    type: number
                    format: int32
                    description: 'Reward score for sharing a review on Facebook.'
                  i_score_twitter:
                    type: number
                    format: int32
                    description: 'Reward score for sharing a review on Twitter.'
                  is_score:
                    type: boolean
                    description: 'If a reward score for leaving a review exists.'
                  is_score_facebook:
                    type: boolean
                    description: 'If a reward score for sharing a review on Facebook exists.'
                  is_score_twitter:
                    type: boolean
                    description: 'If a reward score for sharing a review on Twitter exists.'
                  is_share_points:
                    type: boolean
                    description: 'If a reward score for sharing exists.'
                  is_share_points_none:
                    type: boolean
                    description: 'If a reward score does not exist for leaving a review or sharing the review.'
                  k_login_activity:
                    type: string
                    description: 'The key of the review writing activity. This will be empty if the review was saved but not published.'
                  k_review:
                    type: string
                    description: 'Review key.'
                  uid:
                    type: string
                    description: 'The UID of client who leaves review.'
                  url_share:
                    type: string
                    description: 'The sharing url of the review.'
      tags:
        - Review-Review
  '/Wl/Review/ReviewFeature.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_featured:
                  type: boolean
                  description: 'Determines if the review is featured.'
                k_business:
                  type: string
                  description: 'The business key.'
                k_review:
                  type: string
                  description: 'The review key.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Review-ReviewFeature
  '/Wl/Review/ReviewReply.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_review_status:
                  type: int|null
                  description: 'Status of the Review. One of {@link \RsReviewStatusSid} constants. `null` until passed to the api when admin replies to the review.'
                k_business:
                  type: string
                  description: 'Key of the business to which the review belongs. Empty string to defined business automatically, based on value of <tt>k_review</tt>. Although this value may be empty, this behavior is deprecated and will be removed in the future. You MUST pass key of the business always.'
                k_review:
                  type: string
                  description: 'The review key.'
                text_reply:
                  type: string
                  description: 'The reply text for review.'
      responses:
        200:
          description: 'Successful response. Full description is not available yet.'
      tags:
        - Review-ReviewReply
  '/Wl/Staff/StaffElement.json':
    post:
      summary: 'Update or create staff.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_location:
                  type: array|null
                  description: 'The list of locations where the staff member works. Each element is a location key. Primary key from {@link \RsLocationSql} table. `null` means to not change the current value of the field.'
                dl_end:
                  type: string|null
                  description: 'Employment end date. `null` means to not change the current value of the field.'
                dl_start:
                  type: string|null
                  description: 'Employment start date. `null` means to not change the current value of the field.'
                id_gender:
                  type: int|null
                  description: 'Gender of staff member. One of {@link \AGenderSid} constants. `null` means to not change the current value of the field or set gender by default for new staff.'
                id_role:
                  type: int|null
                  description: 'ID of the default system role. One of {@link \RsPrivilegeRoleSid}. `null` means to not change the current value of the field.'
                is_employ:
                  type: bool|null
                  description: 'Whether the staff is currently employed. `null` means to not change the current value of the field.'
                is_microsite:
                  type: bool|null
                  description: 'Determines whether the staff member be shown on the directory site of the business. If `null`, the current value of the field shouldn''t be changed.'
                is_password_set_disable:
                  type: boolean
                  description: 'Whether password set is disabled. `true` - if the email is associated to a client profile which has a password set, `false` - otherwise.'
                is_uid:
                  type: boolean
                  description: 'Whether the staff member can to sign in.'
                k_business:
                  type: string
                  description: 'The key of the business in which the staff member is being created or edited. This field is required.'
                k_business_role:
                  type: string|null
                  description: 'Business role key. Primary key in the {@link \RsBusinessRoleSql}. `null` if not set.'
                k_city:
                  type: string|null
                  description: 'City key. Primary key in {@link \AGeoSql} table. `null` means to not change the current value of the field.'
                k_location:
                  type: string|null
                  description: 'Home location key. Primary key in the {@link \RsLocationSql}. `null` if not set.'
                k_staff:
                  type: string|null
                  description: 'The key of the staff member who is being created or edited. This will be `null` in cases where a new staff member is created.'
                text_address:
                  type: string|null
                  description: 'Address. `null` means to not change the current value of the field.'
                text_biography:
                  type: string|null
                  description: 'Staff biography. `null` means to not change the current value of the field.'
                text_city:
                  type: string|null
                  description: 'Custom city title. `null` means to not change the current value of the field or <var>k_city</var> is specified.'
                text_email:
                  type: string|null
                  description: 'The staff member''s email address. This field is required when creating a new staff member. If `null`, the current value of the field shouldn''t be changed.'
                text_first_name:
                  type: string|null
                  description: 'The staff member''s first name. This field is required when creating a new staff member. If `null`, the current value of the field shouldn''t be changed.'
                text_last_name:
                  type: string|null
                  description: 'The staff member''s last name. If `null`, the current value of the field shouldn''t be changed.'
                text_password:
                  type: string|null
                  description: 'The password. This field is required when creating a new staff member. If `null`, the current value of the field shouldn''t be changed.'
                text_password_confirm:
                  type: string|null
                  description: 'Confirmation of the password. This field is required when creating a new staff member. If `null`, the current value of the field shouldn''t be changed.'
                text_phone_home:
                  type: string|null
                  description: 'Home phone. `null` means to not change the current value of the field.'
                text_phone_mobile:
                  type: string|null
                  description: 'Cell phone. `null` means to not change the current value of the field.'
                text_position:
                  type: string|null
                  description: 'The staff member''s job title. If `null`, the current value of the field shouldn''t be changed.'
                text_postal:
                  type: string|null
                  description: 'The staff member''s job title. If `null`, the current value of the field shouldn''t be changed.'
      responses:
        200:
          description: 'Successful response'
          content:
            application/json:
              schema:
                type: object
                properties:
                  k_staff:
                    type: string|null
                    description: 'The key of the staff member who is being created or edited. This will be `null` in cases where a new staff member is created.'
      tags:
        - Staff-StaffElement
  '/Wl/Video/VideoElement.json':
    delete:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_backend:
[...]
