openapi: 3.1.0
info:
  title: 'WellnessLiving public API'
  version: 1.1.20260626171900
  description: |
    WellnessLiving API is a RESTful way to access and manage your business data.
    Last updated at: 2026-06-26 17:19:00
servers:
  - url: https://us.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the United States data center'
  - url: https://au.wellnessliving.com
    description: 'WellnessLiving server for businesses served from the Australia data center'
paths:
  '/Thoth/PayHardware/HardwareStaffPreference.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_type:
                  type: [string, "null"]
                  description: 'Terminal type. One of {@link \Thoth\PayProcessor\Terminal\TerminalTypeSid} constants. `null` in case when not initialized yet or when `k_terminal` is set.'
                k_business:
                  type: [string, "null"]
                  description: 'Key of business to save preferred terminal. `null` in case when not initialized yet.'
                k_location:
                  type: [string, "null"]
                  description: 'Key of the location to save preferred terminal. `null` in case when not initialized yet.'
                k_terminal:
                  type: [string, "null"]
                  description: 'Terminal key. `null` in case when not initialized yet or when `id_type` is set.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - PayHardware-HardwareStaffPreference
  '/Studio/Build/BuildRevision.json':
    get:
      summary: ''
      parameters:
        - name: dtu_min
          in: query
          description: 'The minimum date/time of the revision in MySQL format.'
          schema:
            type: string
        - name: k_deploy_instance
          in: query
          description: 'Key of deployment instance. Primary key in {@link \StudioDeployInstanceSql} table.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_build_revision:
                        type: array
                        description: 'The list of build revision. <dl> <dt>string `dtu_date`</dt> <dd>Date/time of revision in Mysql format.</dd> <dt>int `i_build`</dt> <dd>The number of build.</dd> <dt>string `k_build`</dt> <dd>The key of build. Primary key in {@link \StudioBuildSql}.</dd> <dt>string `s_revision`</dt> <dd>Number of revision.</dd> </dl>'
      tags:
        - Build-BuildRevision
  '/Studio/Build/BuildAction.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_action:
                  type: number
                  format: int32
                  description: 'Action Id. One of {@link BuildActionSid} constants.'
                k_build:
                  type: string
                  description: 'Key of the build. Primary key from {@link \StudioBuildSql}.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Build-BuildAction
  '/Studio/Tests/Event.json':
    get:
      summary: 'Gets information about specific test event.'
      parameters:
        - name: k_test_file
          in: query
          description: 'Test file key.'
          schema:
            type: string
        - name: k_test_run
          in: query
          description: 'Test run key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      html_log:
                        type: string
                        description: 'Prepared log of the test.'
      tags:
        - Tests-Event
  '/Studio/Task/TaskInfo.json':
    get:
      summary: 'Retrieves information about studio task.'
      parameters:
        - name: k_studio_task
          in: query
          description: 'Key of the studio task. Primary key from {@link \StudioTaskSql} table.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_studio_sprint:
                        type: [string, "null"]
                        description: 'Key of the studio sprint. Primary key in {@link \Studio\Sprint\SprintSql} table, `null` - if not set.'
                      text_jira_key_parent:
                        type: string
                        description: 'Key of the parent jira task connected to studio task.'
      tags:
        - Task-TaskInfo
  '/Studio/Sprint/Sprint.json':
    get:
      summary: ''
      parameters:
        - name: k_project
          in: query
          description: 'Key of the studio project. Primary key in {@link \StudioProjectSql} table, <tt>null</tt> - if not set.'
          schema:
            type: [string, "null"]
        - name: k_task
          in: query
          description: 'Key of the studio task. Primary key in {@link \StudioTaskSql} table, <tt>null</tt> - if not set.'
          schema:
            type: [string, "null"]
        - name: k_task_parent
          in: query
          description: 'Key of the studio parent task. Primary key in {@link \StudioTaskSql} table, `null` - if not set.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_sprint:
                        type: array
                        description: 'A list of options of sprint: <dl> <dt>bool `is_selected`</dt> <dd><tt>true</tt> - if this sprint will be selected in the drop-down list, <tt>false</tt> - otherwise.</dd> <dt>string `k_sprint`</dt> <dd>Sprint key. Primary key {@link \Studio\Sprint\SprintSql} table.</dd> <dt>string `text_title`</dt> <dd>Name of the sprint.</dd> </dl>'
      tags:
        - Sprint-Sprint
  '/Studio/Sprint/SprintElement.json':
    delete:
      summary: ''
      parameters:
        - name: k_sprint
          in: query
          description: 'Sprint key. Primary key in {@link \Studio\Sprint\SprintSql} table.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Sprint-SprintElement
    get:
      summary: ''
      parameters:
        - name: k_sprint
          in: query
          description: 'Sprint key. Primary key in {@link \Studio\Sprint\SprintSql} table.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      id_state:
                        type: number
                        format: int32
                        description: 'State of the sprint. One of {@link \Studio\Sprint\State\SprintStateSid} constants.'
                      k_project:
                        type: [string, "null"]
                        description: 'Project key. Primary key in {@link \StudioProjectSql} table.'
                      text_title:
                        type: string
                        description: 'Name of the sprint.'
      tags:
        - Sprint-SprintElement
    post:
      summary: ''
      parameters:
        - name: k_sprint
          in: query
          description: 'Sprint key. Primary key in {@link \Studio\Sprint\SprintSql} table.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_state:
                  type: number
                  format: int32
                  description: 'State of the sprint. One of {@link \Studio\Sprint\State\SprintStateSid} constants.'
                k_project:
                  type: [string, "null"]
                  description: 'Project key. Primary key in {@link \StudioProjectSql} table.'
                text_title:
                  type: string
                  description: 'Name of the sprint.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Sprint-SprintElement
  '/Studio/Sprint/SprintList.json':
    get:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'A list of studio sprints.'
      tags:
        - Sprint-SprintList
  '/Studio/Personnel/LoginCheck.json':
    get:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      s_login:
                        type: [string, "null"]
                        description: 'User login. `null` - user not logged in.'
                      s_password:
                        type: string
                        description: 'One time password.'
      tags:
        - Personnel-LoginCheck
  '/Studio/Personnel/Key.json':
    post:
      summary: 'Gets repository key for user.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_login:
                  type: string
                  description: 'User login.'
                s_repository:
                  type: string
                  description: 'Repository name.'
                s_user_password:
                  type: string
                  description: 'One time password for user.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      s_password:
                        type: string
                        description: 'Password for repository key.'
                      s_private:
                        type: string
                        description: 'Private repository key.'
      tags:
        - Personnel-Key
  '/Studio/Personnel/Password.json':
    put:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_password:
                  type: string
                  description: 'Temporary password.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Personnel-Password
  '/Studio/Personnel/Personnel.json':
    get:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_personnel:
                        type: array
                        description: 'A list of studio''s personnel, where key is key of the personnel and value is name of the personnel.'
      tags:
        - Personnel-Personnel
  '/Studio/SeleniumCluster/SeleniumCluster.json':
    get:
      summary: 'Gets a list of clusters and servers.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_cluster:
                        type: [array, "null"]
                        description: 'Information about clusters and count of reserved browsers for each cluster. <dl> <dt>int `i_server_count`</dt> <dd>Number of reserved browsers.</dd> <dt>string `text_testing_cluster`</dt> <dd>Test cluster identifier.</dd> </dl>'
                      a_server:
                        type: [array, "null"]
                        description: 'Information about servers. <dl> <dt>int `i_count_active`</dt> <dd>Number of active browsers.</dd> <dt>int `i_count_all`</dt> <dd>Number of active+passive browsers.</dd> <dt>int `i_count_failed`</dt> <dd>Number of failed browsers.</dd> <dt>int `i_count_ready`</dt> <dd>Number of passive browsers.</dd> <dt>int `i_count_starting`</dt> <dd>Number of starting browsers.</dd> <dt>int `id_state`</dt> <dd> Selenium instance state. One of the constants of the {@link \Core\Testing\Selenium\WebEmulator\WebEmulatorServerStateSid} class. </dd> <dt>string|null `ip_private`</dt> <dd> Private IP address of the Selenium server. <tt>null</tt> if <var>id_state</var> field is equal to {@link \Core\Testing\Selenium\WebEmulator\WebEmulatorServerStateSid::STARTING}. </dd> <dt>string|null `ip_public`</dt> <dd> Public IP address of the Selenium server. <tt>null</tt> if <var>id_state</var> field is equal to {@link \Core\Testing\Selenium\WebEmulator\WebEmulatorServerStateSid::STARTING}. </dd> <dt>string `k_web_emulator_server`</dt> <dd> Key of selenium server. Primary key in {@link \Core\Testing\Selenium\WebEmulator\WebEmulatorServerSql} table. </dd> <dt>string `s_server`</dt> <dd>The Amazon EC2 instance ID.</dd> <dt>string `text_state`</dt> <dd> Selenium instance state title. The title of one of the constants of the {@link \Core\Testing\Selenium\WebEmulator\WebEmulatorServerStateSid} class. </dd> </dl>'
      tags:
        - SeleniumCluster-SeleniumCluster
    post:
      summary: 'Actions with the servers.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_action:
                  type: number
                  format: int32
                  description: 'Server action id. One of {@link SeleniumClusterActionSid} constants.'
                is_auto_disable:
                  type: [boolean, "null"]
                  description: 'Is automatic server management disabled. When `true` - automatic server management will be disabled. When `false` - automatic server management will be enabled.'
                s_server:
                  type: [string, "null"]
                  description: 'The Amazon EC2 instance ID.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - SeleniumCluster-SeleniumCluster
  '/Studio/Ip/IpGet.json':
    get:
      summary: 'Get current IP.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      ip_v4:
                        type: string
                        description: 'Current IPv4.'
                      ip_v6:
                        type: string
                        description: 'Current IPv6.'
      tags:
        - Ip-IpGet
  '/Studio/Ip/AccessAcquire.json':
    put:
      summary: 'Acquires access from current IP address of a staff member to specified service.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_ip_service:
                  type: string
                  description: 'Key of the service to manage. Primary key in {@link \Studio\Ip\Service\ServiceSql}.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Ip-AccessAcquire
  '/Studio/Ip/AccessRevoke.json':
    put:
      summary: 'Revokes access from current IP address of a staff member to specified service.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                k_ip_service:
                  type: string
                  description: 'Key of the service to manage. Primary key in {@link \Studio\Ip\Service\ServiceSql}.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Ip-AccessRevoke
  '/Studio/Ip/AccessType.json':
    put:
      summary: 'Saves information about access type of current staff member to specified service.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_access:
                  type: number
                  format: int32
                  description: 'Type of access of current staff member to specified service. One of {@link \Studio\Ip\AccessSid} constants.'
                k_ip_service:
                  type: string
                  description: 'Key of the service to manage.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Ip-AccessType
  '/Studio/Ip/Info.json':
    put:
      summary: 'Saves information about an IP address.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_timeout:
                  type: number
                  format: int32
                  description: 'Timeout of IP address. One of {@link \Studio\Ip\TimeoutSid} constants. <tt>null</tt> to leave this field unchanged.'
                is_office:
                  type: [boolean, "null"]
                  description: 'Whether this IP address is used in the office. <tt>null</tt> to leave this field unchanged.'
                text_comment:
                  type: [string, "null"]
                  description: 'Comment on IP address. <tt>null</tt> if comment should not be changed.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Ip-Info
  '/Studio/Ip/PersonalSetting.json':
    put:
      summary: 'Update personal settings.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                is_favorite:
                  type: boolean
                  description: 'Whether the service is marked as favorite. `true` means marked as favorite, `false` otherwise.'
                k_ip_service:
                  type: [string, "null"]
                  description: 'The service for which the settings will be updated. Primary key in {@link Service\ServiceSql}. `null` if the service is not specified.'
                text_comment:
                  type: string
                  description: 'The comment on the service.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Ip-PersonalSetting
  '/Studio/Stand/Stand.json':
    delete:
      summary: 'Marks a stand as deleted. Renames the stand record with a removal timestamp suffix to prevent name conflicts, and sets the removal date. Called by the build server after stand servers are removed.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
    get:
      summary: 'Returns stand data by name. Retrieves stand status and deserialized stand data for the specified stand name. Verifies that the current user has access to the stand''s project.'
      parameters:
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_stand_data:
                        type: [array, string, "null"]
                        description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                      id_stand_status:
                        type: [number, "null"]
                        description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
      tags:
        - Stand-Stand
    post:
      summary: 'Registers a new stand and generates a URL for its creation. Validates the microservice environment configuration, creates a stand record, and returns a build URL to trigger stand creation.'
      parameters:
        - name: k_microservice_primary
          in: query
          description: 'Primary microservice for the stand. The main microservice from which the stand is created; other microservices can be added if they are compatible with the primary one, see {@link StandApi::$json_stand_environment}. `null` if value is not defined. If the information is not provided as a request parameter, the stand will not be created.'
          schema:
            type: [string, "null"]
        - name: k_task
          in: query
          description: 'Task key within which a stand should be created. `null` if not defined, in this case the stand name must be specified manually in {@link StandApi::$s_stand}.'
          schema:
            type: [string, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
                json_stand_environment:
                  type: [string, "null"]
                  description: 'A microservice environment for create stand. Each element of the array contains `null` if the value is not defined. If the information is not provided as a request parameter, the stand will not be created. <dl> <dt>string `k_microservice`</dt> <dd>Microservice key. Primary key in {@link \Studio\Microservice\MicroserviceSql} table.</dd> <dt>string `s_environment`</dt> <dd>Environment name. See {@link \Studio\Microservice\MicroserviceSql}.`json_path`.</dd> </dl>'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_redirect:
                        type: string
                        description: 'Link to redirect for stand creation.'
      tags:
        - Stand-Stand
    put:
      summary: 'Updates stand status and stand data. Updates `id_stand_status` or `a_stand_data` for the specified stand. When the stand becomes ready and both data centers are configured, triggers builds on each.'
      parameters:
        - name: id_stand_status
          in: query
          description: 'Stand status, one of {@link StandStatusSid}. `null` if not initialized and will be ignored.'
          schema:
            type: [number, "null"]
        - name: s_stand
          in: query
          description: 'Stand name. If a task is specified when creating a stand (the {@link StandApi::$k_task} field), then the name of the new stand is determined from the branch of this task and is linked to this task. In all other cases, the stand name must be specified explicitly. `null` if the value is not defined. If the stand name is not specified, stand management is not possible. When creating a stand, the stand name can also be obtained from the task key {@link StandApi::$k_task}. If neither the stand name nor the task key is specified, the stand cannot be created.'
          schema:
            type: [string, "null"]
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_stand_data:
                  type: [array, string, "null"]
                  description: 'Information about entities necessary for the functioning of the stand. <i>Structure of an array is identical to the `z_stand_data` field of the {@link StandSql} table.</i> `string` if it needs to set an empty value. `null` will not change.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Stand-Stand
  '/Core/All/Version.json':
    get:
      summary: 'Retrieves current application version number.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      s_version:
                        type: string
                        description: 'Current application version number.'
      tags:
        - All-Version
  '/Core/Prg/PrgKeyword.json':
    get:
      summary: ''
      parameters:
        - name: id_mode
          in: query
          description: 'Mode for load keyword. One of {@link \Core\Prg\PrgKeywordModeSid} constants.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_keyword:
                        type: array
                        description: 'List of keywords.'
      tags:
        - Prg-PrgKeyword
  '/Core/Request/RequestForward.json':
    get:
      summary: 'Forwards this API request to all datacenters. Multiple datacenters are not configured on testing servers.'
      parameters:
        - name: s_forward
          in: query
          description: 'Example string which may be used to see if data is correctly forwarded.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_forward:
                        type: array
                        description: 'Copy of {@link RequestForwardApi::$s_forward}. Key is datacenter ID. One of {@link AmazonRegionSid} constants. Values are copies of {@link RequestForwardApi::$s_forward} as seen on that datacenter. Value is not set if {@link RequestForwardApi::$s_forward} is `null`.'
                      a_region:
                        type: array
                        description: 'A list of datacenters to which the request was forwarded. One element is region ID, one of {@link AmazonRegionSid} constants.'
                      a_uid:
                        type: array
                        description: 'Keys users signed in. Key is datacenter ID. One of {@link AmazonRegionSid} constants. Values are copies of results of {@link passport_uid()} on that datacenter.'
      tags:
        - Request-RequestForward
  '/Core/Request/Example.json':
    get:
      summary: 'Returns the example result for debugging. A diagnostic endpoint used to verify that a given API connection is working correctly. Increments the input argument by one (confirming round-trip data flow), records a debug log entry with the current session and authentication context, and returns the log key so the caller can inspect it.'
      parameters:
        - name: i_argument
          in: query
          description: 'Example argument.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      i_result:
                        type: number
                        format: int32
                        description: 'Example result.'
                      s_log:
                        type: string
                        description: 'Key of the log record written by the API controller.'
      tags:
        - Request-Example
  '/Core/Passport/UidUuid.json':
    post:
      summary: ''
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_uid:
                  type: array
                  description: 'Indexed array of user UIDs.'
                a_uuid:
                  type: array
                  description: 'Indexed array of UUIDs.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_uid_uuid:
                        type: array
                        description: 'Associative array where key is UID (as string) and value is UUID (UUIDv8 string). Contains merged and converted data from both input arrays.'
      tags:
        - Passport-UidUuid
  '/Core/Studio/KeySecret.json':
    get:
      summary: 'Gets a secret key for signing.'
      parameters:
        - name: s_csrf
          in: query
          description: 'The CSRF code from the client side.'
          schema:
            type: string
        - name: s_key_session
          in: query
          description: 'The session key.'
          schema:
            type: string
        - name: url_origin
          in: query
          description: 'Origin for client requests.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      s_key_secret:
                        type: string
                        description: 'The secret key for the request signing.'
      tags:
        - Studio-KeySecret
  '/Core/Geo/GeoAddress.json':
    get:
      summary: 'Gets name of city and keys of GEO country and region.'
      parameters:
        - name: k_geo_city
          in: query
          description: 'Geo city key. Primary key in the {@link \AGeoSql} table.'
          schema:
            type: [string, "null"]
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_geo_country:
                        type: [string, "null"]
                        description: 'Geo country key. Primary key in the {@link \AGeoSql} table.'
                      k_geo_region:
                        type: [string, "null"]
                        description: 'Geo region key. Primary key in the {@link \AGeoSql} table.'
                      text_city:
                        type: [string, "null"]
                        description: 'Name of the city.'
      tags:
        - Geo-GeoAddress
  '/Core/Geo/Combobox.json':
    get:
      summary: 'Returns a list of cities to show in combobox list. Powers city autocomplete dropdowns in address forms. Returns up to 100 cities whose names start with the given fragment, each labelled as "City, Region, Country". Pass a locale to restrict results to a single country, or omit it to search worldwide.'
      parameters:
        - name: id_locale
          in: query
          description: 'The locale ID used as a filter. The locale is generally a country. One of the {@link LocaleSid} constants. This will be `0` if all locations are searched.'
          schema:
            type: number
            format: int32
        - name: s_value
          in: query
          description: 'The city name (or a fragment of the city name) used for the search.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'A list of items to show in the combobox list. Each element of the array is a city matching the string with the following structure: <dl> <dt>string `s_value`</dt> <dd>The human-readable name of the city, including the state/province and country.</dd> <dt>string `s_key`</dt> <dd>The <var>k_city</var> value for the city.</dd> </dl>'
      tags:
        - Geo-Combobox
  '/Core/Geo/GeoTimezone.json':
    get:
      summary: 'Gets timezone by time offset.'
      parameters:
        - name: i_timezone_offset_minutes
          in: query
          description: 'Time offset in minutes.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      k_timezone:
                        type: [string, "null"]
                        description: 'Timezone key. <tt>null</tt> if can''t determine.'
      tags:
        - Geo-GeoTimezone
  '/Core/Geo/GeoPosition.json':
    get:
      summary: 'Gets current geo position.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      f_latitude:
                        type: number
                        format: float
                        description: 'Latitude coordinate.'
                      f_longitude:
                        type: number
                        format: float
                        description: 'Longitude coordinate.'
                      k_city:
                        type: string
                        description: 'City primary key in {@link \AGeoSql} table.'
      tags:
        - Geo-GeoPosition
  '/Core/Sid/CoreSid.json':
    get:
      summary: 'Returns the list of all items for the given Sid class. Populates enumeration dropdowns and lookup tables on the frontend. <i> Given any class that extends {@link CoreSid}, returns every defined constant with its numeric ID, string identifier, and human-readable title so the client does not need to hard-code enum values. </i>'
      parameters:
        - name: s_class_name
          in: query
          description: 'Name of the Sid class to get list from. Should be a fully qualified class name. <i>Class should be a child of {@link CoreSid}.</i>'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_list:
                        type: array
                        description: 'List of items. Keys are IDs, values are arrays with additional information: <dl> <dt>int `sid`</dt> <dd>String ID.</dd> <dt>string `text_title`</dt> <dd>Title of the ID.</dd> </dl>'
      tags:
        - Sid-CoreSid
  '/Core/WebSocket/Subscribe.json':
    post:
      summary: 'Checks whether a listener can subscribe to specified channel. Subscribes in a case of positive result. Called by the WebSocket client immediately after a connection is established, to register interest in a specific channel (identified by CID and key fields). If the current user is not permitted to receive events on that channel, the subscription is rejected. On success, any messages already queued for the channel are returned so the client does not miss events that arrived before the subscription was set up.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_key:
                  type: array
                  description: 'Keys of the channel. Key is name of a key field in a channel controller. Value is its value. Subscriber will only receive notifications about events in which all these values equal values specified here. Parameters for `60`: <dl> <dt>string `k_personnel`</dt> <dd>Key of a staff member.</dd> <dt>string `kip`</dt> <dd>Key of IP address from which this staff member accesses the system.</dd> </dl> Parameters for `1921`: <dl> <dt>int `id_visit`</dt> <dd>Visit status ID. One of {@link \Wl\Visit\VisitSid} constants.</dd> <dt>string `k_business`</dt> <dd>Key of a business.</dd> <dt>string `uid`</dt> <dd>Key of the user.</dd> </dl> Parameters for `1583`: <dl> <dt>string `k_channel`</dt> <dd>Messenger channel key.</dd> </dl> Parameters for `1342`: <dl> <dt>string `k_business`</dt> <dd>Key of a business.</dd> <dt>string `uid_receiver`</dt> <dd>Key of the user.</dd> </dl> Parameters for `688`: <dl> <dt>string `dtu_class_period`</dt> <dd>Class schedule session date.</dd> <dt>string `k_appointment`</dt> <dd>Appointment key.</dd> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `k_class_period`</dt> <dd>Class schedule key.</dd> <dt>string `k_visit`</dt> <dd>Visit key.</dd> <dt>string `s_secret`</dt> <dd>Visit secret key.</dd> </dl> Parameters for `1869`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid_receiver`</dt> <dd>User key who will receive message.</dd> </dl> Parameters for `735`: <dl> <dt>string|null `k_business`</dt> <dd>Key of a business to which report to subscribe. `null` for system-wide businesses.</dd> <dt>string `s_report`</dt> <dd> Key of a report to subscribe to. <i>Hex-encoded value of {@link \Thoth\ReportCore\Generator\ReportStorageListSql}.<tt>z_report</tt>.</i> </dd> </dl> Parameters for `1005`: <dl> <dt>string|null `k_microservice`</dt> <dd>Microservice key. `null` if the value is not set</dd> </dl> Parameters for `1105`: <dl> <dt>string `uid`</dt> <dd>Current user key.</dd> </dl> Parameters for `19`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1850`: <dl> <dt>int `id_import_custom`</dt> <dd>ID of custom import process. One of {@link \Wl\Import\Custom\CustomSid} constants.</dd> <dt>string `k_business`</dt> <dd>Business key within which import is progressing.</dd> </dl> Parameters for `298`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `305`: <dl> <dt>string `k_location`</dt> <dd>Location where session booked or cancelled.</dd> </dl> Parameters for `1660`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `510`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `842`: <dl> <dt>string `k_business`</dt> <dd>Business in which the report was generated.</dd> <dt>string `uid`</dt> <dd>User who requested the report generation.</dd> </dl> Parameters for `1543`: <dl> <dt>int `id_report`</dt> <dd>ID of the report.</dd> <dt>string `k_business`</dt> <dd>Business key in which the report was monitoring.</dd> </dl> Parameters for `1163`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_actor`</dt> <dd>Key of the actor.</dd> </dl> Parameters for `16`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `977`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid`</dt> <dd>UID of the client for which failed to send SMS.</dd> </dl> Parameters for `677`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1834`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1820`: <dl> <dt>string `k_business`</dt> <dd>Key of a business.</dd> </dl> Parameters for `1657`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> </dl> Parameters for `1421`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant.</dd> <dt>string `k_pay_transaction`</dt> <dd>Pay transaction key, which was used to create ticket.</dd> <dt>string `s_ticket_id`</dt> <dd>Gateway Ticket ID.</dd> </dl> Parameters for `523`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `uid`</dt> <dd>User key.</dd> </dl> Parameters for `960`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_actor`</dt> <dd>Key of the actor. <tt>admin</tt> - for WebSocket channel for which admins subscribed.</dd> </dl> Parameters for `41`: <dl> <dt>string `k_location`</dt> <dd>Location key.</dd> <dt>string `uid`</dt> <dd>User-receiver of response.</dd> </dl> Parameters for `34`: <dl> <dt>string `uid_response`</dt> <dd>Key of user who can grant access to location.</dd> </dl> Parameters for `57`: <dl> <dt>string `k_location`</dt> <dd>Key of location access to which was requested.</dd> <dt>string `uid_request`</dt> <dd>Key of user who requested access to location.</dd> </dl> Parameters for `828`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> <dt>string `s_id`</dt> <dd>Key of the task where addresses should be verified.</dd> </dl> Parameters for `1736`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `k_business_merchant`</dt> <dd>Key of the business merchant.</dd> <dt>string `k_pay_transaction`</dt> <dd>Pay transaction key, which was used to create ticket.</dd> <dt>string `s_exchange_identification`</dt> <dd>Gateway exchange identification.</dd> </dl> Parameters for `549`: <dl> <dt>string `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `952`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid`</dt> <dd>UID of the client.</dd> </dl> Parameters for `963`: <dl> <dt>string `k_business`</dt> <dd>Key of the business.</dd> <dt>string `uid_receiver`</dt> <dd>Key of the user.</dd> </dl>'
                cid_channel:
                  type: number
                  format: int32
                  description: 'Channel controller CID.'
                s_password:
                  type: string
                  description: 'Subscriber password.'
                s_token:
                  type: string
                  description: 'Request token. This token is only used for asynchronous functions, and identifies a specific request.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_message_broadcast:
                        type: array
                        description: 'All messages in queue. Key is a message key. Value is message data. When a client is initially subscribed for a WebSocket channel, entire message queue is sent to the client. This is needed to send message that were generated before a client has subscribed. Parameters for `60`: <dl> <dt>string|null `dt_remove`</dt> <dd>Date/time when access to specified service will be revoked. <tt>null</tt> if access is revoked.</dd> <dt>string `k_ip_service`</dt> <dd>Key of a service that is changed.</dd> </dl> Parameters for `1921`: <dl> <dt>string `k_visit`</dt> <dd>Key of a book/visit.</dd> </dl> Parameters for `1583`: <dl> <dt>array `a_data`</dt> <dd> New information for messenger. <dl> <dt>array `message`</dt> <dd> Message information: <dl> <dt>int `id`</dt> <dd>Message key.</dd> <dt>string `message`</dt> <dd>Message text.</dd> <dt>string `updated_at`</dt> <dd>Date/time when the message has been posted.</dd> </dl> </dd> <dt>array `user_profile`</dt> <dd> User''s information: <dl> <dt>int `id_gender`</dt> <dd>User gender. One of {@link \Wl\Gender\GenderSid} constants.</dd> <dt>string `s_first_name`</dt> <dd>User first name.</dd> <dt>string `s_last_name`</dt> <dd>User last name.</dd> <dt>string `uid`</dt> <dd>User key. <i>Primary key in the {@link \PassportLoginSql} table.</i></dd> <dt>string `url_photo`</dt> <dd>URL of the user''s profile photo.</dd> </dl> </dd> </dl> </dd> </dl> Parameters for `1342`: <dl> <dt>int `i_unread_alert`</dt> <dd>The count with unread alert for the user.</dd> <dt>bool `is_active`</dt> <dd>Whether message is active. This is needed to avoid showing previous messages on page reload.</dd> <dt>bool `is_message`</dt> <dd>Whether this is an alert for an SMS message</dd> <dt>bool `is_sound`</dt> <dd>Whether the user should hear a sound when a notification is sent.</dd> <dt>string|null `k_alert`</dt> <dd>Key of the alert that was just sent. <tt>null</tt> means alert was read.</dd> </dl> Parameters for `688`: <dl> <dt>string `url_redirect`</dt> <dd>Url link to redirect to join virtual meeting.</dd> </dl> Parameters for `733`: <dl> <dt>string|null `k_business`</dt> <dd>Business key.</dd> </dl> Parameters for `1869`: <dl> <dt>int `i_overdue`</dt> <dd>Number of overdue tasks.</dd> <dt>int `id_task_status`</dt> <dd>New task status of the changed task. One of {@link \Wl\Task\TaskStatusSid}.</dd> <dt>string `k_task`</dt> <dd>Key of the changed task.</dd> </dl> Parameters for `735`: <dl> <dt>int `i_cas_change`</dt> <dd> A CAS (compare-and-swap) number that allows to track changes in the report storage. This number is changed every time content of the report gets updated. If this number is not changed, the content is not updated. <i>Copy of {@link \Thoth\ReportCore\Generator\ReportStorageListSql}.<tt>i_cas_change</tt>.</i> </dd> <dt>int `id_report_status`</dt> <dd>Status of this report. One of {@link \Thoth\ReportCore\Generator\ReportGeneratorStatusSid} constants.</dd> </dl> Parameters for `1005`: <dl> <dt>string[] `a_op`</dt> <dd> Names of operation that were executed. Operation names are defined by <tt>OP_*</tt> constants of {@link \Studio\Sprint\Promoting\PromotingChannel}. </dd> <dt>string|null `s_step`</dt> <dd>Name of the step that was set. `null` if step has not changed.</dd> <dt>string|null `text_log`</dt> <dd> A new log item was added during execution of a script. Text of the log item that was just added. `null` if this message does not contain information about newly added log item. </dd> </dl> Parameters for `1105`: <dl> <dt>string `s_code`</dt> <dd>Code for authorization.</dd> <dt>int `text_time`</dt> <dd>Unique string for get code.</dd> </dl> Parameters for `19`: <dl> <dt>string `text_title`</dt> <dd>New title of the business.</dd> </dl> Parameters for `1850`: <dl> <dt>int `i_complete`</dt> <dd>Number of successfully processed items.</dd> <dt>int `i_fail`</dt> <dd>Number of failed items.</dd> <dt>int `i_left`</dt> <dd>Number of items left to process.</dd> <dt>string `k_import`</dt> <dd>Key of the import being processing.</dd> <dt>string `url_log`</dt> <dd>Url link to download log file with import progress.</dd> </dl> Parameters for `298`: <dl> <dt>string `dt_end_local`</dt> <dd>End of change interval. Empty string if change interval has no end.</dd> <dt>string `dt_start_local`</dt> <dd>Start of change interval.</dd> <dt>string|null `k_class_tab_new`</dt> <dd> New "Book now" tab primary key in {@link \Wl\Classes\Tab\TabSid} table. <tt>null</tt> means system default tab. </dd> <dt>string|null `k_class_tab_old`</dt> <dd> Old "Book now" tab primary key in {@link \Wl\Classes\Tab\TabSid} table. <tt>null</tt> means system default tab. </dd> </dl> Parameters for `305`: <dl> <dt>string `dtl_end`</dt> <dd>Session end date/time.</dd> <dt>string `dtl_start`</dt> <dd>Session start date/time.</dd> <dt>string|null `k_appointment`</dt> <dd> Key of the changed appointment. Is set only if changed session is appointment. `null` if changed session is not an appointment. </dd> <dt>string|null `k_class_period`</dt> <dd> Key of the changed class session. Is set only if changed session is class. `null` if changed session is not a class. </dd> </dl> Parameters for `510`: <dl> <dt>array `a_visit`</dt> <dd> New data of changes schedule item: <dl> <dt>string `dtl_end`</dt> <dd>Date/time of end.</dd> <dt>string `dtl_start`</dt> <dd>Date/time of start.</dd> <dt>bool `is_cancel`</dt> <dd><tt>true</tt> if book was canceled; <tt>false</tt> otherwise.</dd> <dt>string `s_key`</dt> <dd>Book key. <i>Primary key in {@link \RsVisitSql} table.</i></dd> <dt>string `text_address`</dt> <dd>Address of location.</dd> <dt>string `text_location`</dt> <dd>Title of location.</dd> <dt>string `text_note`</dt> <dd>Description of event.</dd> <dt>string `text_title`</dt> <dd>Title of event.</dd> <dt>string `url`</dt> <dd>URL of virtual service. Empty if the visit is not virtual.</dd> </dl> </dd> </dl> Parameters for `842`: <dl> <dt>int `i_generation`</dt> <dd>Duration of the generation of the report in seconds.</dd> <dt>int `id_report`</dt> <dd>ID of the report that was generated. One of the {@link \RsReportSid} constants.</dd> <dt>bool `is_need_show`</dt> <dd>Whether need to display a message about report generation, regardless of the generation time.</dd> <dt>string `k_report_accumulation`</dt> <dd>Report accumulation.</dd> <dt>string `text_report`</dt> <dd>Title of the report that was generated.</dd> </dl> Parameters for `1163`: <dl> <dt>bool `is_active`</dt> <dd>Whether message is active. This is needed to avoid showing previous messages on page reload.</dd> <dt>bool|null `is_booking_in_progress`</dt> <dd> Whether booking is in progress. <i>This property will contain value from {@link \Wl\Book\Multiple\MultipleTaskSession::verify()} method, can be null.</i> </dd> </dl> Parameters for `16`: <dl> <dt>string `text_title`</dt> <dd>New title of the business.</dd> </dl> Parameters for `977`: <dl> <dt>string `html_error_message`</dt> <dd>The text of the error.</dd> <dt>string `s_key`</dt> <dd>The unique key of the sent SMS.</dd> <dt>int `tl_send`</dt> <dd>The time in UNIX format when socket message was sent.</dd> </dl> Parameters for `677`: <dl> <dt>int `id_mail_verify_status`</dt> <dd> Status of mail verification. One of the {@link \Wl\Mail\Verify\MailVerifyStatusSid} constants. Or {@link \Wl\Business\Config\Option\MailVerifyStatusOption::DEFAULT_VALUE} if option "Enable Custom Reply To Emails" in Business -> Feature is disabled. </dd> <dt>string `text_email`</dt> <dd>Email address to check.</dd> </dl> Parameters for `1834`: <dl> <dt>array `a_domain_token`</dt> <dd> List of email domain tokens: Empty array if the business does not have a mail domain set up. <dl> <dt>int `id_status`</dt> <dd>Status of the token. One of {@link \Wl\Mail\Domain\DomainVerifyStatusSid} constants.</dd> <dt>string `text_host`</dt> <dd>Host part of the token, which should be added to the DNS records.</dd> <dt>string `text_icon_class`</dt> <dd>CSS class for the icon representing the token status.</dd> <dt>string `text_status`</dt> <dd>Text representation of the token status.</dd> <dt>string `text_type`</dt> <dd>Type of the token. One of {@link \Wl\Mail\Domain\DomainTokenTypeSid} constants in text representation.</dd> <dt>string `text_value`</dt> <dd>Value of the token, which should be added to the DNS records.</dd> </dl> </dd> <dt>int|null `id_domain_status`</dt> <dd>Email domain status. `null` if the business does not have a mail domain set up.</dd> <dt>string `text_domain_status_icon`</dt> <dd> CSS class for the icon representing the email domain status. Empty string if the business does not have a mail domain set up. </dd> </dl> Parameters for `1820`: <dl> <dt>string|null `k_login_type`</dt> <dd>Key of the client type. `null` if client type is not set.</dd> <dt>string `uid`</dt> <dd>Key of the user.</dd> </dl> Parameters for `1421`: <dl> <dt>int|null `id_card_system`</dt> <dd> Card type ID. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>int|null `id_pay_exception`</dt> <dd>Transaction exception ID. `null` if no errors occurred.</dd> <dt>int|null `id_ticket_status`</dt> <dd>Ticket status. `null` if not set yet.</dd> <dt>string `m_tip`</dt> <dd>Amount of tips entered by customer on terminal.</dd> <dt>string|null `s_card_holder`</dt> <dd> Cardholder name. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `s_expire`</dt> <dd> Card expiration date. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `s_last4`</dt> <dd> Last four digits of the card number. Not `null` when {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusChannel::$id_ticket_status} is equal {@link \Thoth\PayProcessor\DirectConnect\Ticket\DirectConnectTicketStatusSid::COMPLETE}. </dd> <dt>string|null `text_message`</dt> <dd>Text message to notify the client. `null` until initialized.</dd> </dl> Parameters for `523`: <dl> <dt>array `a_visit`</dt> <dd> New data of changes schedule item: <dl> <dt>string `dtl_end`</dt> <dd>Date/time of end.</dd> <dt>string `dtl_start`</dt> <dd>Date/time of start.</dd> <dt>bool `is_cancel`</dt> <dd><tt>true</tt> if book was canceled; <tt>false</tt> otherwise.</dd> <dt>string `s_key`</dt> <dd>Book key. <i>Primary key in {@link \RsVisitSql} table.</i></dd> <dt>string `text_location`</dt> <dd>Title of location.</dd> <dt>string `text_note`</dt> <dd>Description of event.</dd> <dt>string `text_title`</dt> <dd>Title of event.</dd> <dt>string `url`</dt> <dd>URL of virtual service. Empty if the visit is not virtual.</dd> </dl> </dd> </dl> Parameters for `960`: <dl> <dt>int `i_unread_sms`</dt> <dd>The count with unread SMS in the business.</dd> </dl> Parameters for `41`: <dl> <dt>bool `is_grant`</dt> <dd><tt>true</tt> - access is granted; <tt>false</tt> - denied.</dd> <dt>string `text_full_name`</dt> <dd>Full name of user-receiver of response.</dd> <dt>float `tu_send`</dt> <dd>The time in seconds with fractional part in UNIX format when socket message was sent.</dd> </dl> Parameters for `34`: <dl> <dt>bool `is_close`</dt> <dd> `true` if the request has been already processed (question window must not be shown); `false` otherwise (question window must be shown). </dd> <dt>string `k_location`</dt> <dd>Location key.</dd> <dt>string `text_full_name`</dt> <dd>Name of the user requesting access.</dd> <dt>string `text_location`</dt> <dd>Location title.</dd> <dt>string `uid_request`</dt> <dd>Key of user who request access to location.</dd> </dl> Parameters for `57`: <dl> <dt>bool `is_inactive`</dt> <dd> `true` if a new assess request has been sent (question window must be not closed); `false` otherwise (question window must be closed). </dd> </dl> Parameters for `828`: <dl> <dt>array `a_invalid`</dt> <dd> List of users for which address verification failed. <dl> <dt>array `a_address`</dt> <dd> Address information. <i>See {@link \Core\Geo\AddressEntity::toArray()} for details.</i> <dl> <dt>string `text_address`</dt> <dd>Address string.</dd> <dt>string `text_city`</dt> <dd>City title.</dd> <dt>string `text_country`</dt> <dd>Country title.</dd> <dt>string `text_postal`</dt> <dd>Postal address.</dd> <dt>string `text_state`</dt> <dd>State.</dd> </dl> </dd> <dt>bool `is_address`</dt> <dd>Whether address string is specified.</dd> <dt>bool `is_checked`</dt> <dd>`true` if address check, `false` otherwise.</dd> <dt>string `text_email`</dt> <dd>User email address.</dd> <dt>string `text_name`</dt> <dd>User name.</dd> <dt>string `text_phone`</dt> <dd>User phone number.</dd> <dt>string `text_note`</dt> <dd>Note.</dd> <dt>string `uid`</dt> <dd>User key.</dd> <dt>string `url`</dt> <dd>Link to user profile.</dd> <dt>string `url_image`</dt> <dd>Link to user image.</dd> </dl> </dd> <dt>array `a_valid`</dt> <dd> List of users for which address verification succeed. <dl> <dt>array `a_address`</dt> <dd> Address information. <i>See {@link \Core\Geo\AddressEntity::toArray()} for details.</i> <dl> <dt>string `text_address`</dt> <dd>Address string.</dd> <dt>string `text_city`</dt> <dd>City title.</dd> <dt>string `text_country`</dt> <dd>Country title.</dd> <dt>string `text_postal`</dt> <dd>Postal address.</dd> <dt>string `text_state`</dt> <dd>State.</dd> </dl> </dd> <dt>bool `is_address`</dt> <dd>Whether address string is specified.</dd> <dt>bool `is_checked`</dt> <dd>`true` if address check, `false` otherwise.</dd> <dt>string `text_email`</dt> <dd>User email address.</dd> <dt>string `text_name`</dt> <dd>User name.</dd> <dt>string `text_phone`</dt> <dd>User phone number.</dd> <dt>string `text_note`</dt> <dd>Note.</dd> <dt>string `uid`</dt> <dd>User key.</dd> <dt>string `url`</dt> <dd>Link to user profile.</dd> <dt>string `url_image`</dt> <dd>Link to user image.</dd> </dl> </dd> </dl> Parameters for `1736`: <dl> <dt>int|null `id_card_system`</dt> <dd> Card type ID. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>int|null `id_card_type`</dt> <dd> Card type ID. `null` If were unable to determine the card type. See {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\Entity\OCservice\PaymentResponseEntity::$id_card_type}. </dd> <dt>int|null `id_pay_exception`</dt> <dd>Transaction exception ID. `null` if no errors occurred.</dd> <dt>int|null `id_payment_status`</dt> <dd>Payment status. `null` if not set yet.</dd> <dt>string|null `m_tip`</dt> <dd>Tip amount entered by the customer at the terminal. `null` if not initialized yet.</dd> <dt>string|null `s_last4`</dt> <dd> Last four digits of the card number. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>string|null `text_card_holder`</dt> <dd> Cardholder name. Not `null` when {@link \Thoth\PayProcessor\Nuvei\Terminal\OMNIChannelApi\PaymentStatusChannel::$id_payment_status} is equal {@link \Thoth\PayProcessor\Nuvei\Code\CSResponseSid::APPROVED}. </dd> <dt>string|null `text_message`</dt> <dd>Text message to notify the client. `null` until initialized.</dd> </dl> Parameters for `549`: <dl> <dt>float `f_progress`</dt> <dd>Accumulation process progress.</dd> </dl> Parameters for `952`: <dl> <dt>array `a_info`</dt> <dd> An array with information about SMS: <dl> <dt>string `dtl_message`</dt> <dd>Date and time, when SMS messages were sent, in MySQL format.</dd> <dt>bool `is_automated`</dt> <dd><tt>true</tt> if SMS was sent from task, <tt>false</tt> - if the staff member sent SMS.</dd> <dt>bool `is_outbound`</dt> <dd><tt>true</tt> if staff member sent SMS, <tt>false</tt> - if the client sent the SMS.</dd> <dt>string `k_sms_history`</dt> <dd>The key of SMS history. <i>Primary key in {@link \ASmsHistorySql} table.</i></dd> <dt>string `sid_sms_status`</dt> <dd>Sid of the SMS status.</dd> <dt>string `text_date`</dt> <dd>The day when SMS messages were sent.</dd> <dt>string `text_sender_name`</dt> <dd>The sender''s name.</dd> <dt>string `text_sms_body`</dt> <dd>The body of the SMS.</dd> <dt>string `text_sms_status`</dt> <dd>The title of the SMS status.</dd> <dt>string `text_sms_type`</dt> <dd>The title of the mail type.</dd> <dt>string `text_time`</dt> <dd>The time when SMS was sent.</dd> <dt>string|null `uid_sender`</dt> <dd>The UID of the sender, <tt>null</tt> - if SMS sent from task.</dd> </dl> </dd> <dt>string `s_key`</dt> <dd> The unique key of sent SMS from 2-way SMS chat. The key need to update SMS information in the chat after sent SMS to client. </dd> </dl> Parameters for `963`: <dl> <dt>array `a_info`</dt> <dd> An array with information about dialog: <dl> <dt>string `dtl_last_activity`</dt> <dd>The date and time of the last SMS in the dialog.</dd> <dt>int `i_unread_sms`</dt> <dd>A count of unread messages.</dd> <dt>bool `is_inbound`</dt> <dd>Whether the last SMS is inbound or not.</dd> <dt>string `text_last_sms`</dt> <dd>The text of last sms.</dd> <dt>string `uid`</dt> <dd>The UID of the client. <i>Primary key in {@link \PassportLoginSql} table.</i></dd> </dl> </dd> <dt>int `tl_send`</dt> <dd>The time in UNIX format when socket message was sent.</dd> </dl>'
      tags:
        - WebSocket-Subscribe
  '/Core/Push/Push.json':
    post:
      summary: 'Adds new device ID for push notifications. Does nothing if user {@link PushApi::$uid} already has devise ID {@link PushApi::$s_id}.'
      parameters:
        - name: s_application_id
          in: query
          description: 'Application ID. For example ''com.wellnessliving.com''.'
          schema:
            type: string
        - name: s_id
          in: query
          description: 'Device ID.'
          schema:
            type: string
        - name: sid_system
          in: query
          description: 'OS name. String version of {@link \APushOsSid} constants.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'User key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Push-Push
  '/Core/Captcha/CaptchaRequire.json':
    get:
      summary: 'Checks if a CAPTCHA is required for the given captcha type. Used before rendering a form that may include a CAPTCHA widget. The caller supplies the captcha type (identified by CID) and any constructor arguments it needs; the response tells the frontend whether to show the challenge at all and which reCAPTCHA version is active.'
      parameters:
        - name: a_arguments
          in: query
          description: 'Arguments for creating CAPTCHA object. <i>Structure can be missing in case when no configured captcha in environment.</i> Parameters for `1064`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if system business.</dd> </dl> Parameters for `1066`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1072`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1139`: <dl> <dt>string|null `k_business`</dt> <dd>Business key. `null` if is system business.</dd> </dl> Parameters for `1508`: <dl> <dt>bool `is_search`</dt> <dd> Flag to determine is it a search action or no. If search action is `true` it increments {@link \Wl\Business\Search\BusinessSearchCaptcha::$ip_actor}. Otherwise {@link \Wl\Business\Search\BusinessSearchCaptcha::$s_back_action}. </dd> </dl>'
          schema:
            type: array
        - name: cid_captcha
          in: query
          description: 'The CID of the CAPTCHA.'
          schema:
            type: number
            format: int32
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_enable_v3:
                        type: boolean
                        description: '`true` if enabled V3 captcha enabled. `false` if only V2 captcha enable.'
                      is_require:
                        type: boolean
                        description: 'This will be `true` if a CAPTCHA is required. Otherwise, this will be `false`.'
      tags:
        - Captcha-CaptchaRequire
  '/Core/Debug/Error.json':
    post:
      summary: 'Logs new error occurred in browser.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                a_error_list:
                  type: [array, string]
                  description: 'List of errors. For structure see {@link Core_Debug_ErrorModel.a_error_list}. JSON-encoded array mary arrive as a `string`.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Debug-Error
  '/Core/Google/GoogleCoordinate.json':
    get:
      summary: 'Gets geo coordinates from address using Google Maps.'
      parameters:
        - name: s_address
          in: query
          description: 'Address to get geo position for.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      f_latitude:
                        type: number
                        format: float
                        description: 'Latitude coordinate.'
                      f_longitude:
                        type: number
                        format: float
                        description: 'Longitude coordinate.'
      tags:
        - Google-GoogleCoordinate
  '/Core/Google/LoginLink.json':
    get:
      summary: 'Returns a link for a user to sign in with Google+.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      url_redirect:
                        type: string
                        description: 'A link for a user to sign in with Google+.'
      tags:
        - Google-LoginLink
  '/Core/Google/GoogleCaptcha.json':
    put:
      summary: 'Saves the user CAPTCHA token for the current session. Accepts the CAPTCHA version, the action name, and the user token obtained from the Google reCAPTCHA widget, and stores them in the session so that subsequent API requests requiring CAPTCHA verification can use them.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_version:
                  type: number
                  format: int32
                  description: 'Captcha version ID.'
                text_action:
                  type: string
                  description: 'The action name. Used to determine the place where the CAPTCHA is needed in documentation for endpoints that used the CAPTCHA.'
                text_token:
                  type: string
                  description: 'The user token CAPTCHA.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Google-GoogleCaptcha
  '/Core/Cms/TranslateState.json':
    put:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Cms-TranslateState
  '/Social/Microsoft/Login.json':
    delete:
      summary: 'Removes the association between a website client and a Microsoft account. Accepts the user''s UID, verifies that the caller is the account owner, and unlinks the Microsoft account from the user''s profile.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
    get:
      summary: 'Collects data for the Microsoft login button. Called when rendering the "Sign in with Microsoft" button. Generates the OAuth 2.0 authorization URL the button must link to. When a UID is provided, also reports whether that user already has a Microsoft account linked, so the frontend can show "Link" or "Unlink" instead of the default sign-in label.'
      parameters:
        - name: uid
          in: query
          description: 'The client for whom the Microsoft account will be unlinked.'
          schema:
            type: string
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      is_exists:
                        type: boolean
                        description: 'If `true`, the user has a bound Microsoft account. Otherwise, this will be `false`.'
                      url_login:
                        type: string
                        description: 'The Microsoft OAuth 2.0 authorization link.'
      tags:
        - Microsoft-Login
    post:
      summary: 'Signs a user in with Microsoft. Accepts the Microsoft authorization code, an optional state parameter for CSRF verification, and an optional redirect URI. Validates the state, exchanges the code for user identity, and signs the user in or creates a new account.'
      parameters:
        - name: is_external
          in: query
          description: 'If authorization is performed in a third-party application, set this flag in case of authorization errors.'
          schema:
            type: boolean
        - name: url_redirect
          in: query
          description: 'The Redirect URI for external applications. The link to the page on which Microsoft will return the result after authorization. * All possible links must be registered in the Microsoft application used for authorization. * WARNING: Do not use this link for a direct redirect. This will present a vulnerability. * A {@link LoginApi::$url_login} link will be generated along with this redirect URI. * When checking the received {@link LoginApi::$s_code} from Microsoft. The link must be sent along with it to the {@link LoginApi::post()} method.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                s_code:
                  type: string
                  description: 'The authorization code that the app requested.'
                s_state:
                  type: string
                  description: 'If a state parameter is included in the request, the same value should appear in the response. The app should verify that the state values in the request and response are identical.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - Microsoft-Login
  '/Wl/Visit/VisitStatus.json':
    get:
      summary: 'Gets visit status. Returns full details for the specified visit, including date, duration, staff, location, virtual service join URL, assigned resources, downloadable calendar data, and whether the visit can still be cancelled. Handles class, appointment, and gym visit types. Used to render the visit detail view and action buttons in the client portal.'
      parameters:
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: k_timezone
          in: query
          description: 'The time zone key. `null` if not set then use default timezone client. <i>See {@link ProfileTimezone::createInBusiness()}.</i>'
          schema:
            type: ["null", string]
        - name: k_visit
          in: query
          description: 'The visit key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_cancel:
                        type: array
                        description: 'Information about whether the given user can cancel an online booking and what consequences the cancellation would have: <dl> <dt>array|null `a_penalty`</dt> <dd> `null` if penalty must be not applied. <dl> <dt>bool `is_flat`</dt> <dd>`true` in a case of flat penalty type; `false` in a case of percentage penalty type.</dd> <dt>string `k_currency`</dt> <dd>Currency <i>primary key in {@link \RsCurrencySql} table</i>.</dd> <dt>string `m_amount`</dt> <dd>Penalty amount.</dd> </dl> </dd> <dt>bool `can_cancel`</dt> <dd>`true` if the booking can be canceled online by the specified user, `false` otherwise.</dd> <dt>bool `is_flag`</dt> <dd>`true` if the client''s account will be flagged instead of charging a monetary fee, `false` otherwise.</dd> <dt>bool `is_late`</dt> <dd>`true` if the cancellation would be considered a late cancel, `false` otherwise.</dd> <dt>bool `is_refund`</dt> <dd> `true` if the visit credit (from the purchase option used to book) will be returned to the user''s profile after cancellation, `false` otherwise. </dd> </dl>'
                      a_resource:
                        type: [array, "null"]
                        description: 'An array of service resources. The key refers to the `k_resource_type`. <i>See {@link \RsResourceTypeSql}.</i> The value is an array with the following key: `k_resource`. <i>See {@link \RsResourceSql}</i>. The array element contains a nested array with `i_index` and `i_quantity`. <i>See {@link \RsResourceBusySql}</i>. This will be empty if not set yet.'
                      a_resource_alias:
                        type: [array, "null"]
                        description: 'An array of service resources. Contains an extended data set, as well as a different format than {@link VisitStatusApi::$a_resource}. Each element contains the following set of data: <dl> <dt>string `k_resource`</dt> <dd>Resource <i>primary key in {@link \RsResourceSql} table</i>.</dd> <dt>string `k_resource_type`</dt> <dd>Resource type <i>primary key in {@link \RsResourceTypeSql} table</i>.</dd> <dt>int `i_index`</dt> <dd>Index of the resource on the layout.</dd> <dt>int `i_quantity`</dt> <dd>Quantity of the resource on the layout.</dd> <dt>string `text_alias`</dt> <dd>Resource''s custom name (alias) on the layout.</dd> <dt>string `text_title`</dt> <dd>Resource''s title.</dd> </dl>'
                      a_staff:
                        type: array
                        description: 'The list of keys of staff members that conduct the class.'
                      a_uid_staff:
                        type: array
                        description: 'The list of user IDs of staff members that conduct the class.'
                      dt_date:
                        type: string
                        description: 'The visit date and time in UTC and in MySQL format.'
                      dtl_date:
                        type: string
                        description: 'The visit date in the location''s time zone and in MySQL format.'
                      i_duration:
                        type: number
                        format: int32
                        description: 'The service duration (in minutes).'
                      i_wait_spot:
                        type: number
                        format: int32
                        description: 'The client''s place in a waiting list.'
                      id_mode:
                        type: number
                        format: int32
                        description: 'The source of the visit or the visit change. One of the {@link ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                      id_visit:
                        type: number
                        format: int32
                        description: 'The status of the visit. One of the {@link VisitSid} constants.'
                      is_event:
                        type: boolean
                        description: 'Determines whether the visit is from an event.'
                      is_request:
                        type: boolean
                        description: 'Whether this visit is requested and requires staff confirmation. * `true` - visit is requested. * `false` - visit is confirmed or denied or this is a system request.'
                      k_class:
                        type: string
                        description: 'The class key.'
                      k_class_period:
                        type: string
                        description: 'The class period key.'
                      k_location:
                        type: string
                        description: 'The key of the location where visit provides.'
                      k_service:
                        type: [string, "null"]
                        description: 'The service key. If ''null'', the visit isn''t from an appointment.'
                      k_staff:
                        type: [string, "null"]
                        description: 'The key of the staff providing the appointment. If `null`, the visit isn''t from an appointment (for example, the visit is from an asset).'
                      s_calendar_file_content:
                        type: string
                        description: 'The .ics file for adding the service to a phone calendar.'
                      text_abbr_timezone:
                        type: string
                        description: 'The text abbreviation of the time zone.'
                      text_location:
                        type: string
                        description: 'The full address of the location for the visit (not the name of the location).'
                      text_staff:
                        type: string
                        description: 'The full name of the staff member who conducts this visit. If there are several staff members conducting the visit, their names will all be listed and separated by commas.'
                      text_title:
                        type: string
                        description: 'The service title.'
                      uid:
                        type: [string, "null"]
                        description: 'User key who made a visit. `null` for a guest visit.'
                      uid_staff:
                        type: [string, "null"]
                        description: 'The ID of the user who is the staff providing the appointment. If `null`, the visit isn''t from an appointment (for example, the visit is from an asset).'
                      url_book_referral:
                        type: [string, "null"]
                        description: 'The direct link to start class/event booking on the WellnessLiving website. `null` for appointments/events/gym visits.'
                      url_book_referral_short:
                        type: [string, "null"]
                        description: 'The shortened direct link to start class/event booking on the WellnessLiving website. `null` for appointments/events/gym visits.'
                      url_virtual_service:
                        type: string
                        description: 'URL of virtual service. Empty if the visit is not virtual.'
      tags:
        - Visit-VisitStatus
    post:
      summary: 'Changes visit status. Applies a status transition to the specified visit (for example, check-in, no-show, or cancellation). Supports optimistic concurrency via an expected-from status, optional late-cancel fee charging, and client notification flags. Requires backend access or appropriate staff privileges.'
      parameters:
        - name: is_charge_fee
          in: query
          description: 'The staff decision to charge (or not charge) a penalty when a client meets late cancel/no-show requirements. If `true`, a late cancel fee should be charged. Otherwise, this will be `false`.'
          schema:
            type: boolean
        - name: k_business
          in: query
          description: 'The business key.'
          schema:
            type: string
        - name: k_mail_pattern_live
          in: query
          description: 'The email pattern key. If `null`, the live email pattern shouldn''t be used.'
          schema:
            type: [string, "null"]
        - name: k_visit
          in: query
          description: 'The visit key.'
          schema:
            type: string
        - name: text_reason
          in: query
          description: 'The reason the visit was canceled.'
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                id_mode:
                  type: number
                  format: int32
                  description: 'The source of the visit or the visit change. One of the {@link ModeSid} constants. If you''re unsure about the value to use, keep the default value.'
                id_visit:
                  type: number
                  format: int32
                  description: 'The status of the visit. One of the {@link VisitSid} constants.'
                id_visit_from:
                  type: [number, "null"]
                  description: 'The status of the visit from which the transition is made. One of the {@link VisitSid} constants. If the visit status is passed, it will be used to check with the actual status in the database. If `null`, the visit hasn''t yet passed. If the status of this parameter is out of date, the API call will refresh it.'
                is_mail:
                  type: boolean
                  description: 'Whether to send email notification. `true` - email notification will be sent. `false` - email notification will not be sent.'
                is_push:
                  type: boolean
                  description: 'Whether to send push notification. `true` - push notification will be sent. `false` - push notification will not be sent.'
                is_sms:
                  type: boolean
                  description: 'Whether to send sms notification. `true` - sms notification will be sent. `false` - sms notification will not be sent.'
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
                  - type: object
                    description: 'Error response.'
                    properties:
                      id_visit_from:
                        type: [number, "null"]
                        description: 'The status of the visit from which the transition is made. One of the {@link VisitSid} constants. If the visit status is passed, it will be used to check with the actual status in the database. If `null`, the visit hasn''t yet passed. If the status of this parameter is out of date, the API call will refresh it.'
      tags:
        - Visit-VisitStatus
  '/Wl/Visit/VisitTotalCount.json':
    get:
      summary: 'Returns the total visit count for the user at the business.'
      parameters:
        - name: k_business
          in: query
          description: 'Business key.'
          schema:
            type: string
        - name: uid
          in: query
          description: 'User key.'
          schema:
            type: string
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      i_visit_total:
                        type: number
                        format: int32
                        description: 'Total number of visits. Sum of attended visits in {@link \RsVisitSql} and historical visits in {@link VisitHistoricalCountSql}.'
      tags:
        - Visit-VisitTotalCount
  '/Wl/ClassPass/BusinessList.json':
    delete:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response. Full description is not available yet.'
      tags:
        - ClassPass-BusinessList
    get:
      summary: ''
      responses:
        200:
          description: 'Response always comes with status 200. Inspect the rest of the response body to determine the result.'
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: 'Successful response.'
                    properties:
                      a_pagination:
                        type: array
                        description: 'See {@link BusinessListData::toClassPass()} for documentation.'
                      a_partner_list:
                        type: array
[...]
